Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

phpcbf:
  name: PHP Code Beautifier and Fixer
  entry: ./vendor/bin/phpcbf
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors
  language: system

phpcs:
  name: PHP CodeSniffer
  entry: ./vendor/bin/phpcs
  language: system
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors

php-l:
  name: php -l
  entry: php
  language: system
  args:
  - -l

assert-UnityHTTPD-used:
  name: Assert UnityHTTPD functions are used
  entry: bash ./test/assert-UnityHTTPD-used.bash
  language: system

assert-utils-used:
  name: Assert utils are used
  entry: bash ./test/assert-utils-used.bash
  language: system

assert-exceptions-used:
  name: Assert exceptions are used
  entry: bash ./test/assert-exceptions-used.bash
  language: system

assert-forbidden-used:
  name: Assert forbidden() is used
  entry: bash ./test/assert-forbidden-used.bash
  language: system

explicit
  resources/lib/UnityGroup.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

fix mail recipient
  resources/lib/UnityUser.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

update convention
  CONTRIBUTING.md
Due: none

migration instructions
  README.md
Due: none

add type declaration
  resources/lib/UnityUser.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

"modifier" -> "flag"
  README.md
  defaults/config.ini.default
  resources/init.php
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  resources/lib/UnityUser.php
  resources/mail/user_flag_added.php
  resources/mail/user_flag_added_admin.php
  resources/mail/user_flag_removed.php
  resources/mail/user_flag_removed_admin.php
  test/functional/PIBecomeApproveTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/ViewAsUserTest.php
  test/phpunit-bootstrap.php
  webroot/admin/ajax/get_group_members.php
  webroot/admin/ajax/get_page_contents.php
  webroot/admin/content.php
  webroot/admin/notices.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

add new posixGroups to LDAP, group OUs together
  tools/docker-dev/identity/bootstrap.ldif
Due: none

modifiers
  defaults/config.ini.default
  resources/init.php
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  resources/lib/UnityUser.php
  test/functional/PIBecomeApproveTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/ViewAsUserTest.php
  test/phpunit-bootstrap.php
  webroot/admin/ajax/get_group_members.php
  webroot/admin/ajax/get_page_contents.php
  webroot/admin/content.php
  webroot/admin/notices.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

setup mail templates
  .pre-commit-config.yaml
  resources/lib/UnityGroup.php
  resources/lib/UnityUser.php
  resources/mail/user_dequalified.php
  resources/mail/user_modifier_added.php
  resources/mail/user_modifier_added_admin.php
  resources/mail/user_modifier_removed.php
  resources/mail/user_modifier_removed_admin.php
  resources/mail/user_qualified.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

1st draft
  defaults/config.ini.default
  resources/lib/UnityLDAP.php
  resources/lib/UnityUser.php
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove unused functions
  resources/lib/UnityLDAP.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

move to enum
  CONTRIBUTING.md
  resources/init.php
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  resources/lib/UnityUser.php
  resources/mail/user_flag_added.php
  resources/mail/user_flag_added_admin.php
  resources/mail/user_flag_removed.php
  resources/mail/user_flag_removed_admin.php
  test/functional/PIBecomeApproveTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/ViewAsUserTest.php
  test/phpunit-bootstrap.php
  webroot/admin/ajax/get_group_members.php
  webroot/admin/ajax/get_page_contents.php
  webroot/admin/content.php
  webroot/admin/notices.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

add missing semicolon
  resources/mail/user_modifier_added.php
  resources/mail/user_modifier_added_admin.php
  resources/mail/user_modifier_removed.php
  resources/mail/user_modifier_removed_admin.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

fix phpunit notice
  test/functional/SSHKeyAddTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

Update resources/lib/UnityLDAP.php
  resources/lib/UnityLDAP.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

Update test/phpunit-bootstrap.php
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

get value of enum
  resources/lib/UnityLDAP.php
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

user flag groups (#396)
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  defaults/config.ini.default
  resources/init.php
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  resources/lib/UnityUser.php
  resources/mail/user_dequalified.php
  resources/mail/user_flag_added.php
  resources/mail/user_flag_added_admin.php
  resources/mail/user_flag_removed.php
  resources/mail/user_flag_removed_admin.php
  resources/mail/user_qualified.php
  test/functional/PIBecomeApproveTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/SSHKeyAddTest.php
  test/functional/ViewAsUserTest.php
  test/phpunit-bootstrap.php
  tools/docker-dev/identity/bootstrap.ldif
  webroot/admin/ajax/get_group_members.php
  webroot/admin/ajax/get_page_contents.php
  webroot/admin/content.php
  webroot/admin/notices.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

restructure weird structure
  test/functional/SSHKeyAddTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

simplify ssh key adding behavior
  test/functional/SSHKeyAddTest.php
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

wip
  resources/lib/UnityUser.php
  test/functional/SSHKeyAddTest.php
  test/functional/SSHKeyDeleteTest.php
  test/phpunit-bootstrap.php
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

dry
  resources/lib/UnityUser.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

fix bug
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

tweak regex, comment
  resources/lib/UnityUser.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add badRequest default case
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

message for key removed
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

move logic inside UnityUser
  resources/lib/UnityUser.php
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

simpler regex, valueerror
  resources/lib/UnityUser.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

return array
  resources/lib/utils.php
Due: php-l, assert-UnityHTTPD-used, assert-exceptions-used

less code, better output, slower
  resources/lib/UnityUser.php
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

rewrite testValidSSHKey
  resources/lib/utils.php
Due: php-l, assert-UnityHTTPD-used, assert-exceptions-used

fix test
  test/functional/SSHKeyAddTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

log + message
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

fix bug, return less information
  resources/lib/UnityUser.php
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

handle 0 github keys
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

sshkeyexists 1st draft
  resources/lib/UnityUser.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

show more characters in shortened key
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

expect exception
  test/functional/SSHKeyDeleteTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

shorten key before adding to message
  resources/lib/utils.php
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

Path conditions:
  phpcbf: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/lib/.*|
)$

  phpcs: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/lib/.*|
)$

  php-l: any of: \.php$
  assert-UnityHTTPD-used: any of: \.php$, but not: (?x)^(
    resources/lib/UnityHTTPD\.php|
    workers/.*|
)$

  assert-utils-used: any of: \.php$, but not: ^resources/lib/utils\.php$
  assert-exceptions-used: any of: ^resources/.*\.php$, but not: ^resources/lib/UnityHTTPD\.php$
  assert-forbidden-used: any of: ^webroot/admin/.*\.php$
