Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

phpcbf:
  name: PHP Code Beautifier and Fixer
  entry: ./vendor/bin/phpcbf
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors
  language: system

phpcs:
  name: PHP CodeSniffer
  entry: ./vendor/bin/phpcs
  language: system
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors

php-l:
  name: php -l
  entry: php
  language: system
  args:
  - -l

assert-UnityHTTPD-used:
  name: Assert UnityHTTPD functions are used
  entry: bash ./test/assert-UnityHTTPD-used.bash
  language: system

assert-utils-used:
  name: Assert utils are used
  entry: bash ./test/assert-utils-used.bash
  language: system

assert-exceptions-used:
  name: Assert exceptions are used
  entry: bash ./test/assert-exceptions-used.bash
  language: system

assert-forbidden-used:
  name: Assert forbidden() is used
  entry: bash ./test/assert-forbidden-used.bash
  language: system

fix nickname
  test/functional/PIBecomeApproveTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

fix function name
  workers/update-qualified-users-group.php
Due: php-l, assert-utils-used

Update resources/mail/group_reenabled.php
  resources/mail/group_reenabled.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

assert not isPI()
  test/functional/PIDisableTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

uncomment
  test/functional/PIDisableTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

test cases moved to other PR
  test/functional/RegisterUserTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

handle edge case no members
  resources/lib/UnityGroup.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

update phpunit-bootstrap
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

Update resources/lib/UnityGroup.php
  resources/lib/UnityGroup.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

Update tools/docker-dev/identity/unity-cluster-schema.ldif
  tools/docker-dev/identity/unity-cluster-schema.ldif
Due: none

disband, reinstate PI groups
  LDAP.md
  README.md
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  resources/lib/UnityOrg.php
  resources/lib/UnityUser.php
  resources/mail/group_disabled.php
  resources/mail/group_reenabled.php
  test/functional/PIBecomeApproveTest.php
  test/functional/PIDisableTest.php
  test/functional/RegisterUserTest.php
  tools/docker-dev/identity/Dockerfile
  tools/docker-dev/identity/bootstrap.ldif
  tools/docker-dev/identity/unity-cluster-schema.ldif
  webroot/admin/pi-mgmt.php
  webroot/panel/pi.php
  workers/group_user_request_owner_reminder.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

update function name
  workers/update-qualified-users-group.php
Due: php-l, assert-utils-used

assert _preg_match is used
  test/assert-utils-used.bash
  workers/unity-course.php
Due: php-l, assert-utils-used

remove extra args (#551)
  workers/unity-course.php
Due: php-l, assert-utils-used

fix _preg_match
  resources/lib/utils.php
Due: php-l, assert-UnityHTTPD-used, assert-exceptions-used

phpstan level 7 (#557)
  phpstan.neon
  resources/lib/UnityLDAP.php
  resources/lib/UnityWebhook.php
  resources/lib/utils.php
  test/assert-utils-used.bash
  test/functional/SSHKeyAddTest.php
  test/functional/WorkerRemoveUsersFromGroupTest.php
  test/functional/WorkerUnityCourseTest.php
  test/phpunit-bootstrap.php
  workers/unity-course.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add more type info to utils
  resources/lib/utils.php
Due: php-l, assert-UnityHTTPD-used, assert-exceptions-used

add more type info to utils (#558)
  resources/lib/utils.php
Due: php-l, assert-UnityHTTPD-used, assert-exceptions-used

phpstan level 8
  phpstan.neon
  resources/lib/UnityHTTPD.php
  resources/lib/UnityLDAP.php
  test/functional/PIRemoveUserTest.php
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

fix bugs
  resources/lib/UnityGroup.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

cast for phpstan
  resources/lib/UnityGroup.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

revert non-phpstan-related changes
  resources/lib/UnityLDAP.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

phpstan level 8 (#559)
  phpstan.neon
  resources/lib/UnityHTTPD.php
  resources/lib/UnityLDAP.php
  test/functional/PIRemoveUserTest.php
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

cast for phpstan
  resources/lib/UnityLDAP.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

cast different
  resources/lib/UnityLDAP.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

disband, reinstate PI groups (#520)
  LDAP.md
  README.md
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  resources/lib/UnityOrg.php
  resources/lib/UnityUser.php
  resources/mail/group_disabled.php
  resources/mail/group_reenabled.php
  test/functional/PIBecomeApproveTest.php
  test/functional/PIDisableTest.php
  test/functional/RegisterUserTest.php
  test/phpunit-bootstrap.php
  tools/docker-dev/identity/Dockerfile
  tools/docker-dev/identity/bootstrap.ldif
  tools/docker-dev/identity/unity-cluster-schema.ldif
  webroot/admin/pi-mgmt.php
  webroot/panel/modal/new_pi.php
  webroot/panel/pi.php
  workers/group_user_request_owner_reminder.php
  workers/update-qualified-users-group.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

Revert "disband, reinstate PI groups (#520)"
  LDAP.md
  README.md
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  resources/lib/UnityOrg.php
  resources/lib/UnityUser.php
  resources/mail/group_disband.php
  resources/mail/group_reenabled.php
  test/functional/PIBecomeApproveTest.php
  test/functional/PIDisableTest.php
  test/functional/RegisterUserTest.php
  test/phpunit-bootstrap.php
  tools/docker-dev/identity/Dockerfile
  tools/docker-dev/identity/bootstrap.ldif
  tools/docker-dev/identity/unity-cluster-schema.ldif
  webroot/admin/pi-mgmt.php
  webroot/panel/modal/new_pi.php
  webroot/panel/pi.php
  workers/group_user_request_owner_reminder.php
  workers/update-qualified-users-group.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

update readme
  README.md
Due: none

rename variable
  resources/lib/UnityLDAP.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove test
  test/functional/PIDisableTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

fix test
  test/functional/PIDisableTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

Path conditions:
  phpcbf: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/lib/.*|
)$

  phpcs: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/lib/.*|
)$

  php-l: any of: \.php$
  assert-UnityHTTPD-used: any of: \.php$, but not: (?x)^(
    resources/lib/UnityHTTPD\.php|
    workers/.*|
)$

  assert-utils-used: any of: \.php$, but not: ^resources/lib/utils\.php$
  assert-exceptions-used: any of: ^resources/.*\.php$, but not: ^resources/lib/UnityHTTPD\.php$
  assert-forbidden-used: any of: ^webroot/admin/.*\.php$
