Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

.pre-commit-config.yaml:

# pre-commit automatically excludes submodules
# exclude: |
#   (?x)^(
#       test/.*|
#   )$

repos:
  # auto formatters (no work required) #############################################################
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        # https://github.com/prettier/plugin-php/issues/2430
        exclude: workers/.*

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.4.2
    hooks:
      - id: prettier
        exclude: |
          (?x)^(
              composer\.json|
              composer\.lock|
          )$

  - repo: local
    hooks:
      - id: phpcbf
        name: PHP Code Beautifier and Fixer
        entry: ./vendor/bin/phpcbf
        args: [--standard=./.phpcs-ruleset.xml, --colors]
        language: system
        files: \.php$
        # exclude pure PHP files
        exclude: |
          (?x)^(
              test/.*|
              workers/.*|
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/lib/.*|
          )$

  - repo: local
    hooks:
      - id: prettier (php)
        name: prettier (php)
        entry: npx
        args:
          [prettier, --plugin=@prettier/plugin-php, --php-version=8.3, --write]
        language: system
        files: \.php$
        # exclude impure PHP files
        exclude: |
          (?x)^(
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/templates/.*|
              webroot/.*|
          )$

  # linters (work required) ########################################################################
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-xml
      - id: check-added-large-files
      - id: check-executables-have-shebangs

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.23.1
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: phpcs
        name: PHP CodeSniffer
        entry: ./vendor/bin/phpcs
        language: system
        files: \.php$
        args: [--standard=./.phpcs-ruleset.xml, --colors]
        # exclude pure PHP files
        exclude: |
          (?x)^(
              test/.*|
              workers/.*|
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/lib/.*|
          )$
      - id: php-l
        name: php -l
        entry: php
        language: system
        files: \.php$
        args: [-l]
      - id: assert-UnityHTTPD-used
        name: Assert UnityHTTPD functions are used
        entry: bash ./test/assert-UnityHTTPD-used.bash
        language: system
        files: \.php$
        exclude: |
          (?x)^(
              resources/lib/UnityHTTPD\.php|
              workers/.*|
          )$
      - id: assert-utils-used
        name: Assert utils are used
        entry: bash ./test/assert-utils-used.bash
        language: system
        files: \.php$
        exclude: ^resources/lib/utils\.php$
      - id: assert-exceptions-used
        name: Assert exceptions are used
        entry: bash ./test/assert-exceptions-used.bash
        language: system
        files: ^resources/.*\.php$
        exclude: ^resources/lib/UnityHTTPD\.php$

remove duplicated code from UnityGroup/UnityOrg
  resources/lib/UnityGroup.php
  resources/lib/UnityOrg.php
  resources/lib/UnityUser.php
  test/functional/AccountDeletionRequestTest.php
  test/functional/PIMemberRequestTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/PiMemberDenyTest.php
  test/functional/PiRemoveUserTest.php
  test/phpunit-bootstrap.php
  webroot/panel/ajax/get_group_members.php
  webroot/panel/groups.php
  workers/remove-users-from-group.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

change function names
  resources/lib/UnityGroup.php
  resources/lib/UnityOrg.php
  resources/lib/UnityUser.php
  test/functional/AccountDeletionRequestTest.php
  test/functional/PIMemberRequestTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/PiMemberDenyTest.php
  test/functional/PiRemoveUserTest.php
  test/phpunit-bootstrap.php
  webroot/panel/ajax/get_group_members.php
  webroot/panel/groups.php
  workers/remove-users-from-group.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

require
  resources/autoload.php
  test/phpunit-bootstrap.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

keep base class in this repo
  resources/autoload.php
  resources/lib/PosixGroup.php
  resources/lib/UnityGroup.php
  resources/lib/UnityOrg.php
  test/phpunit-bootstrap.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add comment
  resources/lib/PosixGroup.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

reorder autoload
  resources/autoload.php
  test/phpunit-bootstrap.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

construct PosixGroup
  resources/lib/UnityGroup.php
  resources/lib/UnityOrg.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

fix attributes
  resources/lib/PosixGroup.php
  resources/lib/UnityGroup.php
  resources/lib/UnityOrg.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

fix premature access
  resources/lib/UnityGroup.php
  resources/lib/UnityOrg.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add batch member add/rm functions
  resources/lib/PosixGroup.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove $gid from PosixGroup
  resources/lib/PosixGroup.php
  resources/lib/UnityGroup.php
  resources/lib/UnityOrg.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

mermber -> member
  resources/lib/PosixGroup.php
  resources/lib/UnityGroup.php
  resources/lib/UnityUser.php
  test/functional/PIMemberRequestTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/PiMemberDenyTest.php
  test/functional/PiRemoveUserTest.php
  test/phpunit-bootstrap.php
  webroot/panel/ajax/get_group_members.php
  webroot/panel/groups.php
  workers/remove-users-from-group.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

forgot to set attribute
  resources/lib/UnityGroup.php
  resources/lib/UnityOrg.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

fix function name
  test/phpunit-bootstrap.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

1st draft
  defaults/config.ini.default
  resources/lib/UnityLDAP.php
  resources/lib/UnityUser.php
  test/phpunit-bootstrap.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

modifiers
  defaults/config.ini.default
  resources/init.php
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  resources/lib/UnityUser.php
  test/functional/PIBecomeApproveTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/ViewAsUserTest.php
  test/phpunit-bootstrap.php
  webroot/admin/ajax/get_group_members.php
  webroot/admin/ajax/get_page_contents.php
  webroot/admin/content.php
  webroot/admin/notices.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/panel/account.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

don't use BCC for single-recipient email
  resources/lib/UnityMailer.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

Update resources/lib/UnityMailer.php
  resources/lib/UnityMailer.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

setup mail templates
  .pre-commit-config.yaml
  resources/lib/UnityGroup.php
  resources/lib/UnityUser.php
  resources/mail/user_dequalified.php
  resources/mail/user_modifier_added.php
  resources/mail/user_modifier_added_admin.php
  resources/mail/user_modifier_removed.php
  resources/mail/user_modifier_removed_admin.php
  resources/mail/user_qualified.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove duplicated code from UnityGroup/UnityOrg (#393)
  resources/autoload.php
  resources/lib/PosixGroup.php
  resources/lib/UnityGroup.php
  resources/lib/UnityOrg.php
  resources/lib/UnityUser.php
  test/functional/AccountDeletionRequestTest.php
  test/functional/PIMemberRequestTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/PiMemberDenyTest.php
  test/functional/PiRemoveUserTest.php
  test/phpunit-bootstrap.php
  webroot/panel/ajax/get_group_members.php
  webroot/panel/groups.php
  workers/remove-users-from-group.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

CSRF protection (#389)
  defaults/config.ini.default
  resources/autoload.php
  resources/init.php
  resources/lib/CSRFToken.php
  resources/lib/UnityHTTPD.php
  resources/templates/header.php
  test/functional/ViewAsUserTest.php
  test/phpunit-bootstrap.php
  test/unit/CSRFTokenTest.php
  webroot/admin/ajax/get_group_members.php
  webroot/admin/content.php
  webroot/admin/notices.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/panel/account.php
  webroot/panel/groups.php
  webroot/panel/modal/new_key.php
  webroot/panel/modal/new_pi.php
  webroot/panel/new_account.php
  webroot/panel/pi.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

wip
  resources/lib/UnityHTTPD.php
  resources/lib/UnityMailer.php
  resources/lib/UnityWebhook.php
  resources/lib/utils.php
  resources/mail/footer.php
  resources/mail/group_created.php
  resources/mail/group_request_admin.php
  resources/mail/group_user_added.php
  resources/mail/group_user_request_owner.php
  resources/mail/user_loginshell.php
  resources/mail/user_qualified.php
  resources/mail/user_sshkey.php
  resources/templates/footer.php
  resources/templates/header.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/panel/account.php
  webroot/panel/groups.php
  webroot/panel/modal/new_key.php
  webroot/panel/modal/new_pi.php
  webroot/panel/new_account.php
  webroot/panel/pi.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

close script element
  resources/templates/footer.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

getHyperlink
  resources/lib/utils.php
  resources/mail/footer.php
  resources/mail/group_created.php
  resources/mail/group_request_admin.php
  resources/mail/group_user_added.php
  resources/mail/group_user_request_owner.php
  resources/mail/user_loginshell.php
  resources/mail/user_qualified.php
  resources/mail/user_sshkey.php
  resources/templates/header.php
  webroot/panel/groups.php
  webroot/panel/pi.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

cleanup
  webroot/admin/content.php
  webroot/panel/account.php
  webroot/panel/modal/new_pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

for loop
  resources/templates/footer.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

fix bug
  resources/lib/utils.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-exceptions-used

remove leading slashes
  resources/templates/header.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

fix test
  test/unit/UtilsTest.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

rewrite getURL
  resources/lib/utils.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-exceptions-used

rename
  resources/lib/utils.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-exceptions-used

remove htmlspecialchars
  resources/lib/utils.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-exceptions-used

add unit tests
  test/unit/UtilsTest.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

refactor
  resources/lib/utils.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-exceptions-used

no leading slashes
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/panel/groups.php
  webroot/panel/modal/new_key.php
  webroot/panel/modal/new_pi.php
  webroot/panel/new_account.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

respect URL scheme in pathJoin
  resources/lib/utils.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-exceptions-used

remove htmlspecialchars
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

dev environment does not have https
  defaults/config.ini.default
Due: none

don't delete modal.css
  resources/templates/header.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

getURL(), getHyperlink() (#385)
  defaults/config.ini.default
  resources/lib/UnityHTTPD.php
  resources/lib/UnityMailer.php
  resources/lib/UnityWebhook.php
  resources/lib/utils.php
  resources/mail/footer.php
  resources/mail/group_created.php
  resources/mail/group_request_admin.php
  resources/mail/group_user_added.php
  resources/mail/group_user_request_owner.php
  resources/mail/user_loginshell.php
  resources/mail/user_qualified.php
  resources/mail/user_sshkey.php
  resources/templates/footer.php
  resources/templates/header.php
  test/unit/UtilsTest.php
  webroot/admin/content.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/panel/account.php
  webroot/panel/groups.php
  webroot/panel/modal/new_key.php
  webroot/panel/modal/new_pi.php
  webroot/panel/new_account.php
  webroot/panel/pi.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used
