Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

phpcbf:
  name: PHP Code Beautifier and Fixer
  entry: ./vendor/bin/phpcbf
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors
  language: system

prettier (php):
  name: prettier (php)
  entry: npx
  args:
  - prettier
  - --plugin=@prettier/plugin-php
  - --php-version=8.3
  - --write
  language: system

phpcs:
  name: PHP CodeSniffer
  entry: ./vendor/bin/phpcs
  language: system
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors

php-l:
  name: php -l
  entry: php
  language: system
  args:
  - -l

assert-UnityHTTPD-used:
  name: Assert UnityHTTPD functions are used
  entry: bash ./test/assert-UnityHTTPD-used.bash
  language: system

assert-utils-used:
  name: Assert utils are used
  entry: bash ./test/assert-utils-used.bash
  language: system

assert-exceptions-used:
  name: Assert exceptions are used
  entry: bash ./test/assert-exceptions-used.bash
  language: system

fix redis before append or remove cache array (#361)
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  resources/lib/UnityOrg.php
  resources/lib/UnityRedis.php
  resources/lib/UnityUser.php
  test/phpunit-bootstrap.php
  workers/update-ldap-cache.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove redundant init.php
  workers/clear-audit-log.php
Due: prettier (php), php-l, assert-utils-used

remove data from request table
  resources/lib/UnityGroup.php
  resources/lib/UnitySQL.php
  tools/docker-dev/sql/bootstrap.sql
  webroot/admin/ajax/get_group_members.php
  webroot/admin/pi-mgmt.php
  webroot/panel/account.php
  webroot/panel/groups.php
  webroot/panel/new_account.php
  webroot/panel/pi.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add users to ldap immediately
  CONTRIBUTING.md
  README.md
  resources/lib/UnityGroup.php
  resources/lib/UnityUser.php
  resources/mail/user_dequalified.php
  resources/mail/user_qualified.php
  test/functional/NewUserTest.php
  test/functional/PIBecomeApproveTest.php
  test/functional/PIMemberRequestTest.php
  test/functional/PiBecomeRequestTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/PiMemberDenyTest.php
  test/functional/PiRemoveUserTest.php
  test/functional/RegisterUserTest.php
  test/phpunit-bootstrap.php
  tools/docker-dev/identity/bootstrap.ldif
  tools/docker-dev/web/Dockerfile
  tools/docker-dev/web/htpasswd
  webroot/panel/account.php
  webroot/panel/new_account.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

fix quotes in account.php
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

curl throw exception
  resources/autoload.php
  resources/lib/UnityGithub.php
  resources/lib/exceptions/CurlException.php
  test/phpunit-bootstrap.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add default values for user-mgmt.php
  webroot/admin/user-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

add default values to pi-mgmt.php
  webroot/admin/pi-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

add users to LDAP immediately (#349)
  CONTRIBUTING.md
  README.md
  resources/lib/UnityGroup.php
  resources/lib/UnitySQL.php
  resources/lib/UnityUser.php
  resources/mail/user_dequalified.php
  resources/mail/user_qualified.php
  test/functional/NewUserTest.php
  test/functional/PIBecomeApproveTest.php
  test/functional/PIMemberRequestTest.php
  test/functional/PiBecomeRequestTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/PiMemberDenyTest.php
  test/functional/PiRemoveUserTest.php
  test/functional/RegisterUserTest.php
  test/phpunit-bootstrap.php
  tools/docker-dev/identity/bootstrap.ldif
  tools/docker-dev/sql/bootstrap.sql
  tools/docker-dev/web/Dockerfile
  tools/docker-dev/web/htpasswd
  webroot/admin/ajax/get_group_members.php
  webroot/admin/pi-mgmt.php
  webroot/panel/account.php
  webroot/panel/groups.php
  webroot/panel/new_account.php
  webroot/panel/pi.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

prettier unqualified page
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

prettier unqualified page (#364)
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

add migration instructions
  README.md
Due: none

update wording
  README.md
Due: none

Switch to generating shorter, more secure ed25519 keys
  webroot/js/ajax/ssh_generate.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

Switch to generating shorter, more secure ed25519 keys (#365)
  webroot/js/ajax/ssh_generate.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

edge case: empty memberuid in update-ldap-cache.php
  workers/update-ldap-cache.php
Due: prettier (php), php-l, assert-utils-used

dont use UnityHTTPD::die in workers
  workers/update-ldap-cache.php
Due: prettier (php), php-l, assert-utils-used

edge case empty memberuid
  resources/lib/UnityLDAP.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

bump pre-commit hooks
  .pre-commit-config.yaml
Due: none

remove redis flush from tests
  test/functional/PIBecomeApproveTest.php
  test/functional/PiMemberApproveTest.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

remove redis flush from tests (#367)
  test/functional/PIBecomeApproveTest.php
  test/functional/PiMemberApproveTest.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

setup init.php for workers
  workers/clear-audit-log.php
  workers/group_user_request_owner_reminder.php
  workers/init.php
  workers/remove-users-from-group.php
  workers/update-ldap-cache.php
Due: prettier (php), php-l, assert-utils-used

add test for worker remove-users-from-group.php
  test/functional/WorkerRemoveUsersFromGroupTest.php
  test/phpunit-bootstrap.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

fix return code
  workers/remove-users-from-group.php
Due: prettier (php), php-l, assert-utils-used

curl throw exception (#363)
  resources/autoload.php
  resources/lib/UnityGithub.php
  resources/lib/exceptions/CurlException.php
  test/phpunit-bootstrap.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add broken test
  test/functional/WorkerUpdateLDAPCacheTest.php
  test/phpunit-bootstrap.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

optimize fetching of group member attributes
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  webroot/admin/ajax/get_group_members.php
  webroot/panel/ajax/get_group_members.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

Update resources/lib/UnityGroup.php
  resources/lib/UnityGroup.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

$key => $i
  webroot/admin/ajax/get_group_members.php
  webroot/panel/ajax/get_group_members.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

keep original unescaped UIDs
  resources/lib/UnityLDAP.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

allow empty uids
  resources/lib/UnityLDAP.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

optimize fetching of group member attributes (#369)
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  webroot/admin/ajax/get_group_members.php
  webroot/panel/ajax/get_group_members.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove more redis
  resources/lib/UnityLDAP.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove redis from getters (copilot)
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  resources/lib/UnityOrg.php
  resources/lib/UnityUser.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

start removing redis
  README.md
  defaults/config.ini.default
  resources/autoload.php
  resources/init.php
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  resources/lib/UnityOrg.php
  resources/lib/UnityRedis.php
  resources/lib/UnityUser.php
  test/functional/PIBecomeApproveTest.php
  test/functional/PageLoadTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/PiMemberDenyTest.php
  test/functional/PiRemoveUserTest.php
  test/functional/RegisterUserTest.php
  test/phpunit-bootstrap.php
  tools/docker-dev/docker-compose.yml
  tools/docker-dev/redis/Dockerfile
  tools/docker-dev/web/Dockerfile
  webroot/admin/ajax/get_group_members.php
  webroot/admin/pi-mgmt.php
  webroot/panel/ajax/get_group_members.php
  webroot/panel/groups.php
  webroot/panel/modal/pi_search.php
  webroot/panel/new_account.php
  webroot/panel/pi.php
  workers/group_user_request_owner_reminder.php
  workers/remove-users-from-group.php
  workers/update-ldap-cache.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

dont run redis worker in container
  tools/docker-dev/web/Dockerfile
Due: none

Update tools/docker-dev/web/Dockerfile
  tools/docker-dev/web/Dockerfile
Due: none

Path conditions:
  phpcbf: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/lib/.*|
)$

  prettier (php): any of: \.php$, but not: (?x)^(
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/templates/.*|
    webroot/.*|
)$

  phpcs: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/lib/.*|
)$

  php-l: any of: \.php$
  assert-UnityHTTPD-used: any of: \.php$, but not: (?x)^(
    resources/lib/UnityHTTPD\.php|
    workers/.*|
)$

  assert-utils-used: any of: \.php$, but not: ^resources/lib/utils\.php$
  assert-exceptions-used: any of: ^resources/.*\.php$, but not: ^resources/lib/UnityHTTPD\.php$
