Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

.pre-commit-config.yaml:

# pre-commit automatically excludes submodules
# exclude: |
#   (?x)^(
#       test/.*|
#   )$

repos:
  # auto formatters (no work required) #############################################################
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        # https://github.com/prettier/plugin-php/issues/2430
        exclude: workers/.*

  - repo: local
    hooks:
      - id: phpcbf
        name: PHP Code Beautifier and Fixer
        entry: ./vendor/bin/phpcbf
        args: [--standard=./.phpcs-ruleset.xml, --colors]
        language: system
        files: \.php$
        # exclude pure PHP files
        exclude: |
          (?x)^(
              test/.*|
              workers/.*|
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/lib/.*|
          )$

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        # exclude impure PHP files
        exclude: |
          (?x)^(
              composer\.json|
              composer\.lock|
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/templates/.*|
              webroot/.*|
          )$

  # linters (work required) ########################################################################
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-xml
      - id: check-added-large-files
      - id: check-executables-have-shebangs

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: phpcs
        name: PHP CodeSniffer
        entry: ./vendor/bin/phpcs
        language: system
        files: \.php$
        args: [--standard=./.phpcs-ruleset.xml, --colors]
        # exclude pure PHP files
        exclude: |
          (?x)^(
              test/.*|
              workers/.*|
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/lib/.*|
          )$
      - id: php-l
        name: php -l
        entry: php
        language: system
        files: \.php$
        args: [-l]
      - id: assert-UnityHTTPD-used
        name: Assert UnityHTTPD functions are used
        entry: bash ./test/assert-UnityHTTPD-used.bash
        language: system
        files: \.php$
        exclude: |
          (?x)^(
              resources/lib/UnityHTTPD\.php|
              workers/.*|
          )$
      - id: assert-utils-used
        name: Assert utils are used
        entry: bash ./test/assert-utils-used.bash
        language: system
        files: \.php$
        exclude: ^resources/lib/utils\.php$
      - id: assert-exceptions-used
        name: Assert exceptions are used
        entry: bash ./test/assert-exceptions-used.bash
        language: system
        files: ^resources/.*\.php$
        exclude: ^resources/lib/UnityHTTPD\.php$
      - id: assert-forbidden-used
        name: Assert forbidden() is used
        entry: bash ./test/assert-forbidden-used.bash
        language: system
        files: ^webroot/admin/.*\.php$

avoid nested <tr>
  webroot/js/sort.js
Due: none

use tbody
  webroot/js/filter.js
Due: none

copilot JS tests
  .github/workflows/precommit-jest.yml
  .jestignore
  jest.config.js
  package-lock.json
  package.json
  test/js/README.md
  test/js/filter.test.js
  test/js/setup.js
  test/js/sort.test.js
  test/js/tables.test.js
Due: none

copilot wip
  package-lock.json
  package.json
  test/js/filter.test.js
  test/js/sort.test.js
  test/js/tables.test.js
Due: none

copilot wip
  test/js/README.md
  test/js/filter.test.js
  test/js/sort.test.js
  test/js/tables.test.js
Due: none

remove documentation
  test/js/README.md
Due: none

Update webroot/js/sort.js
  webroot/js/sort.js
Due: none

fix JS console errors (#443)
  webroot/js/filter.js
  webroot/js/sort.js
Due: none

use strict comparison for JS
  webroot/js/filter.js
  webroot/js/global.js
  webroot/js/sort.js
Due: none

use strict comparison for JS (#453)
  webroot/js/filter.js
  webroot/js/global.js
  webroot/js/sort.js
Due: none

de-nest
  webroot/js/sort.js
Due: none

user-mgmt: remove margin from nested table
  webroot/admin/user-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

user-mgmt: remove margin from nested table (#454)
  webroot/admin/user-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

getUsersAttributes -> getEntriesAttributes
  resources/lib/UnityLDAP.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

fixup footer includes
  webroot/admin/content.php
  webroot/admin/notices.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/index.php
  webroot/panel/account.php
  webroot/panel/groups.php
  webroot/panel/new_account.php
  webroot/panel/pi.php
  webroot/panel/support.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

psr12
  .phpcs-ruleset-impure.xml
  .phpcs-ruleset-pure.xml
  .pre-commit-config.yaml
  package-lock.json
  package.json
  resources/autoload.php
  resources/lib/CSRFToken.php
  resources/lib/PosixGroup.php
  resources/lib/UnityGithub.php
  resources/lib/UnityGroup.php
  resources/lib/UnityHTTPD.php
  resources/lib/UnityHTTPDMessageLevel.php
  resources/lib/UnityLDAP.php
  resources/lib/UnityOrg.php
  resources/lib/UserFlag.php
  resources/lib/exceptions/ArrayKeyException.php
  resources/lib/exceptions/CurlException.php
  resources/lib/exceptions/EncodingConversionException.php
  resources/lib/exceptions/EncodingUnknownException.php
  resources/lib/exceptions/EnsureException.php
  resources/lib/exceptions/EntryNotFoundException.php
  resources/lib/exceptions/NoDieException.php
  resources/lib/exceptions/SSOException.php
  resources/lib/exceptions/UnityHTTPDMessageNotFoundException.php
  test/phpunit-bootstrap.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

show failed rule name, re-enable prettier
  .pre-commit-config.yaml
Due: none

phpcbf phpcs play nice with prettier
  .phpcs-ruleset-impure.xml
  .phpcs-ruleset-pure.xml
Due: none

remove newlines
  resources/lib/exceptions/ArrayKeyException.php
  resources/lib/exceptions/CurlException.php
  resources/lib/exceptions/EncodingConversionException.php
  resources/lib/exceptions/EncodingUnknownException.php
  resources/lib/exceptions/EnsureException.php
  resources/lib/exceptions/EntryNotFoundException.php
  resources/lib/exceptions/NoDieException.php
  resources/lib/exceptions/SSOException.php
  resources/lib/exceptions/UnityHTTPDMessageNotFoundException.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

allow multiple classes in one file
  .phpcs-ruleset-pure.xml
  resources/autoload.php
  resources/lib/UnityHTTPD.php
  resources/lib/UnityHTTPDMessageLevel.php
  resources/lib/UnityLDAP.php
  resources/lib/UserFlag.php
  test/phpunit-bootstrap.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

revert npm
  package-lock.json
  package.json
Due: none

remove .php from regex
  .pre-commit-config.yaml
Due: none

improve formatters (#459)
  .phpcs-ruleset-impure.xml
  .phpcs-ruleset-pure.xml
  .phpcs-ruleset.xml
  .pre-commit-config.yaml
  resources/lib/CSRFToken.php
  resources/lib/PosixGroup.php
  resources/lib/UnityGithub.php
  resources/lib/UnityGroup.php
  resources/lib/UnityHTTPD.php
  resources/lib/UnityLDAP.php
  resources/lib/UnityOrg.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

update contributing.md
  CONTRIBUTING.md
Due: none

add fake names to ldap
  tools/docker-dev/identity/bootstrap.ldif
Due: none

add fake names to ldap (#462)
  tools/docker-dev/identity/bootstrap.ldif
Due: none

add zero padding to org7
  tools/docker-dev/identity/bootstrap.ldif
  tools/docker-dev/web/htpasswd
Due: none

add zero padding to org7 (#463)
  tools/docker-dev/identity/bootstrap.ldif
  tools/docker-dev/web/htpasswd
Due: none

add a PI request to SQL
  tools/docker-dev/sql/bootstrap-users.sql
Due: none

configure datatables
  resources/templates/header.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

include pi members in groups.php no ajax
  resources/lib/UnityLDAP.php
  webroot/panel/ajax/get_group_members.php
  webroot/panel/groups.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

compact
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

add stripes
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

remove unused id
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

1st draft
  resources/templates/footer.php
  resources/templates/header.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/css/filters.css
  webroot/css/tables.css
  webroot/js/filter.js
  webroot/js/global.js
  webroot/js/sort.js
  webroot/js/tables.js
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

load datatables in all pages
  resources/templates/header.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/js/global.js
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

responsive
  resources/templates/header.php
  webroot/admin/user-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

remove fixme comment
  webroot/admin/pi-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

long email
  tools/docker-dev/identity/bootstrap.ldif
Due: none

include global.js in header
  resources/templates/footer.php
  resources/templates/header.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used
