Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf-pure, phpcbf-impure, phpcs-pure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

Path conditions:
  phpcbf-pure: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/templates/.*|
    resources/mail/.*|
    webroot/.*|
    \.php-cs-fixer\.dist\.php|
)$

  phpcbf-impure: any of: (?x)^(
    resources/templates/.*\.php|
    resources/mail/.*|
    webroot/.*\.php|
)$
, but not: (?x)^(
    resources/mail/user_flag_.*\.php|
)$

  phpcs-pure: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/templates/.*|
    resources/mail/.*|
    webroot/.*|
    \.php-cs-fixer\.dist\.php|
)$

  phpcs-impure: any of: (?x)^(
    resources/templates/.*\.php|
    resources/mail/.*\.php|
    webroot/.*\.php|
)$
, but not: (?x)^(
    resources/mail/user_flag_.*\.php|
)$

  php-l: any of: \.php$
  assert-UnityHTTPD-used: any of: \.php$, but not: (?x)^(
    resources/lib/UnityHTTPD\.php|
    workers/.*|
)$

  assert-utils-used: any of: \.php$, but not: (?x)^(
    ^resources/lib/utils\.php$|
    ^test/.*\.php$|
)$

  assert-exceptions-used: any of: ^resources/.*\.php$, but not: ^resources/lib/UnityHTTPD\.php$
  assert-forbidden-used: any of: ^webroot/admin/.*\.php$

ensure flags not sent to _preg_match
  resources/lib/utils.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-exceptions-used

don't use preg_match
  resources/lib/UnityGroup.php
  resources/lib/utils.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

type safe preg_match
  resources/lib/utils.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-exceptions-used

shenanigans
  workers/unity-course.php
Due: php-l, assert-utils-used

remove extra underscore
  resources/lib/UnityGroup.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

hide disabled users
  webroot/admin/user-mgmt.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

add user flags to user-mgmt.php 2 (#542)
  webroot/admin/user-mgmt.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

add buttons to user-mgmt, show danger
  README.md
  defaults/config.ini.default
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/css/global.css
  webroot/panel/pi.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

implement user disable, reenable
  resources/lib/UnityUser.php
  webroot/panel/new_account.php
Due: phpcbf-pure, phpcbf-impure, phpcs-pure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

🚨
  webroot/panel/pi.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used

display most recent messages at top (#584)
  resources/templates/header.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

web portal -> account portal
  CHANGELOG.md
  deployment/config.base.ini
  resources/templates/footer.html.twig
  resources/templates/header.html.twig
Due: none

web portal -> account portal (#762)
  CHANGELOG.md
  deployment/config.base.ini
  resources/templates/footer.html.twig
  resources/templates/header.html.twig
Due: none

Update README.md
  README.md
Due: none

Update README.md (#763)
  README.md
Due: none

bump code sniffer
  composer.lock
Due: none

bump code sniffer (#764)
  composer.lock
Due: none

multiple course group managers
  workers/unity-course.php
Due: php-l, assert-utils-used

Update unity-course.php
  workers/unity-course.php
Due: php-l, assert-utils-used

fix bug
  workers/unity-course.php
Due: php-l, assert-utils-used

remove unnecessary unset
  test/functional/WorkerUnityCourseTest.php
Due: php-l, assert-UnityHTTPD-used

add test case
  test/functional/WorkerUnityCourseTest.php
Due: php-l, assert-UnityHTTPD-used

reorder users
  test/functional/WorkerUnityCourseTest.php
Due: php-l, assert-UnityHTTPD-used

unique, trim
  test/functional/WorkerUnityCourseTest.php
  workers/unity-course.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

more robust
  test/functional/WorkerUnityCourseTest.php
  workers/unity-course.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

Potential fix for pull request finding
  workers/unity-course.php
Due: php-l, assert-utils-used

multiple course group managers (#765)
  test/functional/WorkerUnityCourseTest.php
  workers/unity-course.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

change unity-course.php prompts
  test/functional/WorkerUnityCourseTest.php
  workers/unity-course.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

change unity-course.php prompts (#766)
  test/functional/WorkerUnityCourseTest.php
  workers/unity-course.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

use redirect 307 instead of 302
  resources/lib/UnityHTTPD.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-utils-used

assert request method POST
  resources/lib/UnityHTTPD.php
  webroot/lan/api/bump-last-login.php
Due: phpcbf-pure, phpcbf-impure, phpcs-pure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used

actually we want to override the request method on POST
  resources/lib/UnityHTTPD.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-utils-used

clear message button idempotent, don't hide on DOM until success
  webroot/js/messages.js
  webroot/panel/ajax/clear_messages.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used

change redirect function name to indicate behavior
  resources/lib/UnityHTTPD.php
  resources/templates/header.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/panel/account.php
  webroot/panel/disabled_account.php
  webroot/panel/groups.php
  webroot/panel/new_account.php
  webroot/panel/pi.php
Due: phpcbf-pure, phpcbf-impure, phpcs-pure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

allow frontend to decide when clear_all_messages_button is visible
  resources/templates/header.html.twig
  webroot/js/messages.js
Due: none

bump version to bust cache
  deployment/config.base.ini
Due: none

specify return type
  resources/lib/UnityHTTPD.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-utils-used
