Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf-pure, phpcbf-impure, phpcs-pure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

phpcbf-pure:
  name: PHP Code Beautifier and Fixer (pure PHP files)
  entry: ./vendor/bin/phpcbf
  args:
  - --standard=./.phpcs-ruleset-pure.xml
  - --colors
  language: system

phpcbf-impure:
  name: PHP Code Beautifier and Fixer (mixed PHP/HTML files)
  entry: ./vendor/bin/phpcbf
  args:
  - --standard=./.phpcs-ruleset-impure.xml
  - --colors
  language: system

phpcs-pure:
  name: PHP Code Sniffer (pure PHP files)
  entry: ./vendor/bin/phpcs
  args:
  - --standard=./.phpcs-ruleset-pure.xml
  - --colors
  - -s
  language: system

phpcs-impure:
  name: PHP Code Sniffer (mixed PHP/HTML files)
  entry: ./vendor/bin/phpcs
  args:
  - --standard=./.phpcs-ruleset-impure.xml
  - --colors
  - -s
  language: system

php-l:
  name: php -l
  entry: php
  language: system
  args:
  - -l

assert-UnityHTTPD-used:
  name: Assert UnityHTTPD functions are used
  entry: bash ./test/assert-UnityHTTPD-used.bash
  language: system

assert-utils-used:
  name: Assert utils are used
  entry: bash ./test/assert-utils-used.bash
  language: system

assert-exceptions-used:
  name: Assert exceptions are used
  entry: bash ./test/assert-exceptions-used.bash
  language: system

assert-forbidden-used:
  name: Assert forbidden() is used
  entry: bash ./test/assert-forbidden-used.bash
  language: system

remove shenanigans
  workers/unity-course.php
Due: php-l, assert-utils-used

add user expiry table to SQL
  tools/docker-dev/sql/bootstrap.sql
Due: none

get user last login
  resources/lib/UnitySQL.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

must be
  workers/user-expiry.php
Due: php-l, assert-utils-used

wip
  resources/lib/UnitySQL.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

switch to json
  resources/lib/UnitySQL.php
  tools/docker-dev/sql/bootstrap.sql
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add functions
  resources/lib/UnitySQL.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

use plain Exception
  resources/lib/UnitySQL.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

wip
  defaults/config.ini.default
  workers/user-expiry.php
Due: php-l, assert-utils-used

wip
  workers/user-expiry.php
Due: php-l, assert-utils-used

don't send non_pi template to pi with 0 members
  workers/user-expiry.php
Due: php-l, assert-utils-used

write emails
  resources/mail/user_expiry_disable_warning_member.php
  resources/mail/user_expiry_disable_warning_non_pi.php
  resources/mail/user_expiry_disable_warning_pi.php
  resources/mail/user_expiry_idlelock_warning.php
  workers/user-expiry.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

flip conditional
  workers/user-expiry.php
Due: php-l, assert-utils-used

move verbose, dry run to function
  resources/lib/UnityMailer.php
  workers/user-expiry.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

more functions
  workers/user-expiry.php
Due: php-l, assert-utils-used

record warnings to sql
  resources/lib/UnitySQL.php
  workers/user-expiry.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

one big for loop
  workers/user-expiry.php
Due: php-l, assert-utils-used

remove action log
  workers/user-expiry.php
Due: php-l, assert-utils-used

remove isset
  resources/lib/UnityMailer.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

private
  resources/lib/UnitySQL.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add hyperlink
  resources/mail/user_expiry_disable_warning_member.php
  resources/mail/user_expiry_disable_warning_non_pi.php
  resources/mail/user_expiry_disable_warning_pi.php
  resources/mail/user_expiry_idlelock_warning.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

bootstrap last_login table
  tools/docker-dev/sql/bootstrap-users.sql
Due: none

remove user with conflicting number
  tools/docker-dev/identity/bootstrap.ldif
Due: none

whitespace
  tools/docker-dev/sql/bootstrap-users.sql
Due: none

phpstan
  resources/lib/UnityMailer.php
  resources/lib/UnitySQL.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove .php from sendMail
  workers/user-expiry.php
Due: php-l, assert-utils-used

don't send member warning to owner
  workers/user-expiry.php
Due: php-l, assert-utils-used

renamed util
  workers/user-expiry.php
Due: php-l, assert-utils-used

var is not array
  workers/user-expiry.php
Due: php-l, assert-utils-used

renamed function
  workers/user-expiry.php
Due: php-l, assert-utils-used

UnityUser->disable
  resources/lib/UnityUser.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

don't remove mail, remove constant
  resources/lib/UnityLDAP.php
  resources/lib/UnityUser.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

more reenable
  resources/lib/UnityUser.php
  webroot/panel/new_account.php
Due: phpcbf-pure, phpcbf-impure, phpcs-pure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add buttons to user-mgmt, signal danger
  README.md
  defaults/config.ini.default
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/css/global.css
  webroot/panel/pi.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

set max height for messages
  webroot/css/messages.css
Due: none

display most recent messages at top
  resources/templates/header.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

set max height for messages (#583)
  webroot/css/messages.css
Due: none

add user flags to user-mgmt.php
  webroot/admin/user-mgmt.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

prettier output
  webroot/admin/user-mgmt.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

adjust whitespace in output
  webroot/admin/user-mgmt.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

Path conditions:
  phpcbf-pure: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/templates/.*|
    resources/mail/.*|
    webroot/.*|
    \.php-cs-fixer\.dist\.php|
)$

  phpcbf-impure: any of: (?x)^(
    resources/templates/.*\.php|
    resources/mail/.*|
    webroot/.*\.php|
)$
, but not: (?x)^(
    resources/mail/user_flag_.*\.php|
)$

  phpcs-pure: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/templates/.*|
    resources/mail/.*|
    webroot/.*|
    \.php-cs-fixer\.dist\.php|
)$

  phpcs-impure: any of: (?x)^(
    resources/templates/.*\.php|
    resources/mail/.*\.php|
    webroot/.*\.php|
)$
, but not: (?x)^(
    resources/mail/user_flag_.*\.php|
)$

  php-l: any of: \.php$
  assert-UnityHTTPD-used: any of: \.php$, but not: (?x)^(
    resources/lib/UnityHTTPD\.php|
    workers/.*|
)$

  assert-utils-used: any of: \.php$, but not: (?x)^(
    ^resources/lib/utils\.php$|
    ^test/.*\.php$|
)$

  assert-exceptions-used: any of: ^resources/.*\.php$, but not: ^resources/lib/UnityHTTPD\.php$
  assert-forbidden-used: any of: ^webroot/admin/.*\.php$
