Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

.pre-commit-config.yaml:

# pre-commit automatically excludes submodules
# exclude: |
#   (?x)^(
#       test/.*|
#   )$

repos:
  # auto formatters (no work required) #############################################################
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        # https://github.com/prettier/plugin-php/issues/2430
        exclude: workers/.*

  - repo: local
    hooks:
      - id: phpcbf
        name: PHP Code Beautifier and Fixer
        entry: ./vendor/bin/phpcbf
        args: [--standard=./.phpcs-ruleset.xml, --colors]
        language: system
        files: \.php$
        # exclude pure PHP files
        exclude: |
          (?x)^(
              test/.*|
              workers/.*|
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/lib/.*|
          )$

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        # exclude impure PHP files
        exclude: |
          (?x)^(
              composer\.json|
              composer\.lock|
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/templates/.*|
              webroot/.*|
          )$

  # linters (work required) ########################################################################
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-xml
      - id: check-added-large-files
      - id: check-executables-have-shebangs

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: phpcs
        name: PHP CodeSniffer
        entry: ./vendor/bin/phpcs
        language: system
        files: \.php$
        args: [--standard=./.phpcs-ruleset.xml, --colors]
        # exclude pure PHP files
        exclude: |
          (?x)^(
              test/.*|
              workers/.*|
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/lib/.*|
          )$
      - id: php-l
        name: php -l
        entry: php
        language: system
        files: \.php$
        args: [-l]
      - id: assert-UnityHTTPD-used
        name: Assert UnityHTTPD functions are used
        entry: bash ./test/assert-UnityHTTPD-used.bash
        language: system
        files: \.php$
        exclude: |
          (?x)^(
              resources/lib/UnityHTTPD\.php|
              workers/.*|
          )$
      - id: assert-utils-used
        name: Assert utils are used
        entry: bash ./test/assert-utils-used.bash
        language: system
        files: \.php$
        exclude: ^resources/lib/utils\.php$
      - id: assert-exceptions-used
        name: Assert exceptions are used
        entry: bash ./test/assert-exceptions-used.bash
        language: system
        files: ^resources/.*\.php$
        exclude: ^resources/lib/UnityHTTPD\.php$
      - id: assert-forbidden-used
        name: Assert forbidden() is used
        entry: bash ./test/assert-forbidden-used.bash
        language: system
        files: ^webroot/admin/.*\.php$

get user last login
  resources/lib/UnitySQL.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

wip
  defaults/config.ini.default
  workers/user-expiry.php
Due: php-l, assert-utils-used

remove only native users from qualified users group
  test/functional/WorkerUpdateQualifiedUsersGroupTest.php
  workers/update-qualified-users-group.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

reindex array
  workers/update-qualified-users-group.php
Due: php-l, assert-utils-used

remove only native users from qualified users group (#546)
  test/functional/WorkerUpdateQualifiedUsersGroupTest.php
  workers/update-qualified-users-group.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

dumb down (#539)
  .gitignore
  README.md
  deployment/mail_overrides/README.md
  deployment/templates_overrides/README.md
  phpstan.neon
  resources/init.php
  resources/lib/UnityMailer.php
  resources/lib/UnitySQL.php
  resources/lib/utils.php
  resources/templates/header.php
  resources/templates/home.php
  test/functional/PageLoadTest.php
  tools/docker-dev/sql/bootstrap.sql
  webroot/admin/ajax/get_page_contents.php
  webroot/admin/content.php
  webroot/admin/notices.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/api/content/index.php
  webroot/index.php
  webroot/panel/account.php
  webroot/panel/groups.php
  webroot/panel/new_account.php
  webroot/panel/pi.php
  webroot/panel/support.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

remove cluster notices
  README.md
  defaults/config.ini.default
  resources/lib/UnitySQL.php
  resources/templates/header.php
  resources/templates/home.php
  test/functional/PageLoadTest.php
  tools/docker-dev/sql/bootstrap.sql
  webroot/admin/notices.php
  webroot/api/notices/index.php
  webroot/css/global.css
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

remove ckeditor
  .gitignore
  package-lock.json
  package.json
  resources/templates/header.php
  webroot/js/global-early.js
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

datatables statesave
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/panel/groups.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

datatables statesave (#549)
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/panel/groups.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

remove cluster notices (#548)
  .gitignore
  README.md
  defaults/config.ini.default
  package-lock.json
  package.json
  resources/lib/UnitySQL.php
  resources/templates/header.php
  resources/templates/home.php
  test/functional/PageLoadTest.php
  tools/docker-dev/sql/bootstrap.sql
  webroot/admin/notices.php
  webroot/api/notices/index.php
  webroot/css/global.css
  webroot/js/global-early.js
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

tweak message X button
  webroot/css/messages.css
Due: none

strict types
  resources/init.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove extra args
  workers/unity-course.php
Due: php-l, assert-utils-used

phpstan level 5
  phpstan.neon
  resources/lib/UnityGithub.php
  resources/lib/UnityWebhook.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

phpstan level 5 (#552)
  phpstan.neon
  resources/lib/UnityGithub.php
  resources/lib/UnityWebhook.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

phpstan level 6
  phpstan.neon
  resources/lib/PosixGroup.php
  resources/lib/UnityConfig.php
  resources/lib/UnityGithub.php
  resources/lib/UnityGroup.php
  resources/lib/UnityHTTPD.php
  resources/lib/UnityLDAP.php
  resources/lib/UnityMailer.php
  resources/lib/UnitySQL.php
  resources/lib/UnitySSO.php
  resources/lib/UnityUser.php
  resources/lib/utils.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove `use`
  resources/lib/UnitySQL.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

quote weird yaml
  phpstan.neon
Due: none

phpstan level 6 (#553)
  phpstan.neon
  resources/lib/PosixGroup.php
  resources/lib/UnityConfig.php
  resources/lib/UnityGithub.php
  resources/lib/UnityGroup.php
  resources/lib/UnityHTTPD.php
  resources/lib/UnityLDAP.php
  resources/lib/UnityMailer.php
  resources/lib/UnitySQL.php
  resources/lib/UnitySSO.php
  resources/lib/UnityUser.php
  resources/lib/utils.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

new utils
  resources/lib/utils.php
  test/assert-utils-used.bash
Due: php-l, assert-UnityHTTPD-used, assert-exceptions-used

use utils
  resources/lib/UnityConfig.php
  resources/lib/UnityWebhook.php
  resources/lib/utils.php
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

change util naming scheme
  CONTRIBUTING.md
  resources/lib/UnityConfig.php
  resources/lib/UnityGithub.php
  resources/lib/UnityGroup.php
  resources/lib/UnityHTTPD.php
  resources/lib/UnityLDAP.php
  resources/lib/UnityWebhook.php
  resources/lib/utils.php
  test/assert-utils-used.bash
  test/functional/DeleteMessageTest.php
  test/functional/WorkerUpdateQualifiedUsersGroupTest.php
  test/phpunit-bootstrap.php
  test/unit/AjaxSshValidateTest.php
  webroot/js/ajax/ssh_generate.php
  webroot/js/ajax/ssh_validate.php
  webroot/panel/ajax/pi_search.php
  workers/unity-course.php
  workers/update-qualified-users-group.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

new util _fopen
  resources/lib/UnityLDAP.php
  resources/lib/utils.php
  test/assert-utils-used.bash
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

new util _ob_get_clean
  resources/lib/UnityMailer.php
  resources/lib/UnityWebhook.php
  resources/lib/utils.php
  test/assert-utils-used.bash
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

new util _curl_exec
  resources/lib/UnityGithub.php
  resources/lib/UnityWebhook.php
  resources/lib/utils.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

include smart curl error handling in util
  resources/lib/UnityGithub.php
  resources/lib/utils.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

use _fopen in worker
  workers/remove-users-from-group.php
Due: php-l, assert-utils-used

update test
  test/functional/WorkerRemoveUsersFromGroupTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

more strict utils (#555)
  CONTRIBUTING.md
  resources/lib/UnityConfig.php
  resources/lib/UnityGithub.php
  resources/lib/UnityGroup.php
  resources/lib/UnityHTTPD.php
  resources/lib/UnityLDAP.php
  resources/lib/UnityMailer.php
  resources/lib/UnityWebhook.php
  resources/lib/utils.php
  test/assert-utils-used.bash
  test/functional/DeleteMessageTest.php
  test/functional/WorkerRemoveUsersFromGroupTest.php
  test/functional/WorkerUpdateQualifiedUsersGroupTest.php
  test/phpunit-bootstrap.php
  test/unit/AjaxSshValidateTest.php
  webroot/js/ajax/ssh_generate.php
  webroot/js/ajax/ssh_validate.php
  webroot/panel/ajax/pi_search.php
  workers/remove-users-from-group.php
  workers/unity-course.php
  workers/update-qualified-users-group.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

phpstan level 7 wip
  phpstan.neon
  resources/lib/utils.php
Due: php-l, assert-UnityHTTPD-used, assert-exceptions-used

non empty
  resources/lib/UnityWebhook.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

phpstan level 7
  phpstan.neon
  resources/lib/UnityLDAP.php
  resources/lib/utils.php
  test/functional/SSHKeyAddTest.php
  test/functional/WorkerRemoveUsersFromGroupTest.php
  test/functional/WorkerUnityCourseTest.php
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

handle double click, send messages
  resources/lib/UnityGroup.php
  webroot/admin/pi-mgmt.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

Update resources/mail/group_reenabled.php
  resources/mail/group_reenabled.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove comment
  resources/mail/group_reenabled.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove dangling reference
  webroot/panel/modal/new_pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

fix test
  test/functional/PIDisableTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

rename variable
  resources/lib/UnityLDAP.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

Revert "comment out functions not yet implemented"
  resources/lib/UnityGroup.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used
