Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

.pre-commit-config.yaml:

# pre-commit automatically excludes submodules
# exclude: |
#   (?x)^(
#       test/.*|
#   )$

repos:
  # auto formatters (no work required) #############################################################
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        # https://github.com/prettier/plugin-php/issues/2430
        exclude: workers/.*

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.4.2
    hooks:
      - id: prettier
        exclude: |
          (?x)^(
              composer\.json|
              composer\.lock|
          )$

  - repo: local
    hooks:
      - id: phpcbf
        name: PHP Code Beautifier and Fixer
        entry: ./vendor/bin/phpcbf
        args: [--standard=./.phpcs-ruleset.xml, --colors]
        language: system
        files: \.php$
        # exclude pure PHP files
        exclude: |
          (?x)^(
              test/.*|
              workers/.*|
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/lib/.*|
          )$

  - repo: local
    hooks:
      - id: prettier (php)
        name: prettier (php)
        entry: npx
        args:
          [prettier, --plugin=@prettier/plugin-php, --php-version=8.3, --write]
        language: system
        files: \.php$
        # exclude impure PHP files
        exclude: |
          (?x)^(
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/templates/.*|
              webroot/.*|
          )$

  # linters (work required) ########################################################################
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-xml
      - id: check-added-large-files
      - id: check-executables-have-shebangs

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.23.1
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: phpcs
        name: PHP CodeSniffer
        entry: ./vendor/bin/phpcs
        language: system
        files: \.php$
        args: [--standard=./.phpcs-ruleset.xml, --colors]
        # exclude pure PHP files
        exclude: |
          (?x)^(
              test/.*|
              workers/.*|
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/lib/.*|
          )$
      - id: php-l
        name: php -l
        entry: php
        language: system
        files: \.php$
        args: [-l]
      - id: assert-UnityHTTPD-used
        name: Assert UnityHTTPD functions are used
        entry: bash ./test/assert-UnityHTTPD-used.bash
        language: system
        files: \.php$
        exclude: |
          (?x)^(
              resources/lib/UnityHTTPD\.php|
              workers/.*|
          )$
      - id: assert-utils-used
        name: Assert utils are used
        entry: bash ./test/assert-utils-used.bash
        language: system
        files: \.php$
        exclude: ^resources/lib/utils\.php$
      - id: assert-exceptions-used
        name: Assert exceptions are used
        entry: bash ./test/assert-exceptions-used.bash
        language: system
        files: ^resources/.*\.php$
        exclude: ^resources/lib/UnityHTTPD\.php$

message CSS WIP
  webroot/css/messages.css
Due: none

reasonable colors
  webroot/css/messages.css
Due: none

margin, padding, color
  webroot/css/messages.css
Due: none

remove background
  webroot/css/messages.css
Due: none

steal colors from coldfront/bootstrap
  webroot/css/messages.css
Due: none

button dismiss message
  resources/templates/header.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

steal dismiss button from coldfront
  resources/templates/header.php
  webroot/css/messages.css
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

90% width
  webroot/css/messages.css
Due: none

no need for extra padding
  webroot/css/messages.css
Due: none

fix message layout on mobile
  webroot/css/messages.css
Due: none

remove old comment
  webroot/css/messages.css
Due: none

Update webroot/css/messages.css
  webroot/css/messages.css
Due: none

htmlspecialchars
  resources/lib/UnityHTTPD.php
  resources/templates/header.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

gracefully handle invalid session data
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

fix arg
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

fix arg (#374)
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

message system (#372)
  resources/init.php
  resources/lib/UnityHTTPD.php
  resources/lib/utils.php
  resources/templates/header.php
  test/functional/PIMemberRequestTest.php
  test/phpunit-bootstrap.php
  webroot/css/messages.css
  webroot/css/modal.css
  webroot/js/modal.js
  webroot/panel/groups.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

simplify test functions
  test/functional/AccountDeletionRequestTest.php
  test/functional/PIMemberRequestTest.php
  test/functional/PiBecomeRequestTest.php
  test/phpunit-bootstrap.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

simplify test functions (#380)
  test/functional/AccountDeletionRequestTest.php
  test/functional/PIMemberRequestTest.php
  test/functional/PiBecomeRequestTest.php
  test/phpunit-bootstrap.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

use message system in exception handler
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

fall back on old error output for HTTP GET
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

use spl_error_id instead of spl_object_hash
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

good error ID
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

fix bug
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

big refactor
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

update redirect
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

allow REQUEST_METHOD unset
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

===
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

comment
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

whitespace
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

replace INI setting php_sapi_name
  defaults/config.ini.default
  deployment/overrides/phpunit/config/config.ini
  deployment/overrides/worker/config/config.ini
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

pemdas
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

use html_errors ini setting instead of php_sapi_name
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

fix checks for ini values
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

remove fancy error ID that seems to make duplicates
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

Update resources/lib/UnityHTTPD.php
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

htmlspecialchars
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

put back config setting to be less magic
  defaults/config.ini.default
  deployment/overrides/phpunit/config/config.ini
  deployment/overrides/worker/config/config.ini
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

remove unused import
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used
