Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

phpcbf:
  name: PHP Code Beautifier and Fixer
  entry: phpcbf
  language: system
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors

phpcs:
  name: PHP CodeSniffer
  entry: phpcs
  language: system
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors

php-l:
  name: php -l
  entry: php
  language: system
  args:
  - -l

assert-UnityHTTPD-used:
  name: Assert UnityHTTPD functions are used
  entry: ./test/assert-UnityHTTPD-used.bash
  language: system

assert-utils-used:
  name: Assert utils are used
  entry: ./test/assert-utils-used.bash
  language: system

catch new encoding exceptions
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

import
  resources/lib/utils.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used

tests conform to standards
  test/functional/NewUserTest.php
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

compatibility
  resources/lib/utils.php
  test/phpunit-bootstrap.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

add new convention
  .pre-commit-config.yaml
  CONTRIBUTING.md
  test/assert-exceptions-used.bash
Due: none

improve convention scripts
  .pre-commit-config.yaml
  test/assert-UnityHTTPD-used.bash
  test/assert-exceptions-used.bash
  test/assert-utils-used.bash
Due: none

regex
  .pre-commit-config.yaml
Due: none

throw JSON errors, ensure file encoding, handle bad data in errorLog (#325)
  .pre-commit-config.yaml
  CONTRIBUTING.md
  resources/autoload.php
  resources/lib/UnityHTTPD.php
  resources/lib/UnityLDAP.php
  resources/lib/UnityWebhook.php
  resources/lib/exceptions/EncodingConversionException.php
  resources/lib/exceptions/EncodingUnknownException.php
  resources/lib/utils.php
  test/assert-UnityHTTPD-used.bash
  test/assert-exceptions-used.bash
  test/assert-no-die-exit.bash
  test/assert-utils-used.bash
  test/functional/NewUserTest.php
  test/phpunit-bootstrap.php
  webroot/api/notices/index.php
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

disable buttons in account.php
  webroot/panel/modal/new_key.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

Update webroot/panel/modal/new_key.php
  webroot/panel/modal/new_key.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

disable buttons in account.php (#329)
  webroot/panel/modal/new_key.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

disable button to prevent double submit
  resources/templates/header.php
  webroot/admin/ajax/get_group_members.php
  webroot/admin/pi-mgmt.php
  webroot/panel/account.php
  webroot/panel/groups.php
  webroot/panel/modal/new_key.php
  webroot/panel/modal/new_pi.php
  webroot/panel/new_account.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

condense
  resources/templates/header.php
  webroot/admin/ajax/get_group_members.php
  webroot/admin/pi-mgmt.php
  webroot/panel/account.php
  webroot/panel/groups.php
  webroot/panel/modal/new_key.php
  webroot/panel/new_account.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

get grep
  CONTRIBUTING.md
Due: none

treat REMOTE_USER as UID
  CONTRIBUTING.md
  README.md
  resources/lib/UnitySSO.php
  test/functional/InvalidEPPNTest.php
  test/phpunit-bootstrap.php
  tools/docker-dev/web/htpasswd
  tools/docker-dev/web/unity-apache.conf
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

regex eppn in apache (doesn't work)
  tools/docker-dev/web/Dockerfile
  tools/docker-dev/web/htpasswd
  tools/docker-dev/web/unity-apache.conf
Due: none

resolved PHPStan raised errors
  psalm.xml
  resources/lib/UnityLDAP.php
  resources/lib/UnityOrg.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

resolved issues with PHPStan, and issue with precommit checks
  composer.json
Due: none

Make PI confirmation checkbox required
  webroot/panel/new_account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

Make PI confirmation checkbox required (#334)
  webroot/panel/new_account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

move data to front of error log
  resources/lib/UnityHTTPD.php
Due: phpcbf, phpcs, php-l, assert-utils-used

move data to front of error log (#335)
  resources/lib/UnityHTTPD.php
Due: phpcbf, phpcs, php-l, assert-utils-used

replace shutdown function with exception handler
  resources/init.php
  resources/lib/UnityHTTPD.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

test
  resources/lib/UnityHTTPD.php
Due: phpcbf, phpcs, php-l, assert-utils-used

test 2
  resources/init.php
  resources/lib/UnityHTTPD.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

comments
  resources/lib/UnityHTTPD.php
Due: phpcbf, phpcs, php-l, assert-utils-used

replace shutdown function with exception handler (#336)
  resources/init.php
  resources/lib/UnityHTTPD.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

composer.lock
  .gitignore
  composer.lock
Due: none

update dependencies
  composer.json
  composer.lock
Due: none

disable exception handler during testing
  defaults/config.ini.default
  deployment/overrides/phpunit/config/config.ini
  resources/init.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

Update PI confirmation checkbox to remove required attribute
  webroot/panel/new_account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

Store user data in request (#244)
  resources/lib/UnityGroup.php
  resources/lib/UnitySQL.php
  resources/lib/UnityUser.php
  test/functional/NewUserTest.php
  test/functional/PiBecomeRequestTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/PiMemberDenyTest.php
  test/functional/PiRemoveUserTest.php
  tools/docker-dev/build.sh
  tools/docker-dev/sql/bootstrap.sql
  webroot/admin/ajax/get_group_members.php
  webroot/admin/pi-mgmt.php
  webroot/panel/account.php
  webroot/panel/groups.php
  webroot/panel/new_account.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

prettier
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTING.md
  prettierrc.yml
Due: none

no more psr12
  .phpcs-ruleset.xml
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: none

fix php version
  CONTRIBUTING.md
  composer.json
  composer.lock
Due: none

specify php version
  .pre-commit-config.yaml
Due: none

Path conditions:
  phpcbf: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
)$

  phpcs: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
)$

  php-l: any of: \.php$
  assert-UnityHTTPD-used: any of: \.php$, but not: (?x)^(
    resources/lib/UnityHTTPD\.php$|
    workers/.*|
)$

  assert-utils-used: any of: \.php$, but not: resources/lib/utils.php
