Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

.pre-commit-config.yaml:

# pre-commit automatically excludes submodules
# exclude: |
#   (?x)^(
#       test/.*|
#   )$

repos:
  # auto formatters (no work required) #############################################################
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        # https://github.com/prettier/plugin-php/issues/2430
        exclude: workers/.*

  - repo: local
    hooks:
      - id: phpcbf
        name: PHP Code Beautifier and Fixer
        entry: ./vendor/bin/phpcbf
        args: [--standard=./.phpcs-ruleset.xml, --colors]
        language: system
        files: \.php$
        # exclude pure PHP files
        exclude: |
          (?x)^(
              test/.*|
              workers/.*|
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/lib/.*|
          )$

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        # exclude impure PHP files
        exclude: |
          (?x)^(
              composer\.json|
              composer\.lock|
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/templates/.*|
              webroot/.*|
          )$

  # linters (work required) ########################################################################
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-xml
      - id: check-added-large-files
      - id: check-executables-have-shebangs

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: phpcs
        name: PHP CodeSniffer
        entry: ./vendor/bin/phpcs
        language: system
        files: \.php$
        args: [--standard=./.phpcs-ruleset.xml, --colors]
        # exclude pure PHP files
        exclude: |
          (?x)^(
              test/.*|
              workers/.*|
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/lib/.*|
          )$
      - id: php-l
        name: php -l
        entry: php
        language: system
        files: \.php$
        args: [-l]
      - id: assert-UnityHTTPD-used
        name: Assert UnityHTTPD functions are used
        entry: bash ./test/assert-UnityHTTPD-used.bash
        language: system
        files: \.php$
        exclude: |
          (?x)^(
              resources/lib/UnityHTTPD\.php|
              workers/.*|
          )$
      - id: assert-utils-used
        name: Assert utils are used
        entry: bash ./test/assert-utils-used.bash
        language: system
        files: \.php$
        exclude: ^resources/lib/utils\.php$
      - id: assert-exceptions-used
        name: Assert exceptions are used
        entry: bash ./test/assert-exceptions-used.bash
        language: system
        files: ^resources/.*\.php$
        exclude: ^resources/lib/UnityHTTPD\.php$
      - id: assert-forbidden-used
        name: Assert forbidden() is used
        entry: bash ./test/assert-forbidden-used.bash
        language: system
        files: ^webroot/admin/.*\.php$

fix bug
  test/functional/PiMemberDenyTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

disable validate on switchBackUser
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

phpstan ignore
  phpstan.neon
Due: none

refactor tests 4 (#485)
  CONTRIBUTING.md
  phpstan.neon
  test/functional/PiMemberApproveTest.php
  test/functional/PiMemberDenyTest.php
  test/functional/SSHKeyAddTest.php
  test/phpunit-bootstrap.php
  tools/docker-dev/identity/bootstrap.ldif
  tools/docker-dev/web/unity-apache.conf
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

ensure not ghost on register
  webroot/panel/new_account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

use $send_mail
  resources/lib/UnityGroup.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

send message on resurrect
  resources/lib/UnityUser.php
  webroot/panel/new_account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

qualify, dequalify
  resources/lib/UnityGroup.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

idle unlock
  resources/init.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

don't reset idlelock with viewAsUser
  resources/init.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

implement locked flag
  resources/init.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

update PiRemoveUserTest.php
  test/functional/PiRemoveUserTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

added addlog functions
  resources/lib/UnityGroup.php
  webroot/panel/groups.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

assert qualified message
  test/functional/PiMemberApproveTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

Revert "Updated the web portal to make it more accessable."
  defaults/config.ini.default
  resources/templates/header.php
  tools/docker-dev/sql/bootstrap.sql
  webroot/admin/content.php
  webroot/admin/notices.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/css/global.css
  webroot/panel/account.php
  webroot/panel/groups.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

added multiple uses of addlog
  resources/lib/UnityGroup.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

added multiple uses of addlog (#487)
  resources/lib/UnityGroup.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add LeaveGroupTest
  test/functional/LeaveGroupTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

ignore bug
  phpstan.neon
Due: none

add locked, idlelocked, ghost users
  test/phpunit-bootstrap.php
  tools/docker-dev/identity/bootstrap.ldif
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

add test for idle unlock
  phpstan.neon
  test/functional/IdleUnlockTest.php
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

add tests for non admin attempt to access admin page
  resources/lib/UnityHTTPD.php
  test/functional/PageLoadTest.php
  test/phpunit-bootstrap.php
  webroot/admin/ajax/get_group_members.php
  webroot/admin/ajax/get_page_contents.php
  webroot/admin/content.php
  webroot/admin/notices.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

fix bug
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

update phpstan.neon
  phpstan.neon
Due: none

rearrange data, add redirect tests
  deployment/overrides/phpunit/config/config.ini
  test/functional/PageLoadTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

add more page loading tests (#490)
  deployment/overrides/phpunit/config/config.ini
  phpstan.neon
  resources/lib/UnityHTTPD.php
  test/functional/PageLoadTest.php
  test/phpunit-bootstrap.php
  webroot/admin/ajax/get_group_members.php
  webroot/admin/ajax/get_page_contents.php
  webroot/admin/content.php
  webroot/admin/notices.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

more page load tests
  test/functional/PageLoadTest.php
  webroot/panel/ajax/get_group_members.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

rename provider
  test/functional/PageLoadTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

newline
  test/functional/PageLoadTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

remove unnecessary check for dotfiles
  test/functional/PageLoadTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

remove unused import
  test/functional/PageLoadTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

remove provider, rename provider
  test/functional/PageLoadTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

more page load tests (#491)
  test/functional/PageLoadTest.php
  webroot/panel/ajax/get_group_members.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

remove all getPostData getQueryParameter
  resources/lib/UnityHTTPD.php
  webroot/admin/pi-mgmt.php
  webroot/js/ajax/ssh_validate.php
  webroot/panel/account.php
  webroot/panel/ajax/delete_message.php
  webroot/panel/groups.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

Update webroot/js/ajax/ssh_generate.php
  webroot/js/ajax/ssh_generate.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

remove getQueryParameter
  webroot/admin/ajax/get_group_members.php
  webroot/admin/ajax/get_page_contents.php
  webroot/api/content/index.php
  webroot/js/ajax/ssh_generate.php
  webroot/panel/ajax/get_group_members.php
  webroot/panel/modal/pi_search.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

comment
  resources/lib/UnityHTTPD.php
Due: php-l, assert-utils-used

separate mandatory and optional query parameter getters
  resources/lib/UnityHTTPD.php
  webroot/api/content/index.php
  webroot/js/ajax/ssh_generate.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

make optional post data as well, remove unnecessary check
  resources/lib/UnityHTTPD.php
Due: php-l, assert-utils-used

use getPostData everywhere
  resources/templates/header.php
  webroot/admin/content.php
  webroot/admin/notices.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/panel/account.php
  webroot/panel/groups.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used
