Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf-pure, phpcbf-impure, phpcs-pure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

phpcbf-pure:
  name: PHP Code Beautifier and Fixer (pure PHP files)
  entry: ./vendor/bin/phpcbf
  args:
  - --standard=./.phpcs-ruleset-pure.xml
  - --colors
  language: system

phpcbf-impure:
  name: PHP Code Beautifier and Fixer (mixed PHP/HTML files)
  entry: ./vendor/bin/phpcbf
  args:
  - --standard=./.phpcs-ruleset-impure.xml
  - --colors
  language: system

phpcs-pure:
  name: PHP Code Sniffer (pure PHP files)
  entry: ./vendor/bin/phpcs
  args:
  - --standard=./.phpcs-ruleset-pure.xml
  - --colors
  - -s
  language: system

phpcs-impure:
  name: PHP Code Sniffer (mixed PHP/HTML files)
  entry: ./vendor/bin/phpcs
  args:
  - --standard=./.phpcs-ruleset-impure.xml
  - --colors
  - -s
  language: system

php-l:
  name: php -l
  entry: php
  language: system
  args:
  - -l

assert-UnityHTTPD-used:
  name: Assert UnityHTTPD functions are used
  entry: bash ./test/assert-UnityHTTPD-used.bash
  language: system

assert-utils-used:
  name: Assert utils are used
  entry: bash ./test/assert-utils-used.bash
  language: system

assert-exceptions-used:
  name: Assert exceptions are used
  entry: bash ./test/assert-exceptions-used.bash
  language: system

assert-forbidden-used:
  name: Assert forbidden() is used
  entry: bash ./test/assert-forbidden-used.bash
  language: system

include GET/POST data in GET/POST related error message
  resources/lib/UnityHTTPD.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-utils-used

remove comment
  resources/lib/UnityHTTPD.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-utils-used

fix message errors (#757)
  deployment/config.base.ini
  resources/lib/UnityHTTPD.php
  resources/templates/header.html.twig
  resources/templates/header.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/js/messages.js
  webroot/panel/account.php
  webroot/panel/ajax/clear_messages.php
  webroot/panel/disabled_account.php
  webroot/panel/groups.php
  webroot/panel/new_account.php
  webroot/panel/pi.php
Due: phpcbf-pure, phpcbf-impure, phpcs-pure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

prettier permission denied
  resources/lib/UnityHTTPD.php
  webroot/panel/pi.php
Due: phpcbf-pure, phpcbf-impure, phpcs-pure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used

style
  resources/lib/UnityHTTPD.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-utils-used

escape
  resources/lib/UnityHTTPD.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-utils-used

prettier permission denied (#767)
  resources/lib/UnityHTTPD.php
  webroot/panel/pi.php
Due: phpcbf-pure, phpcbf-impure, phpcs-pure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used

Update config.base.ini
  deployment/config.base.ini
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Path conditions:
  phpcbf-pure: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/templates/.*|
    resources/mail/.*|
    webroot/.*|
    \.php-cs-fixer\.dist\.php|
)$

  phpcbf-impure: any of: (?x)^(
    resources/templates/.*\.php|
    resources/mail/.*|
    webroot/.*\.php|
)$
, but not: (?x)^(
    resources/mail/user_flag_.*\.php|
)$

  phpcs-pure: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/templates/.*|
    resources/mail/.*|
    webroot/.*|
    \.php-cs-fixer\.dist\.php|
)$

  phpcs-impure: any of: (?x)^(
    resources/templates/.*\.php|
    resources/mail/.*\.php|
    webroot/.*\.php|
)$
, but not: (?x)^(
    resources/mail/user_flag_.*\.php|
)$

  php-l: any of: \.php$
  assert-UnityHTTPD-used: any of: \.php$, but not: (?x)^(
    resources/lib/UnityHTTPD\.php|
    workers/.*|
)$

  assert-utils-used: any of: \.php$, but not: (?x)^(
    ^resources/lib/utils\.php$|
    ^test/.*\.php$|
)$

  assert-exceptions-used: any of: ^resources/.*\.php$, but not: ^resources/lib/UnityHTTPD\.php$
  assert-forbidden-used: any of: ^webroot/admin/.*\.php$
