Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

.pre-commit-config.yaml:

# pre-commit automatically excludes submodules
# exclude: |
#   (?x)^(
#       test/.*|
#   )$

repos:
  # auto formatters (no work required) #############################################################
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        # https://github.com/prettier/plugin-php/issues/2430
        exclude: workers/.*

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.4.2
    hooks:
      - id: prettier
        exclude: |
          (?x)^(
              composer\.json|
              composer\.lock|
          )$

  - repo: local
    hooks:
      - id: phpcbf
        name: PHP Code Beautifier and Fixer
        entry: ./vendor/bin/phpcbf
        args: [--standard=./.phpcs-ruleset.xml, --colors]
        language: system
        files: \.php$
        # exclude pure PHP files
        exclude: |
          (?x)^(
              test/.*|
              workers/.*|
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/lib/.*|
          )$

  - repo: local
    hooks:
      - id: prettier (php)
        name: prettier (php)
        entry: npx
        args:
          [prettier, --plugin=@prettier/plugin-php, --php-version=8.3, --write]
        language: system
        files: \.php$
        # exclude impure PHP files
        exclude: |
          (?x)^(
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/templates/.*|
              webroot/.*|
          )$

  # linters (work required) ########################################################################
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-xml
      - id: check-added-large-files
      - id: check-executables-have-shebangs

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.23.1
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: phpcs
        name: PHP CodeSniffer
        entry: ./vendor/bin/phpcs
        language: system
        files: \.php$
        args: [--standard=./.phpcs-ruleset.xml, --colors]
        # exclude pure PHP files
        exclude: |
          (?x)^(
              test/.*|
              workers/.*|
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/lib/.*|
          )$
      - id: php-l
        name: php -l
        entry: php
        language: system
        files: \.php$
        args: [-l]
      - id: assert-UnityHTTPD-used
        name: Assert UnityHTTPD functions are used
        entry: bash ./test/assert-UnityHTTPD-used.bash
        language: system
        files: \.php$
        exclude: |
          (?x)^(
              resources/lib/UnityHTTPD\.php|
              workers/.*|
          )$
      - id: assert-utils-used
        name: Assert utils are used
        entry: bash ./test/assert-utils-used.bash
        language: system
        files: \.php$
        exclude: ^resources/lib/utils\.php$
      - id: assert-exceptions-used
        name: Assert exceptions are used
        entry: bash ./test/assert-exceptions-used.bash
        language: system
        files: ^resources/.*\.php$
        exclude: ^resources/lib/UnityHTTPD\.php$

add test case
  test/functional/AccountDeletionRequestTest.php
  test/phpunit-bootstrap.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

idempotent to match
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

send email on account deletion request cancelled
  resources/lib/UnityUser.php
  resources/mail/account_deletion_request_cancelled_admin.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

getQueryParameter
  resources/lib/UnityHTTPD.php
  webroot/admin/ajax/get_group_members.php
  webroot/admin/ajax/get_page_contents.php
  webroot/api/content/index.php
  webroot/js/ajax/ssh_generate.php
  webroot/panel/ajax/get_group_members.php
  webroot/panel/modal/pi_search.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

replace bad isset, is_null with is_array
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

copilot 1st draft
  resources/init.php
  resources/lib/CSRFToken.php
  resources/lib/FormHelpers.php
  resources/lib/UnityHTTPD.php
  test/unit/CSRFTokenTest.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove form helpers
  resources/lib/FormHelpers.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove constants
  resources/lib/CSRFToken.php
  resources/lib/UnityHTTPD.php
  test/unit/CSRFTokenTest.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove magic
  resources/lib/CSRFToken.php
  resources/lib/UnityHTTPD.php
  test/unit/CSRFTokenTest.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

array_key_exists
  resources/lib/CSRFToken.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

WIP single use tokens
  resources/lib/CSRFToken.php
  resources/lib/UnityHTTPD.php
  test/unit/CSRFTokenTest.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove normal token in favor of single use tokens
  resources/lib/CSRFToken.php
  resources/lib/FormHelpers.php
  test/unit/CSRFTokenTest.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

rename function
  resources/lib/CSRFToken.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

better logging
  resources/lib/CSRFToken.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

fixup
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

require
  resources/autoload.php
  test/phpunit-bootstrap.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

refactor
  resources/lib/CSRFToken.php
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add inputs to all forms
  resources/templates/header.php
  webroot/admin/ajax/get_group_members.php
  webroot/admin/content.php
  webroot/admin/notices.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/panel/account.php
  webroot/panel/groups.php
  webroot/panel/modal/new_key.php
  webroot/panel/modal/new_pi.php
  webroot/panel/new_account.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

validate in all pages
  webroot/admin/ajax/get_group_members.php
  webroot/admin/content.php
  webroot/admin/notices.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/panel/account.php
  webroot/panel/groups.php
  webroot/panel/new_account.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

remove file
  resources/lib/FormHelpers.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove from init
  resources/init.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove from ajax
  webroot/admin/ajax/get_group_members.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

fixup tests
  test/unit/CSRFTokenTest.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

init csrf_tokens array
  resources/init.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

unique sessions for test cases
  test/unit/CSRFTokenTest.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

automatically generate csrf tokens for http_post in testing
  test/phpunit-bootstrap.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

add missing imports
  webroot/panel/modal/new_key.php
  webroot/panel/modal/new_pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

don't overwrite tokens
  resources/init.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

validate in POST in header.php
  resources/templates/header.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove bad test
  test/unit/CSRFTokenTest.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

set csrf_tokens array even if unauthenticated
  resources/init.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add session cleanup
  defaults/config.ini.default
  resources/init.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

write session data to filesystem immediately on cleanup
  resources/init.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

Update test/phpunit-bootstrap.php
  test/phpunit-bootstrap.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

cancel request account deletion (#376)
  resources/lib/UnityUser.php
  resources/mail/account_deletion_request_cancelled_admin.php
  test/functional/AccountDeletionRequestTest.php
  test/phpunit-bootstrap.php
  webroot/panel/account.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

delete messages using ajax (#384)
  resources/autoload.php
  resources/lib/UnityHTTPD.php
  resources/lib/exceptions/UnityHTTPDMessageNotFoundException.php
  resources/templates/header.php
  test/functional/DeleteMessageTest.php
  test/phpunit-bootstrap.php
  webroot/panel/ajax/delete_message.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add getQueryParameter function (#383)
  resources/lib/UnityHTTPD.php
  webroot/admin/ajax/get_group_members.php
  webroot/admin/ajax/get_page_contents.php
  webroot/api/content/index.php
  webroot/js/ajax/ssh_generate.php
  webroot/panel/ajax/get_group_members.php
  webroot/panel/modal/pi_search.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

inherit from LDAPEntry
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  resources/lib/UnityOrg.php
  resources/lib/UnityUser.php
  test/functional/RegisterUserTest.php
  test/phpunit-bootstrap.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

copilot 1st draft
  defaults/config.ini.default
  resources/autoload.php
  resources/init.php
  resources/lib/CSRFToken.php
  resources/lib/UnityHTTPD.php
  resources/templates/header.php
  test/functional/ViewAsUserTest.php
  test/phpunit-bootstrap.php
  test/unit/CSRFTokenTest.php
  webroot/admin/ajax/get_group_members.php
  webroot/admin/content.php
  webroot/admin/notices.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/panel/account.php
  webroot/panel/groups.php
  webroot/panel/modal/new_key.php
  webroot/panel/modal/new_pi.php
  webroot/panel/new_account.php
  webroot/panel/pi.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

prettier
  test/phpunit-bootstrap.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used
