Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

phpcbf:
  name: PHP Code Beautifier and Fixer
  entry: ./vendor/bin/phpcbf
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors
  language: system

prettier (php):
  name: prettier (php)
  entry: npx
  args:
  - prettier
  - --plugin=@prettier/plugin-php
  - --php-version=8.3
  - --write
  language: system

phpcs:
  name: PHP CodeSniffer
  entry: ./vendor/bin/phpcs
  language: system
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors

php-l:
  name: php -l
  entry: php
  language: system
  args:
  - -l

assert-UnityHTTPD-used:
  name: Assert UnityHTTPD functions are used
  entry: bash ./test/assert-UnityHTTPD-used.bash
  language: system

assert-utils-used:
  name: Assert utils are used
  entry: bash ./test/assert-utils-used.bash
  language: system

assert-exceptions-used:
  name: Assert exceptions are used
  entry: bash ./test/assert-exceptions-used.bash
  language: system

"unity cluster" -> "unityHPC platform"
  CONTRIBUTING.md
  README.md
  defaults/config.ini.default
  resources/lib/UnityGithub.php
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  resources/mail/footer.php
  resources/mail/group_created.php
  resources/mail/group_denied.php
  resources/mail/group_disband.php
  resources/mail/group_request.php
  resources/mail/user_dequalified.php
  resources/mail/user_loginshell.php
  resources/mail/user_qualified.php
  tools/docker-dev/identity/bootstrap.ldif
  webroot/panel/account.php
  webroot/panel/new_account.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

"unity cluster" -> "unityHPC platform" (#397)
  CONTRIBUTING.md
  README.md
  defaults/config.ini.default
  resources/lib/UnityGithub.php
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  resources/mail/footer.php
  resources/mail/group_created.php
  resources/mail/group_denied.php
  resources/mail/group_disband.php
  resources/mail/group_request.php
  resources/mail/user_dequalified.php
  resources/mail/user_loginshell.php
  resources/mail/user_qualified.php
  tools/docker-dev/identity/bootstrap.ldif
  webroot/panel/account.php
  webroot/panel/new_account.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

don't use BCC for single-recipient email (#395)
  resources/lib/UnityMailer.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

migration instructions
  README.md
Due: none

link to "getting started" in activation email
  defaults/config.ini.default
  resources/mail/user_qualified.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

link to "getting started" in activation email (#398)
  README.md
  defaults/config.ini.default
  resources/mail/user_qualified.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

use base64 for delete_message.php
  resources/templates/header.php
  test/functional/DeleteMessageTest.php
  webroot/panel/ajax/delete_message.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

make sure admin pages are protected
  .pre-commit-config.yaml
  test/assert-forbidden-used.bash
Due: none

add convention
  CONTRIBUTING.md
Due: none

remove old comment
  test/assert-forbidden-used.bash
Due: none

make sure admin pages are protected (#399)
  .pre-commit-config.yaml
  CONTRIBUTING.md
  test/assert-forbidden-used.bash
Due: none

user2@org1.test is not qualified
  tools/docker-dev/identity/bootstrap.ldif
Due: none

upgrade dependencies
  composer.lock
Due: none

user2@org1.test is not qualified (#402)
  tools/docker-dev/identity/bootstrap.ldif
Due: none

upgrade dependencies (#403)
  composer.lock
Due: none

phpseclib is patched now
  resources/lib/utils.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-exceptions-used

add missing argument
  resources/lib/UnityGroup.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

fix phpunit notices
  test/functional/SSHKeyAddTest.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

phpseclib is patched now (#404)
  resources/lib/utils.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-exceptions-used

str2int
  resources/lib/UnityLDAP.php
  resources/lib/utils.php
  webroot/api/content/index.php
  webroot/panel/account.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add enforcement, document convention
  .pre-commit-config.yaml
  CONTRIBUTING.md
  test/assert-utils-used.bash
Due: none

allow extra args to intval
  resources/lib/utils.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-exceptions-used

use regex instead of is_numeric
  resources/lib/utils.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-exceptions-used

ctype_digit
  resources/lib/utils.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-exceptions-used

update test
  test/functional/SSHKeyDeleteTest.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

str2int (#405)
  .pre-commit-config.yaml
  CONTRIBUTING.md
  resources/lib/UnityLDAP.php
  resources/lib/utils.php
  test/assert-utils-used.bash
  test/functional/SSHKeyDeleteTest.php
  webroot/api/content/index.php
  webroot/panel/account.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

fix word wrapping in message box
  webroot/css/messages.css
Due: none

remove cluster notice feature
  README.md
  defaults/config.ini.default
  resources/lib/UnitySQL.php
  resources/templates/header.php
  test/functional/PageLoadTest.php
  tools/docker-dev/sql/bootstrap.sql
  webroot/admin/notices.php
  webroot/api/notices/index.php
  webroot/css/global.css
  webroot/index.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

global.js wrap in IIFE
  webroot/js/global.js
Due: none

json ajax
  webroot/admin/ajax/get_page_contents.php
  webroot/admin/content.php
  webroot/js/ajax/ssh_generate.php
  webroot/js/ajax/ssh_validate.php
  webroot/panel/modal/new_key.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

handle missing post data
  webroot/js/ajax/ssh_validate.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

add jsonDecode util
  CONTRIBUTING.md
  resources/lib/utils.php
  test/assert-utils-used.bash
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-exceptions-used

rewrite test
  test/unit/AjaxSshValidateTest.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

fix decode
  test/unit/AjaxSshValidateTest.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

remove phpunit warning
  resources/lib/utils.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-exceptions-used

add missing import
  webroot/js/ajax/ssh_validate.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

use util
  resources/lib/UnityGithub.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

use JSON for ajax (#412)
  CONTRIBUTING.md
  resources/lib/UnityGithub.php
  resources/lib/utils.php
  test/assert-utils-used.bash
  test/unit/AjaxSshValidateTest.php
  webroot/admin/ajax/get_page_contents.php
  webroot/admin/content.php
  webroot/js/ajax/ssh_generate.php
  webroot/js/ajax/ssh_validate.php
  webroot/panel/modal/new_key.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add newlines to header.php html output
  resources/templates/header.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add newlines to header.php html output (#413)
  resources/templates/header.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

Path conditions:
  phpcbf: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/lib/.*|
)$

  prettier (php): any of: \.php$, but not: (?x)^(
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/templates/.*|
    webroot/.*|
)$

  phpcs: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/lib/.*|
)$

  php-l: any of: \.php$
  assert-UnityHTTPD-used: any of: \.php$, but not: (?x)^(
    resources/lib/UnityHTTPD\.php|
    workers/.*|
)$

  assert-utils-used: any of: \.php$, but not: ^resources/lib/utils\.php$
  assert-exceptions-used: any of: ^resources/.*\.php$, but not: ^resources/lib/UnityHTTPD\.php$
