Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

phpcbf:
  name: PHP Code Beautifier and Fixer
  entry: ./vendor/bin/phpcbf
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors
  language: system

phpcs:
  name: PHP CodeSniffer
  entry: ./vendor/bin/phpcs
  language: system
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors

php-l:
  name: php -l
  entry: php
  language: system
  args:
  - -l

assert-UnityHTTPD-used:
  name: Assert UnityHTTPD functions are used
  entry: bash ./test/assert-UnityHTTPD-used.bash
  language: system

assert-utils-used:
  name: Assert utils are used
  entry: bash ./test/assert-utils-used.bash
  language: system

assert-exceptions-used:
  name: Assert exceptions are used
  entry: bash ./test/assert-exceptions-used.bash
  language: system

assert-forbidden-used:
  name: Assert forbidden() is used
  entry: bash ./test/assert-forbidden-used.bash
  language: system

consistent operator
  resources/lib/UnityUser.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

allow leading whitespace
  resources/lib/UnityUser.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

fix bug
  resources/lib/utils.php
Due: php-l, assert-UnityHTTPD-used, assert-exceptions-used

include key in message
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

use short key in message
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

fix bug
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

cant rely on error handler for testing
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

multi word comment
  resources/lib/UnityUser.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

fix require in ajax
  webroot/js/ajax/ssh_generate.php
  webroot/js/ajax/ssh_validate.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

add allowed ssh key types config
  defaults/config.ini.default
Due: none

remove responsibility from addSSHKey
  resources/lib/UnityUser.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

Update webroot/panel/account.php
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

display invalid key explanation in modal
  webroot/panel/modal/new_key.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

use SSHKeyExists()
  resources/lib/UnityUser.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

update test case
  test/unit/UtilsTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

invalid encoding
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

add tests
  test/unit/UtilsTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

close other session if exists
  test/unit/CSRFTokenTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

fix bugs
  webroot/js/ajax/ssh_validate.php
  webroot/panel/account.php
  webroot/panel/modal/new_key.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

tweak comment
  resources/lib/utils.php
Due: php-l, assert-UnityHTTPD-used, assert-exceptions-used

move function
  resources/lib/UnityUser.php
  resources/lib/utils.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

handle ajax failure
  webroot/panel/modal/new_key.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

update test
  test/functional/SSHKeyAddTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

update ssh_validate for new testValidSSHKey
  webroot/js/ajax/ssh_validate.php
  webroot/panel/modal/new_key.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

update account.php for new testValidSSHKey
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

only single space
  resources/lib/UnityUser.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

make error message less promising
  resources/lib/utils.php
Due: php-l, assert-UnityHTTPD-used, assert-exceptions-used

add tests for shortenString
  test/unit/UtilsTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

remove console.log
  webroot/panel/modal/new_key.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

remove unused import
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

add tests for removing ssh key comment
  test/unit/UtilsTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

don't log invalid keys
  resources/lib/utils.php
Due: php-l, assert-UnityHTTPD-used, assert-exceptions-used

more friendly message on invalid CSRF token
  resources/lib/UnityHTTPD.php
Due: php-l, assert-utils-used

wip
  resources/templates/header.php
  webroot/css/messages.css
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

automatically hide clear all messages button
  resources/templates/footer.php
  resources/templates/header.php
  webroot/js/messages.js
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

clear all messages
  resources/templates/header.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

move onclick to messages.js
  resources/templates/header.php
  webroot/js/messages.js
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

console.log on ajax error
  webroot/js/messages.js
Due: none

Path conditions:
  phpcbf: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/lib/.*|
)$

  phpcs: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/lib/.*|
)$

  php-l: any of: \.php$
  assert-UnityHTTPD-used: any of: \.php$, but not: (?x)^(
    resources/lib/UnityHTTPD\.php|
    workers/.*|
)$

  assert-utils-used: any of: \.php$, but not: ^resources/lib/utils\.php$
  assert-exceptions-used: any of: ^resources/.*\.php$, but not: ^resources/lib/UnityHTTPD\.php$
  assert-forbidden-used: any of: ^webroot/admin/.*\.php$
