Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

.pre-commit-config.yaml:

# pre-commit automatically excludes submodules
# exclude: |
#   (?x)^(
#       test/.*|
#   )$

repos:
  # auto formatters (no work required) #############################################################
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        # https://github.com/prettier/plugin-php/issues/2430
        exclude: workers/.*

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.4.2
    hooks:
      - id: prettier
        exclude: |
          (?x)^(
              composer\.json|
              composer\.lock|
          )$

  - repo: local
    hooks:
      - id: phpcbf
        name: PHP Code Beautifier and Fixer
        entry: ./vendor/bin/phpcbf
        args: [--standard=./.phpcs-ruleset.xml, --colors]
        language: system
        files: \.php$
        # exclude pure PHP files
        exclude: |
          (?x)^(
              test/.*|
              workers/.*|
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/lib/.*|
          )$

  - repo: local
    hooks:
      - id: prettier (php)
        name: prettier (php)
        entry: npx
        args:
          [prettier, --plugin=@prettier/plugin-php, --php-version=8.3, --write]
        language: system
        files: \.php$
        # exclude impure PHP files
        exclude: |
          (?x)^(
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/templates/.*|
              webroot/.*|
          )$

  # linters (work required) ########################################################################
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-xml
      - id: check-added-large-files
      - id: check-executables-have-shebangs

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.23.1
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: phpcs
        name: PHP CodeSniffer
        entry: ./vendor/bin/phpcs
        language: system
        files: \.php$
        args: [--standard=./.phpcs-ruleset.xml, --colors]
        # exclude pure PHP files
        exclude: |
          (?x)^(
              test/.*|
              workers/.*|
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/lib/.*|
          )$
      - id: php-l
        name: php -l
        entry: php
        language: system
        files: \.php$
        args: [-l]
      - id: assert-UnityHTTPD-used
        name: Assert UnityHTTPD functions are used
        entry: bash ./test/assert-UnityHTTPD-used.bash
        language: system
        files: \.php$
        exclude: |
          (?x)^(
              resources/lib/UnityHTTPD\.php|
              workers/.*|
          )$
      - id: assert-utils-used
        name: Assert utils are used
        entry: bash ./test/assert-utils-used.bash
        language: system
        files: \.php$
        exclude: ^resources/lib/utils\.php$
      - id: assert-exceptions-used
        name: Assert exceptions are used
        entry: bash ./test/assert-exceptions-used.bash
        language: system
        files: ^resources/.*\.php$
        exclude: ^resources/lib/UnityHTTPD\.php$

remove $ignorecache argument
  test/functional/SSHKeyAddTest.php
  test/functional/SSHKeyDeleteTest.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

remove redis (#368)
  README.md
  defaults/config.ini.default
  resources/autoload.php
  resources/init.php
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  resources/lib/UnityOrg.php
  resources/lib/UnityRedis.php
  resources/lib/UnityUser.php
  test/functional/PIBecomeApproveTest.php
  test/functional/PageLoadTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/PiMemberDenyTest.php
  test/functional/PiRemoveUserTest.php
  test/functional/RegisterUserTest.php
  test/functional/SSHKeyAddTest.php
  test/functional/SSHKeyDeleteTest.php
  test/phpunit-bootstrap.php
  tools/docker-dev/docker-compose.yml
  tools/docker-dev/redis/Dockerfile
  tools/docker-dev/web/Dockerfile
  webroot/admin/ajax/get_group_members.php
  webroot/admin/pi-mgmt.php
  webroot/panel/ajax/get_group_members.php
  webroot/panel/groups.php
  webroot/panel/modal/pi_search.php
  webroot/panel/new_account.php
  webroot/panel/pi.php
  workers/group_user_request_owner_reminder.php
  workers/remove-users-from-group.php
  workers/update-ldap-cache.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add redis removal to changelog
  README.md
Due: none

changelog redis removed from config file
  README.md
Due: none

setup error handler to make (undefined array key) fatal
  defaults/config.ini.default
  deployment/overrides/phpunit/config/config.ini
  resources/init.php
  resources/lib/UnityHTTPD.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

tweaks
  resources/lib/UnityHTTPD.php
  tools/docker-dev/web/Dockerfile
Due: prettier (php), php-l, assert-utils-used

move remote_user, remote_addr, errorid to end of log message
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

check if error is null
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

Update installation command for PHP dependencies
  CONTRIBUTING.md
Due: none

Update PHP extension installation instructions
  README.md
Due: none

Add PHP extensions installation instructions
  CONTRIBUTING.md
Due: none

Add Docker Compose plugin installation for Linux
  CONTRIBUTING.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

removed the constant from UnitySQL
  resources/lib/UnityGroup.php
  resources/lib/UnitySQL.php
  test/functional/PIBecomeApproveTest.php
  test/functional/PIMemberRequestTest.php
  test/functional/PiBecomeRequestTest.php
  webroot/admin/pi-mgmt.php
  webroot/panel/account.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

git checks caught a straggler use of the constant
  resources/lib/UnityGroup.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

added back the constant but now it is explicitly called whenever it is used in a function
  resources/lib/UnityGroup.php
  resources/lib/UnitySQL.php
  test/functional/PIBecomeApproveTest.php
  test/functional/PIMemberRequestTest.php
  test/functional/PiBecomeRequestTest.php
  webroot/admin/pi-mgmt.php
  webroot/panel/account.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

made the constant accessible
  resources/lib/UnitySQL.php
  webroot/admin/pi-mgmt.php
  webroot/panel/account.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

fixed white space on CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

fixed white space on CONTRIBUTING.md (#371)
  CONTRIBUTING.md
Due: none

remove arrayGet function
  resources/lib/UnityHTTPD.php
  resources/lib/utils.php
  test/unit/UtilsTest.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

setup error handler to make (undefined array key) fatal (#356)
  defaults/config.ini.default
  deployment/overrides/phpunit/config/config.ini
  resources/init.php
  resources/lib/UnityHTTPD.php
  resources/lib/utils.php
  test/unit/UtilsTest.php
  tools/docker-dev/web/Dockerfile
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

removed the constant `REQUEST_BECOME_PI` from UnitySQL (#370)
  resources/lib/UnityGroup.php
  resources/lib/UnitySQL.php
  test/functional/PiBecomeRequestTest.php
  webroot/admin/pi-mgmt.php
  webroot/panel/account.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

initial commit
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

remove unused modal yes no buttons
  resources/templates/header.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove modal messages
  resources/templates/header.php
  webroot/css/modal.css
  webroot/js/modal.js
  webroot/panel/groups.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove modal buttons
  resources/templates/header.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

backed enum
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

assertMessageExists
  test/phpunit-bootstrap.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

initialize messages
  resources/init.php
  resources/lib/UnityHTTPD.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

redirect uses current page as default value
  resources/lib/UnityHTTPD.php
  resources/lib/utils.php
  resources/templates/header.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

use messages instead of modal errors
  test/functional/PIMemberRequestTest.php
  webroot/panel/groups.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

clear messages in test, print messages in header.php
  resources/lib/UnityHTTPD.php
  resources/templates/header.php
  test/functional/PIMemberRequestTest.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

fix rege
  test/functional/PIMemberRequestTest.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

fix bug
  resources/init.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

move messages into main div
  resources/templates/header.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

copy django message semantics
  resources/lib/UnityHTTPD.php
  test/functional/PIMemberRequestTest.php
  test/phpunit-bootstrap.php
  webroot/panel/groups.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

message header is h3
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

remove exportMessagesHTML
  resources/lib/UnityHTTPD.php
  resources/templates/header.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

create messages.css
  resources/templates/header.php
  webroot/css/messages.css
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove success messages
  webroot/panel/groups.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used
