Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

phpcbf:
  name: PHP Code Beautifier and Fixer
  entry: ./vendor/bin/phpcbf
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors
  language: system

phpcs:
  name: PHP CodeSniffer
  entry: ./vendor/bin/phpcs
  language: system
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors

php-l:
  name: php -l
  entry: php
  language: system
  args:
  - -l

assert-UnityHTTPD-used:
  name: Assert UnityHTTPD functions are used
  entry: bash ./test/assert-UnityHTTPD-used.bash
  language: system

assert-utils-used:
  name: Assert utils are used
  entry: bash ./test/assert-utils-used.bash
  language: system

assert-exceptions-used:
  name: Assert exceptions are used
  entry: bash ./test/assert-exceptions-used.bash
  language: system

assert-forbidden-used:
  name: Assert forbidden() is used
  entry: bash ./test/assert-forbidden-used.bash
  language: system

optional
  resources/templates/header.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

Update webroot/admin/content.php
  webroot/admin/content.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

use the same csrf token for all the user become forms
  webroot/admin/user-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

use the same csrf token for all the user become forms (#494)
  webroot/admin/user-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

catch edge cases
  resources/lib/UnityGroup.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

catch edge cases
  resources/lib/UnityGroup.php
  test/functional/PiBecomeRequestTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove dead code
  resources/lib/UnityGroup.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove getters
  resources/lib/UnityLDAP.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

show all native users in user-mgmt
  resources/lib/UnityLDAP.php
  webroot/admin/LDAP.md
  webroot/admin/user-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

phpstan ignore
  resources/lib/UnityLDAP.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

instead of just qualified users, show all native users in user-mgmt (#499)
  resources/lib/UnityLDAP.php
  webroot/admin/LDAP.md
  webroot/admin/user-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

add user flags to user-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/js/tables.js
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

populate SQL with requests
  resources/lib/UnitySQL.php
  tools/docker-dev/sql/bootstrap-users.sql
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

populate SQL with requests (#496)
  resources/lib/UnitySQL.php
  tools/docker-dev/sql/bootstrap-users.sql
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

make pi.php prettier for an empty group
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

make pi.php prettier for an empty group (#501)
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

remove
  resources/lib/PosixGroup.php
  resources/lib/UnityGroup.php
  resources/lib/UnityOrg.php
  resources/lib/UnityUser.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

phpopenldaper write-through (#471)
  resources/lib/PosixGroup.php
  resources/lib/UnityGroup.php
  resources/lib/UnityOrg.php
  resources/lib/UnityUser.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

fix type for setOrg
  resources/lib/UnityUser.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

fix type for setOrg (#503)
  resources/lib/UnityUser.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

private
  resources/lib/UnityUser.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

use tregx
  test/functional/SSHKeyDeleteTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

ensure index contiguity
  resources/lib/UnityUser.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

rewrite SSH key logic
  defaults/config.ini.default
  phpstan.neon
  resources/lib/UnityUser.php
  resources/lib/utils.php
  test/functional/SSHKeyAddTest.php
  test/functional/SSHKeyDeleteTest.php
  test/phpunit-bootstrap.php
  test/unit/CSRFTokenTest.php
  test/unit/UtilsTest.php
  webroot/js/ajax/ssh_generate.php
  webroot/js/ajax/ssh_validate.php
  webroot/panel/account.php
  webroot/panel/modal/new_key.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

rewrite ssh key logic (#401)
  defaults/config.ini.default
  phpstan.neon
  resources/lib/UnityUser.php
  resources/lib/utils.php
  test/functional/SSHKeyAddTest.php
  test/functional/SSHKeyDeleteTest.php
  test/phpunit-bootstrap.php
  test/unit/CSRFTokenTest.php
  test/unit/UtilsTest.php
  webroot/js/ajax/ssh_generate.php
  webroot/js/ajax/ssh_validate.php
  webroot/panel/account.php
  webroot/panel/modal/new_key.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

make it the same everywhere (almost)
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/panel/modal/new_key.php
  webroot/panel/modal/new_pi.php
  webroot/panel/new_account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

use only one csrf token for each page
  webroot/admin/ajax/get_group_members.php
  webroot/admin/notices.php
  webroot/panel/account.php
  webroot/panel/groups.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

remove echo that doesn't belong
  webroot/admin/notices.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

update version number
  README.md
  defaults/config.ini.default
Due: none

remove $SEND_PIMESG_TO_ADMINS
  phpstan.neon
  resources/init.php
  resources/lib/UnityGroup.php
  test/phpunit-bootstrap.php
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add test for denying PI become requests
  phpstan.neon
  test/functional/PiBecomeDenyTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

set default value at runtime
  resources/lib/UnityGroup.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add test for denying PI become requests (#504)
  phpstan.neon
  resources/init.php
  resources/lib/UnityGroup.php
  test/functional/PiBecomeDenyTest.php
  test/phpunit-bootstrap.php
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

centers the x icon to close the add key window
  webroot/css/modal.css
Due: none

update update instructions
  README.md
Due: none

use only one csrf token for each page (#502)
  webroot/admin/ajax/get_group_members.php
  webroot/admin/notices.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/panel/account.php
  webroot/panel/groups.php
  webroot/panel/modal/new_key.php
  webroot/panel/modal/new_pi.php
  webroot/panel/new_account.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

move LDAP.md
  LDAP.md
Due: none

fix ldap_escape
  resources/lib/UnityLDAP.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

added a z-index to the header
  webroot/css/navbar.css
Due: none

Path conditions:
  phpcbf: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/lib/.*|
)$

  phpcs: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/lib/.*|
)$

  php-l: any of: \.php$
  assert-UnityHTTPD-used: any of: \.php$, but not: (?x)^(
    resources/lib/UnityHTTPD\.php|
    workers/.*|
)$

  assert-utils-used: any of: \.php$, but not: ^resources/lib/utils\.php$
  assert-exceptions-used: any of: ^resources/.*\.php$, but not: ^resources/lib/UnityHTTPD\.php$
  assert-forbidden-used: any of: ^webroot/admin/.*\.php$
