Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

phpcbf:
  name: PHP Code Beautifier and Fixer
  entry: ./vendor/bin/phpcbf
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors
  language: system

phpcs:
  name: PHP CodeSniffer
  entry: ./vendor/bin/phpcs
  language: system
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors

php-l:
  name: php -l
  entry: php
  language: system
  args:
  - -l

assert-UnityHTTPD-used:
  name: Assert UnityHTTPD functions are used
  entry: bash ./test/assert-UnityHTTPD-used.bash
  language: system

assert-utils-used:
  name: Assert utils are used
  entry: bash ./test/assert-utils-used.bash
  language: system

assert-exceptions-used:
  name: Assert exceptions are used
  entry: bash ./test/assert-exceptions-used.bash
  language: system

assert-forbidden-used:
  name: Assert forbidden() is used
  entry: bash ./test/assert-forbidden-used.bash
  language: system

align
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

assert not isPI()
  test/functional/PIDisableTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

cast for phpstan
  resources/lib/UnityGroup.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove dangling reference
  webroot/panel/modal/new_pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

Update tools/docker-dev/identity/unity-cluster-schema.ldif
  tools/docker-dev/identity/unity-cluster-schema.ldif
Due: none

prettier
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

use label
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

simplify disable() since there are no members
  resources/lib/UnityGroup.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

update phpunit-bootstrap
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

remove comment
  resources/mail/group_reenabled.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

cast for phpstan
  resources/lib/UnityLDAP.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

Revert "comment out functions not yet implemented"
  resources/lib/UnityGroup.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

explain, flexbox
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

fix nickname
  test/functional/PIBecomeApproveTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

handle double click, send messages
  resources/lib/UnityGroup.php
  webroot/admin/pi-mgmt.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

Update resources/mail/group_reenabled.php
  resources/mail/group_reenabled.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

handle edge case no members
  resources/lib/UnityGroup.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

setIsDisabled should be private
  resources/lib/UnityGroup.php
  test/functional/PIBecomeApproveTest.php
  test/functional/PIDisableTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

disallow disable if members
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

fix bugs
  resources/lib/UnityGroup.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

uncomment
  test/functional/PIDisableTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

cast different
  resources/lib/UnityLDAP.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add another <hr> to navbar
  resources/templates/header.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

home page: use text-wrap instead of max-width
  resources/templates/home.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

Revert "simplify disable() since there are no members"
  resources/lib/UnityGroup.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

admins can nuke a group
  resources/lib/UnityGroup.php
  webroot/admin/pi-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

Revert "remove test"
  test/functional/PIDisableTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

update test
  test/functional/PIDisableTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

add test
  test/functional/PIDisableTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

setup php cs fixer
  .php-cs-fixer.dist.php
  .pre-commit-config.yaml
  composer.json
  composer.lock
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

configure
  .php-cs-fixer.dist.php
  .php-cs-fixer.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

gitignore
  .gitignore
Due: none

allow in pre-commit
  .pre-commit-config.yaml
Due: none

remove unused imports
  resources/init.php
  resources/lib/PosixGroup.php
  resources/lib/UnityGithub.php
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  resources/lib/UnitySSO.php
  resources/lib/UnityUser.php
  test/functional/LeaveGroupTest.php
  test/functional/PIMemberApproveTest.php
  test/functional/PIMemberRequestTest.php
  test/functional/RegisterUserTest.php
  test/functional/WorkerRemoveUsersFromGroupTest.php
  test/phpunit-bootstrap.php
  test/unit/UtilsTest.php
  webroot/admin/user-mgmt.php
  webroot/panel/groups.php
  workers/unity-course.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

add to pre-commit config
  .pre-commit-config.yaml
Due: none

fix pre-commit
  .pre-commit-config.yaml
Due: none

add comments
  resources/init.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

use cookies instead of session
  resources/init.php
  resources/lib/utils.php
  resources/templates/header.php
  resources/templates/home.php
  test/functional/ViewAsUserTest.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

avoid test case pollution
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

don't unset logged in cookie
  resources/init.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

Path conditions:
  phpcbf: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/lib/.*|
)$

  phpcs: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/lib/.*|
)$

  php-l: any of: \.php$
  assert-UnityHTTPD-used: any of: \.php$, but not: (?x)^(
    resources/lib/UnityHTTPD\.php|
    workers/.*|
)$

  assert-utils-used: any of: \.php$, but not: ^resources/lib/utils\.php$
  assert-exceptions-used: any of: ^resources/.*\.php$, but not: ^resources/lib/UnityHTTPD\.php$
  assert-forbidden-used: any of: ^webroot/admin/.*\.php$
