Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

phpcbf:
  name: PHP Code Beautifier and Fixer
  entry: ./vendor/bin/phpcbf
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors
  language: system

prettier (php):
  name: prettier (php)
  entry: npx
  args:
  - prettier
  - --plugin=@prettier/plugin-php
  - --php-version=8.3
  - --write
  language: system

phpcs:
  name: PHP CodeSniffer
  entry: ./vendor/bin/phpcs
  language: system
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors

php-l:
  name: php -l
  entry: php
  language: system
  args:
  - -l

assert-UnityHTTPD-used:
  name: Assert UnityHTTPD functions are used
  entry: bash ./test/assert-UnityHTTPD-used.bash
  language: system

assert-utils-used:
  name: Assert utils are used
  entry: bash ./test/assert-utils-used.bash
  language: system

assert-exceptions-used:
  name: Assert exceptions are used
  entry: bash ./test/assert-exceptions-used.bash
  language: system

use message system in exception handler (#381)
  defaults/config.ini.default
  deployment/overrides/phpunit/config/config.ini
  deployment/overrides/worker/config/config.ini
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

fixup dev homepage
  tools/docker-dev/sql/bootstrap.sql
Due: none

fixup dev homepage (#386)
  tools/docker-dev/sql/bootstrap.sql
Due: none

no leading slashes
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/panel/groups.php
  webroot/panel/modal/new_key.php
  webroot/panel/modal/new_pi.php
  webroot/panel/new_account.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

respect URL scheme in pathJoin
  resources/lib/utils.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-exceptions-used

getHyperlink
  resources/lib/utils.php
  resources/mail/footer.php
  resources/mail/group_created.php
  resources/mail/group_request_admin.php
  resources/mail/group_user_added.php
  resources/mail/group_user_request_owner.php
  resources/mail/user_loginshell.php
  resources/mail/user_qualified.php
  resources/mail/user_sshkey.php
  resources/templates/header.php
  webroot/panel/groups.php
  webroot/panel/pi.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

for loop
  resources/templates/footer.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

don't delete modal.css
  resources/templates/header.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

dev environment does not have https
  defaults/config.ini.default
Due: none

cleanup
  webroot/admin/content.php
  webroot/panel/account.php
  webroot/panel/modal/new_pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

fix bug
  resources/lib/utils.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-exceptions-used

close script element
  resources/templates/footer.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

wip
  resources/lib/UnityHTTPD.php
  resources/lib/UnityMailer.php
  resources/lib/UnityWebhook.php
  resources/lib/utils.php
  resources/mail/footer.php
  resources/mail/group_created.php
  resources/mail/group_request_admin.php
  resources/mail/group_user_added.php
  resources/mail/group_user_request_owner.php
  resources/mail/user_loginshell.php
  resources/mail/user_qualified.php
  resources/mail/user_sshkey.php
  resources/templates/footer.php
  resources/templates/header.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/panel/account.php
  webroot/panel/groups.php
  webroot/panel/modal/new_key.php
  webroot/panel/modal/new_pi.php
  webroot/panel/new_account.php
  webroot/panel/pi.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove leading slashes
  resources/templates/header.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

rename
  resources/lib/utils.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-exceptions-used

refactor
  resources/lib/utils.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-exceptions-used

add unit tests
  test/unit/UtilsTest.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

rewrite getURL
  resources/lib/utils.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-exceptions-used

fix test
  test/unit/UtilsTest.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

wip
  test/functional/AccountDeletionRequestTest.php
  test/functional/PIBecomeApproveTest.php
  test/functional/PiBecomeRequestTest.php
  test/functional/PiMemberApproveTest.php
  test/phpunit-bootstrap.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

all test cases extend base class
  test/functional/AccountDeletionRequestTest.php
  test/functional/InvalidEPPNTest.php
  test/functional/LoginShellSetTest.php
  test/functional/PIBecomeApproveTest.php
  test/functional/PIMemberRequestTest.php
  test/functional/PageLoadTest.php
  test/functional/PiBecomeRequestTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/PiMemberDenyTest.php
  test/functional/PiRemoveUserTest.php
  test/functional/RegisterUserTest.php
  test/functional/SSHKeyAddTest.php
  test/functional/SSHKeyDeleteTest.php
  test/functional/ViewAsUserTest.php
  test/unit/AjaxSshValidateTest.php
  test/unit/UnityGithubTest.php
  test/unit/UnitySSOTest.php
  test/unit/UtilsTest.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

remove namespaces
  test/unit/AjaxSshValidateTest.php
  test/unit/UnityGithubTest.php
  test/unit/UnitySSOTest.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

public
  test/phpunit-bootstrap.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

fix assertMessageExists
  test/functional/PIMemberRequestTest.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

remove unused imports
  test/functional/AccountDeletionRequestTest.php
  test/functional/InvalidEPPNTest.php
  test/functional/LoginShellSetTest.php
  test/functional/PIBecomeApproveTest.php
  test/functional/PIMemberRequestTest.php
  test/functional/PageLoadTest.php
  test/functional/PiBecomeRequestTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/PiMemberDenyTest.php
  test/functional/PiRemoveUserTest.php
  test/functional/RegisterUserTest.php
  test/functional/SSHKeyAddTest.php
  test/functional/SSHKeyDeleteTest.php
  test/functional/ViewAsUserTest.php
  test/unit/AjaxSshValidateTest.php
  test/unit/UnityGithubTest.php
  test/unit/UnitySSOTest.php
  test/unit/UtilsTest.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

unify test assertion functions into base class (#387)
  test/functional/AccountDeletionRequestTest.php
  test/functional/InvalidEPPNTest.php
  test/functional/LoginShellSetTest.php
  test/functional/PIBecomeApproveTest.php
  test/functional/PIMemberRequestTest.php
  test/functional/PageLoadTest.php
  test/functional/PiBecomeRequestTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/PiMemberDenyTest.php
  test/functional/PiRemoveUserTest.php
  test/functional/RegisterUserTest.php
  test/functional/SSHKeyAddTest.php
  test/functional/SSHKeyDeleteTest.php
  test/functional/ViewAsUserTest.php
  test/phpunit-bootstrap.php
  test/unit/AjaxSshValidateTest.php
  test/unit/UnityGithubTest.php
  test/unit/UnitySSOTest.php
  test/unit/UtilsTest.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

no more regex
  resources/lib/UnityHTTPD.php
  resources/templates/header.php
  test/functional/DeleteMessageTest.php
  webroot/panel/ajax/delete_message.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

fix filename
  resources/lib/exceptions/UnityHTTPDMessageNotFoundException.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

put back clearMessages
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

add test
  test/functional/DeleteMessageTest.php
  test/phpunit-bootstrap.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

X button deletes specific messag with ajax
  resources/lib/UnityHTTPD.php
  resources/templates/header.php
  webroot/panel/ajax/delete_message.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove check for null
  resources/lib/UnityHTTPD.php
Due: prettier (php), php-l, assert-utils-used

add getMessage, deleteMessage
  resources/autoload.php
  resources/lib/UnityHTTPD.php
  resources/lib/exceptions/UnityHTTPDMessageNotFoundException
  test/phpunit-bootstrap.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

regex quote
  resources/templates/header.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

cancel other requests when user requests account deletion
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

move deleteRequestsByUser into UnityUser
  resources/lib/UnityUser.php
  webroot/panel/account.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add test case
  test/functional/AccountDeletionRequestTest.php
  test/phpunit-bootstrap.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

cancel other requests when user requests account deletion (#375)
  resources/lib/UnityUser.php
  test/functional/AccountDeletionRequestTest.php
  test/phpunit-bootstrap.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

more standard wording
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

cancel request account deletion
  resources/lib/UnityUser.php
  webroot/panel/account.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

Path conditions:
  phpcbf: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/lib/.*|
)$

  prettier (php): any of: \.php$, but not: (?x)^(
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/templates/.*|
    webroot/.*|
)$

  phpcs: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/lib/.*|
)$

  php-l: any of: \.php$
  assert-UnityHTTPD-used: any of: \.php$, but not: (?x)^(
    resources/lib/UnityHTTPD\.php|
    workers/.*|
)$

  assert-utils-used: any of: \.php$, but not: ^resources/lib/utils\.php$
  assert-exceptions-used: any of: ^resources/.*\.php$, but not: ^resources/lib/UnityHTTPD\.php$
