Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf-pure, phpcbf-impure, phpcs-pure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

phpcbf-pure:
  name: PHP Code Beautifier and Fixer (pure PHP files)
  entry: ./vendor/bin/phpcbf
  args:
  - --standard=./.phpcs-ruleset-pure.xml
  - --colors
  language: system

phpcbf-impure:
  name: PHP Code Beautifier and Fixer (mixed PHP/HTML files)
  entry: ./vendor/bin/phpcbf
  args:
  - --standard=./.phpcs-ruleset-impure.xml
  - --colors
  language: system

phpcs-pure:
  name: PHP Code Sniffer (pure PHP files)
  entry: ./vendor/bin/phpcs
  args:
  - --standard=./.phpcs-ruleset-pure.xml
  - --colors
  - -s
  language: system

phpcs-impure:
  name: PHP Code Sniffer (mixed PHP/HTML files)
  entry: ./vendor/bin/phpcs
  args:
  - --standard=./.phpcs-ruleset-impure.xml
  - --colors
  - -s
  language: system

php-l:
  name: php -l
  entry: php
  language: system
  args:
  - -l

assert-UnityHTTPD-used:
  name: Assert UnityHTTPD functions are used
  entry: bash ./test/assert-UnityHTTPD-used.bash
  language: system

assert-utils-used:
  name: Assert utils are used
  entry: bash ./test/assert-utils-used.bash
  language: system

assert-exceptions-used:
  name: Assert exceptions are used
  entry: bash ./test/assert-exceptions-used.bash
  language: system

assert-forbidden-used:
  name: Assert forbidden() is used
  entry: bash ./test/assert-forbidden-used.bash
  language: system

hide disabled PI groups from groups.php
  resources/lib/UnityLDAP.php
  webroot/panel/groups.php
Due: phpcbf-pure, phpcbf-impure, phpcs-pure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

hide disabled PI groups from groups.php (#568)
  resources/lib/UnityLDAP.php
  webroot/panel/groups.php
Due: phpcbf-pure, phpcbf-impure, phpcs-pure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

show owner in member list (#565)
  webroot/panel/pi.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used

fix clear messages button
  webroot/js/messages.js
Due: none

fix "clear messages" button (#569)
  webroot/js/messages.js
Due: none

rename variable
  README.md
  defaults/config.ini.default
  resources/lib/UnityLDAP.php
  resources/lib/UnityUser.php
  test/functional/RegisterUserTest.php
  test/phpunit-bootstrap.php
  workers/unity-course.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

uncomment assertion
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used

rename confusing variable (#219)
  README.md
  defaults/config.ini.default
  resources/lib/UnityLDAP.php
  resources/lib/UnityUser.php
  test/functional/RegisterUserTest.php
  test/phpunit-bootstrap.php
  workers/unity-course.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

uncomment assertion (#571)
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used

ghost, locked, idlelocked
  .pre-commit-config.yaml
  LDAP.md
  defaults/config.ini.default
  resources/init.php
  resources/lib/UnityLDAP.php
  resources/mail/user_flag_added.php
  resources/mail/user_flag_added_admin.php
  resources/mail/user_flag_removed.php
  resources/mail/user_flag_removed_admin.php
  test/functional/IdleUnlockTest.php
  test/functional/PageLoadTest.php
  test/functional/RegisterUserTest.php
  test/functional/ViewAsUserTest.php
  test/phpunit-bootstrap.php
  tools/docker-dev/identity/bootstrap.ldif
  webroot/panel/new_account.php
Due: phpcbf-pure, phpcbf-impure, phpcs-pure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

uncomment tests
  test/functional/RegisterUserTest.php
  webroot/panel/new_account.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used

whitespace
  defaults/config.ini.default
Due: none

phpstan
  resources/init.php
  test/functional/PageLoadTest.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

update terminology
  test/functional/RegisterUserTest.php
  webroot/panel/new_account.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used

add migration
  README.md
Due: none

update LDAP.md
  LDAP.md
Due: none

rename user groups OU in dev ldap
  defaults/config.ini.default
  tools/docker-dev/identity/bootstrap.ldif
Due: none

implement ghost, locked, idlelocked user flags (#521)
  .pre-commit-config.yaml
  LDAP.md
  README.md
  defaults/config.ini.default
  resources/init.php
  resources/lib/UnityLDAP.php
  resources/mail/user_flag_added.php
  resources/mail/user_flag_added_admin.php
  resources/mail/user_flag_removed.php
  resources/mail/user_flag_removed_admin.php
  test/functional/IdleUnlockTest.php
  test/functional/PageLoadTest.php
  test/functional/RegisterUserTest.php
  test/functional/ViewAsUserTest.php
  test/phpunit-bootstrap.php
  tools/docker-dev/identity/bootstrap.ldif
  webroot/panel/new_account.php
Due: phpcbf-pure, phpcbf-impure, phpcs-pure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

Move requests to the top of the list
  webroot/admin/ajax/get_group_members.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

strict types (#550)
  resources/init.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

rename user groups OU in dev ldap (#572)
  defaults/config.ini.default
  tools/docker-dev/identity/bootstrap.ldif
Due: none

Move requests to the top of the list (#573)
  webroot/admin/ajax/get_group_members.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

"unityClusterPIGroup" -> "piGroup"
  resources/lib/UnityGroup.php
  tools/docker-dev/identity/bootstrap.ldif
  tools/docker-dev/identity/unity-cluster-schema.ldif
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add migration worker for new schema
  workers/ensure-all-pi-groups-have-objectClass.php
Due: php-l, assert-utils-used

rename objectClass, add migration worker (#574)
  resources/lib/UnityGroup.php
  tools/docker-dev/identity/bootstrap.ldif
  tools/docker-dev/identity/unity-cluster-schema.ldif
  workers/ensure-all-pi-groups-have-objectClass.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add migration to readme
  README.md
Due: none

remove admin check
  resources/init.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

set session keys properly
  resources/init.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

isPI
  resources/init.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

refactor session
  resources/init.php
  resources/templates/header.php
  resources/templates/home.php
  test/functional/ViewAsUserTest.php
Due: phpcbf-pure, phpcbf-impure, phpcs-pure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

check for viewUser
  resources/templates/header.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

typo
  resources/init.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

getFlag
  resources/init.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

refactor
  resources/init.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

move comment
  resources/init.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

"unity cluster" -> "account portal"
  README.md
  tools/docker-dev/identity/Dockerfile
  tools/docker-dev/identity/account-portal-schema.ldif
Due: none

lowercase
  tools/docker-dev/identity/bootstrap.ldif
Due: none

revert changes
  webroot/panel/pi.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used

fix wording
  webroot/panel/pi.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used

move "manage group" to groups.php
  resources/templates/header.php
  test/functional/PageLoadTest.php
  webroot/panel/groups.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

Path conditions:
  phpcbf-pure: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/templates/.*|
    resources/mail/.*|
    webroot/.*|
    \.php-cs-fixer\.dist\.php|
)$

  phpcbf-impure: any of: (?x)^(
    resources/templates/.*\.php|
    resources/mail/.*|
    webroot/.*\.php|
)$
, but not: (?x)^(
    resources/mail/user_flag_.*\.php|
)$

  phpcs-pure: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/templates/.*|
    resources/mail/.*|
    webroot/.*|
    \.php-cs-fixer\.dist\.php|
)$

  phpcs-impure: any of: (?x)^(
    resources/templates/.*\.php|
    resources/mail/.*\.php|
    webroot/.*\.php|
)$
, but not: (?x)^(
    resources/mail/user_flag_.*\.php|
)$

  php-l: any of: \.php$
  assert-UnityHTTPD-used: any of: \.php$, but not: (?x)^(
    resources/lib/UnityHTTPD\.php|
    workers/.*|
)$

  assert-utils-used: any of: \.php$, but not: (?x)^(
    ^resources/lib/utils\.php$|
    ^test/.*\.php$|
)$

  assert-exceptions-used: any of: ^resources/.*\.php$, but not: ^resources/lib/UnityHTTPD\.php$
  assert-forbidden-used: any of: ^webroot/admin/.*\.php$
