Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

.pre-commit-config.yaml:

# pre-commit automatically excludes submodules
# exclude: |
#   (?x)^(
#       test/.*|
#   )$

repos:
  # auto formatters (no work required) #############################################################
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        # https://github.com/prettier/plugin-php/issues/2430
        exclude: workers/.*

  - repo: local
    hooks:
      - id: phpcbf
        name: PHP Code Beautifier and Fixer
        entry: ./vendor/bin/phpcbf
        args: [--standard=./.phpcs-ruleset.xml, --colors]
        language: system
        files: \.php$
        # exclude pure PHP files
        exclude: |
          (?x)^(
              test/.*|
              workers/.*|
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/lib/.*|
          )$

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        # exclude impure PHP files
        exclude: |
          (?x)^(
              composer\.json|
              composer\.lock|
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/templates/.*|
              webroot/.*|
          )$

  # linters (work required) ########################################################################
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-xml
      - id: check-added-large-files
      - id: check-executables-have-shebangs

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: phpcs
        name: PHP CodeSniffer
        entry: ./vendor/bin/phpcs
        language: system
        files: \.php$
        args: [--standard=./.phpcs-ruleset.xml, --colors]
        # exclude pure PHP files
        exclude: |
          (?x)^(
              test/.*|
              workers/.*|
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/lib/.*|
          )$
      - id: php-l
        name: php -l
        entry: php
        language: system
        files: \.php$
        args: [-l]
      - id: assert-UnityHTTPD-used
        name: Assert UnityHTTPD functions are used
        entry: bash ./test/assert-UnityHTTPD-used.bash
        language: system
        files: \.php$
        exclude: |
          (?x)^(
              resources/lib/UnityHTTPD\.php|
              workers/.*|
          )$
      - id: assert-utils-used
        name: Assert utils are used
        entry: bash ./test/assert-utils-used.bash
        language: system
        files: \.php$
        exclude: ^resources/lib/utils\.php$
      - id: assert-exceptions-used
        name: Assert exceptions are used
        entry: bash ./test/assert-exceptions-used.bash
        language: system
        files: ^resources/.*\.php$
        exclude: ^resources/lib/UnityHTTPD\.php$
      - id: assert-forbidden-used
        name: Assert forbidden() is used
        entry: bash ./test/assert-forbidden-used.bash
        language: system
        files: ^webroot/admin/.*\.php$

fix capitalization
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

update test
  test/functional/SSHKeyDeleteTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

remove LDAPConn::search
  resources/lib/UnityLDAP.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

update caller
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove call_user_func
  phpstan.neon
  test/functional/PiMemberApproveTest.php
  test/functional/PiMemberDenyTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

remove phpstan ignore
  phpstan.neon
Due: none

remove LDAPConn::search (#530)
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove call_user_func (#531)
  phpstan.neon
  test/functional/PiMemberApproveTest.php
  test/functional/PiMemberDenyTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

update LDAP.md
  LDAP.md
Due: none

update test user nicknames
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

update nicknames in test user validation
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

Update webroot/panel/account.php
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

avoid pollution of $_SERVER["REQUEST_METHOD"]
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

fix casing
  test/functional/PIBecomeDenyTest.php
  test/functional/PIBecomeRequestTest.php
  test/functional/PIMemberApproveTest.php
  test/functional/PIMemberDenyTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

change "NormalPI" to user11 (not an admin)
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

separate user uidnumber gidnumber
  defaults/config.ini.default
  deployment/overrides/course-creator/config/config.ini
  resources/lib/UnityLDAP.php
  resources/lib/UnityUser.php
  test/custom_user_mappings/test.csv
  test/functional/RegisterUserTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

fix filename casing in phpstan config
  phpstan.neon
Due: none

fix filename casing
  test/functional/PIRemoveUserTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

fix filename casing in phpstan config (#532)
  phpstan.neon
  test/functional/PIRemoveUserTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

fix pollution of $_SERVER["REQUEST_METHOD"]
  test/phpunit-bootstrap.php
  test/unit/AjaxSshValidateTest.php
  webroot/js/ajax/ssh_validate.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

improve PI search
  webroot/panel/ajax/list_pi_groups_owner_info.php
  webroot/panel/modal/new_pi.php
  webroot/panel/modal/pi_search.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

copilot rewrite
  webroot/panel/modal/new_pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

iife
  webroot/panel/modal/new_pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

wip
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

simplify
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

expect_die
  test/functional/PageLoadTest.php
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

change argument name to reflect behavior
  test/functional/PageLoadTest.php
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

fix errors from test functions http_get http_post (#536)
  test/functional/PageLoadTest.php
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

enforce qualified user group
  LDAP.md
  phpstan.neon
  resources/init.php
  resources/lib/PosixGroup.php
  resources/lib/UnityGroup.php
  resources/lib/UnityUser.php
  resources/mail/user_flag_added.php
  resources/mail/user_flag_removed.php
  resources/mail/user_flag_removed_admin.php
  test/Template.php
  test/functional/LeaveGroupTest.php
  test/functional/PIBecomeApproveTest.php
  test/functional/PIRemoveUserTest.php
  test/functional/WorkerUpdateQualifiedUsersGroupTest.php
  test/phpunit-bootstrap.php
  tools/docker-dev/identity/bootstrap.ldif
  workers/update-qualified-users-group.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

update readme
  README.md
Due: none

remove unnecessary argument from ldap_escape
  resources/lib/UnityLDAP.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove unnecessary argument from ldap_escape (#529)
  resources/lib/UnityLDAP.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove comments from email templates (#525)
  resources/mail/account_deletion_request_admin.php
  resources/mail/group_created.php
  resources/mail/group_denied.php
  resources/mail/group_disband.php
  resources/mail/group_request.php
  resources/mail/group_request_admin.php
  resources/mail/group_user_added.php
  resources/mail/group_user_added_owner.php
  resources/mail/group_user_denied.php
  resources/mail/group_user_denied_owner.php
  resources/mail/group_user_removed.php
  resources/mail/group_user_removed_owner.php
  resources/mail/group_user_request.php
  resources/mail/group_user_request_owner.php
  resources/mail/user_loginshell.php
  resources/mail/user_sshkey.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

tweak death message (#526)
  resources/lib/UnityHTTPD.php
Due: php-l, assert-utils-used

fix bug
  resources/lib/UnityLDAP.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

wip
  defaults/config.ini.default
  resources/autoload.php
  resources/lib/UnityLDAP.php
  resources/lib/exceptions/NoAvailableIDNumbersException.php
  test/phpunit-bootstrap.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

allow user to manage any PI group with equal owner mail
  resources/lib/UnityLDAP.php
  resources/templates/header.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

update phpstan ignore
  phpstan.neon
Due: none

replace custom tables with datatables.net
  .gitignore
  package-lock.json
  package.json
  resources/lib/UnityLDAP.php
  resources/templates/footer.php
  resources/templates/header.php
  webroot/admin/ajax/get_group_members.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/css/filters.css
  webroot/css/tables.css
  webroot/js/filter.js
  webroot/js/sort.js
  webroot/js/tables.js
  webroot/panel/ajax/get_group_members.php
  webroot/panel/groups.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used
