Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf-pure, phpcbf-impure, phpcs-pure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

Path conditions:
  phpcbf-pure: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/templates/.*|
    resources/mail/.*|
    webroot/.*|
    \.php-cs-fixer\.dist\.php|
)$

  phpcbf-impure: any of: (?x)^(
    resources/templates/.*\.php|
    resources/mail/.*|
    webroot/.*\.php|
)$
, but not: (?x)^(
    resources/mail/user_flag_.*\.php|
)$

  phpcs-pure: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/templates/.*|
    resources/mail/.*|
    webroot/.*|
    \.php-cs-fixer\.dist\.php|
)$

  phpcs-impure: any of: (?x)^(
    resources/templates/.*\.php|
    resources/mail/.*\.php|
    webroot/.*\.php|
)$
, but not: (?x)^(
    resources/mail/user_flag_.*\.php|
)$

  php-l: any of: \.php$
  assert-UnityHTTPD-used: any of: \.php$, but not: (?x)^(
    resources/lib/UnityHTTPD\.php|
    workers/.*|
)$

  assert-utils-used: any of: \.php$, but not: (?x)^(
    ^resources/lib/utils\.php$|
    ^test/.*\.php$|
)$

  assert-exceptions-used: any of: ^resources/.*\.php$, but not: ^resources/lib/UnityHTTPD\.php$
  assert-forbidden-used: any of: ^webroot/admin/.*\.php$

update test
  test/functional/WorkerUnityCourseTest.php
Due: php-l, assert-UnityHTTPD-used

add tests
  test/functional/PageLoadTest.php
  test/phpunit-bootstrap.php
  tools/docker-dev/identity/bootstrap.ldif
Due: php-l, assert-UnityHTTPD-used

don't allow manage disabled group
  webroot/panel/pi.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used

fix nickname
  test/functional/PageLoadTest.php
Due: php-l, assert-UnityHTTPD-used

PI group managers
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  resources/templates/header.php
  test/functional/PageLoadTest.php
  test/functional/WorkerUnityCourseTest.php
  test/phpunit-bootstrap.php
  tools/docker-dev/identity/account-portal-schema.ldif
  tools/docker-dev/identity/bootstrap.ldif
  webroot/panel/pi.php
  workers/unity-course.php
Due: phpcbf-pure, phpcbf-impure, phpcs-pure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

refactor LDAP query function
  resources/lib/UnityLDAP.php
  test/functional/PageLoadTest.php
  test/phpunit-bootstrap.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add managers to testing cleanup
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used

documentation
  LDAP.md
Due: none

simplify
  test/functional/WorkerUnityCourseTest.php
  test/phpunit-bootstrap.php
  tools/docker-dev/identity/bootstrap.ldif
Due: php-l, assert-UnityHTTPD-used

change error messages
  test/functional/PageLoadTest.php
  test/phpunit-bootstrap.php
  webroot/panel/pi.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used

fix bugs
  test/functional/WorkerUnityCourseTest.php
  tools/docker-dev/identity/bootstrap.ldif
  workers/unity-course.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

fix OU
  tools/docker-dev/identity/bootstrap.ldif
Due: none

fix objectClass
  tools/docker-dev/identity/bootstrap.ldif
Due: none

put back missing variable
  webroot/panel/pi.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used

phpstan ignore
  phpstan.neon
Due: none

remove conditional continue
  webroot/panel/pi.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used

catch edge case
  resources/lib/UnityGroup.php
  test/functional/PIRemoveUserTest.php
  test/phpunit-bootstrap.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

change wording of h1
  resources/templates/header.php
  test/functional/PageLoadTest.php
  webroot/panel/pi.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

don't allow manager to disable group
  test/functional/PIDisableTest.php
  test/phpunit-bootstrap.php
  webroot/panel/pi.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used

redirect to groups.php if manager removes themself
  test/functional/PIRemoveUserTest.php
  webroot/panel/pi.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used

add more messages
  webroot/panel/pi.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used

revert page name, specify GID when managing another group
  resources/templates/header.php
  test/functional/PageLoadTest.php
  webroot/panel/pi.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

forgot to remove original h1
  webroot/panel/pi.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used

PI group managers (#567)
  LDAP.md
  phpstan.neon
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  test/functional/PIDisableTest.php
  test/functional/PIRemoveUserTest.php
  test/functional/PageLoadTest.php
  test/functional/WorkerUnityCourseTest.php
  test/phpunit-bootstrap.php
  tools/docker-dev/identity/account-portal-schema.ldif
  tools/docker-dev/identity/bootstrap.ldif
  webroot/panel/groups.php
  webroot/panel/pi.php
  workers/unity-course.php
Due: phpcbf-pure, phpcbf-impure, phpcs-pure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

log changes to user flags
  resources/lib/UnityUser.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

log changes to user flags (#576)
  resources/lib/UnityUser.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

update account.php post behavior (#527)
  test/functional/SSHKeyDeleteTest.php
  webroot/panel/account.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used

remove unused import
  test/functional/SSHKeyDeleteTest.php
Due: php-l, assert-UnityHTTPD-used

bump portal version
  defaults/config.ini.default
Due: none

unity-course.php: strip org when building plus address
  test/functional/WorkerUnityCourseTest.php
  workers/unity-course.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

unity-course.php: strip org when building plus address (#580)
  test/functional/WorkerUnityCourseTest.php
  workers/unity-course.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

fix mail in dev LDAP
  tools/docker-dev/identity/bootstrap.ldif
Due: none

fix edge case
  resources/lib/UnityGroup.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

send emails to managers as well as group owners
  resources/lib/UnityGroup.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add plus addressing with short name
  resources/lib/UnityGroup.php
  resources/lib/UnityMailer.php
  resources/lib/utils.php
  workers/unity-course.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

use owner for short name
  resources/lib/UnityGroup.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

fix error message
  resources/lib/UnityGroup.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

condense
  resources/lib/UnityGroup.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

avoid repeated function calls
  resources/lib/UnityGroup.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

simplify code
  resources/lib/UnityGroup.php
  resources/lib/UnityMailer.php
  workers/unity-course.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used
