Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

phpcbf:
  name: PHP Code Beautifier and Fixer
  entry: ./vendor/bin/phpcbf
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors
  language: system

phpcs:
  name: PHP CodeSniffer
  entry: ./vendor/bin/phpcs
  language: system
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors

php-l:
  name: php -l
  entry: php
  language: system
  args:
  - -l

assert-UnityHTTPD-used:
  name: Assert UnityHTTPD functions are used
  entry: bash ./test/assert-UnityHTTPD-used.bash
  language: system

assert-utils-used:
  name: Assert utils are used
  entry: bash ./test/assert-utils-used.bash
  language: system

assert-exceptions-used:
  name: Assert exceptions are used
  entry: bash ./test/assert-exceptions-used.bash
  language: system

assert-forbidden-used:
  name: Assert forbidden() is used
  entry: bash ./test/assert-forbidden-used.bash
  language: system

add comment
  webroot/panel/modal/new_pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

remove (request by owner mail) feature
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  test/functional/PIMemberRequestTest.php
  webroot/panel/groups.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove newline
  webroot/panel/ajax/pi_search.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

no closure, remove newlines
  webroot/panel/modal/new_pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

style
  webroot/panel/ajax/pi_search.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

improve ajax error handling
  webroot/panel/modal/new_pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

don't need to give html element an ID
  webroot/panel/modal/new_pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

improve behavior when session cache missing
  webroot/panel/ajax/pi_search.php
  webroot/panel/modal/new_pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

cleanup cache from session
  resources/init.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

write tests for session cleanup
  test/functional/SessionCleanupTest.php
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

write tests for session cleanup (#541)
  test/functional/SessionCleanupTest.php
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

rewrite PI search functionality (#538)
  resources/init.php
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  test/functional/PIMemberRequestTest.php
  webroot/panel/ajax/pi_search.php
  webroot/panel/groups.php
  webroot/panel/modal/new_pi.php
  webroot/panel/modal/pi_search.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

disband, reinstate PI groups
  LDAP.md
  README.md
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  resources/lib/UnityOrg.php
  resources/lib/UnityUser.php
  resources/mail/group_disabled.php
  resources/mail/group_reenabled.php
  test/functional/PIBecomeApproveTest.php
  test/functional/PIDisableTest.php
  test/functional/RegisterUserTest.php
  tools/docker-dev/identity/Dockerfile
  tools/docker-dev/identity/bootstrap.ldif
  tools/docker-dev/identity/unity-cluster-schema.ldif
  webroot/admin/pi-mgmt.php
  webroot/panel/pi.php
  workers/group_user_request_owner_reminder.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

handle edge case no members
  resources/lib/UnityGroup.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

update phpunit-bootstrap
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

fix nickname
  test/functional/PIBecomeApproveTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

fix test
  test/functional/PIDisableTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

Update resources/mail/group_reenabled.php
  resources/mail/group_reenabled.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

uncomment
  test/functional/PIDisableTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

handle double click, send messages
  resources/lib/UnityGroup.php
  webroot/admin/pi-mgmt.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

test cases moved to other PR
  test/functional/RegisterUserTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

assert not isPI()
  test/functional/PIDisableTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

fix function name
  workers/update-qualified-users-group.php
Due: php-l, assert-utils-used

Revert "comment out functions not yet implemented"
  resources/lib/UnityGroup.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

Update tools/docker-dev/identity/unity-cluster-schema.ldif
  tools/docker-dev/identity/unity-cluster-schema.ldif
Due: none

Update resources/lib/UnityGroup.php
  resources/lib/UnityGroup.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

update function name
  workers/update-qualified-users-group.php
Due: php-l, assert-utils-used

rename variable
  resources/lib/UnityLDAP.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove comment
  resources/mail/group_reenabled.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add user flags to user-mgmt.php
  webroot/admin/user-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

prettier output
  webroot/admin/user-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

adjust whitespace in output
  webroot/admin/user-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

add user expiry table to SQL
  tools/docker-dev/sql/bootstrap.sql
Due: none

wip
  resources/lib/UnitySQL.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

record not found exception
  resources/autoload.php
  resources/lib/exceptions/RecordNotFoundException.php
  test/phpunit-bootstrap.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

SQL stricter getters
  resources/autoload.php
  resources/lib/UnitySQL.php
  resources/lib/exceptions/RecordNotUniqueException.php
  test/phpunit-bootstrap.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

switch to json
  resources/lib/UnitySQL.php
  tools/docker-dev/sql/bootstrap.sql
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add functions
  resources/lib/UnitySQL.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

use plain Exception
  resources/lib/UnitySQL.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

Path conditions:
  phpcbf: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/lib/.*|
)$

  phpcs: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/lib/.*|
)$

  php-l: any of: \.php$
  assert-UnityHTTPD-used: any of: \.php$, but not: (?x)^(
    resources/lib/UnityHTTPD\.php|
    workers/.*|
)$

  assert-utils-used: any of: \.php$, but not: ^resources/lib/utils\.php$
  assert-exceptions-used: any of: ^resources/.*\.php$, but not: ^resources/lib/UnityHTTPD\.php$
  assert-forbidden-used: any of: ^webroot/admin/.*\.php$
