Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

phpcbf:
  name: PHP Code Beautifier and Fixer
  entry: phpcbf
  language: system
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors

phpcs:
  name: PHP CodeSniffer
  entry: phpcs
  language: system
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors

php-l:
  name: php -l
  entry: php
  language: system
  args:
  - -l

assert-UnityHTTPD-used:
  name: Assert UnityHTTPD functions are used
  entry: ./test/assert-UnityHTTPD-used.bash
  language: system

assert-utils-used:
  name: Assert utils are used
  entry: ./test/assert-utils-used.bash
  language: system

fix formatting for php8.3
  resources/lib/UnityHTTPD.php
Due: phpcbf, phpcs, php-l, assert-utils-used

gitignore
  .gitignore
Due: none

bring back psr12 for impure PHP files
  .phpcs-ruleset.xml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  composer.json
  composer.lock
Due: none

check end of file but ignore workers
  .pre-commit-config.yaml
Due: none

dont check test
  .pre-commit-config.yaml
Due: none

fix CI
  .github/workflows/phpunit.yml
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

save node tools in package.json, package.lock
  .github/workflows/phpunit.yml
  .github/workflows/pre-commit.yml
  .gitignore
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: none

npm install
  .github/workflows/pre-commit.yml
Due: none

phpstan CI
  .github/workflows/phpstan.yml
  composer.json
  composer.lock
Due: none

fix phpstan errors
  resources/lib/UnityLDAP.php
  resources/lib/UnityOrg.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

rename
  .github/workflows/phpstan.yml
Due: none

phpstan CI (#339)
  .github/workflows/phpstan.yml
  composer.json
  composer.lock
  resources/lib/UnityLDAP.php
  resources/lib/UnityOrg.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

phpstan changes
  .github/workflows/phpstan.yml
  phpstan.neon
Due: none

bootstrap
  phpstan.neon
Due: none

fix errors
  test/functional/AccountDeletionRequestTest.php
  test/functional/PiBecomeRequestTest.php
  test/functional/PiMemberDenyTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

remove bootstrap files
  phpstan.neon
Due: none

runtimeerror -> runtimeexception
  test/functional/AccountDeletionRequestTest.php
  test/functional/PiBecomeRequestTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

fix name
  .github/workflows/phpstan.yml
Due: none

phpstan changes (#341)
  .github/workflows/phpstan.yml
  phpstan.neon
  test/functional/AccountDeletionRequestTest.php
  test/functional/PiBecomeRequestTest.php
  test/functional/PiMemberDenyTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

remove redundant argument
  resources/lib/UnityOrg.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

remove generic group / perms code
  resources/lib/UnityPerms.php
  resources/lib/UnitySQL.php
  tools/docker-dev/sql/bootstrap.sql
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

remove generic group / perms code (#342)
  resources/lib/UnityPerms.php
  resources/lib/UnitySQL.php
  tools/docker-dev/sql/bootstrap.sql
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

type hints
  resources/lib/UnityConfig.php
  resources/lib/UnityGithub.php
  resources/lib/UnityGroup.php
  resources/lib/UnityHTTPD.php
  resources/lib/UnityLDAP.php
  resources/lib/UnityMailer.php
  resources/lib/UnityOrg.php
  resources/lib/UnityRedis.php
  resources/lib/UnitySQL.php
  resources/lib/UnitySSO.php
  resources/lib/UnityUser.php
  resources/lib/UnityWebhook.php
  resources/lib/utils.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

leave return type unspecified
  resources/lib/UnityRedis.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

fix types
  resources/lib/UnityGroup.php
  resources/lib/UnityMailer.php
  resources/lib/UnitySQL.php
  resources/lib/UnityUser.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

type hints (#343)
  resources/lib/UnityConfig.php
  resources/lib/UnityGithub.php
  resources/lib/UnityGroup.php
  resources/lib/UnityHTTPD.php
  resources/lib/UnityLDAP.php
  resources/lib/UnityMailer.php
  resources/lib/UnityOrg.php
  resources/lib/UnityRedis.php
  resources/lib/UnitySQL.php
  resources/lib/UnitySSO.php
  resources/lib/UnityUser.php
  resources/lib/UnityWebhook.php
  resources/lib/utils.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

update readme
  README.md
Due: none

fix .prettierrc
  .prettierrc.yml
Due: none

fix pre commit, prettier
  .pre-commit-config.yaml
  .prettierrc.yml
Due: none

set prettier line length to 100
  coverage.php
  resources/config.php
  resources/init.php
  resources/lib/UnityConfig.php
  resources/lib/UnityGroup.php
  resources/lib/UnityHTTPD.php
  resources/lib/UnityLDAP.php
  resources/lib/UnityMailer.php
  resources/lib/UnityRedis.php
  resources/lib/UnitySQL.php
  resources/lib/UnitySSO.php
  resources/lib/UnityUser.php
  resources/lib/UnityWebhook.php
  resources/lib/utils.php
  resources/mail/group_disband.php
  resources/mail/group_join_request_cancelled.php
  resources/mail/group_request_cancelled.php
  resources/mail/group_user_denied.php
  resources/mail/group_user_denied_owner.php
  resources/mail/user_loginshell.php
  test/functional/AccountDeletionRequestTest.php
  test/functional/LoginShellSetTest.php
  test/functional/NewUserTest.php
  test/functional/PIMemberRequestTest.php
  test/functional/PageLoadTest.php
  test/functional/PiBecomeRequestTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/PiMemberDenyTest.php
  test/functional/PiRemoveUserTest.php
  test/functional/SSHKeyAddTest.php
  test/phpunit-bootstrap.php
  workers/update-ldap-cache.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

set prettier line length to 100 (#344)
  .pre-commit-config.yaml
  .prettierrc.yml
  coverage.php
  resources/config.php
  resources/init.php
  resources/lib/UnityConfig.php
  resources/lib/UnityGroup.php
  resources/lib/UnityHTTPD.php
  resources/lib/UnityLDAP.php
  resources/lib/UnityMailer.php
  resources/lib/UnityRedis.php
  resources/lib/UnitySQL.php
  resources/lib/UnitySSO.php
  resources/lib/UnityUser.php
  resources/lib/UnityWebhook.php
  resources/lib/utils.php
  resources/mail/group_disband.php
  resources/mail/group_join_request_cancelled.php
  resources/mail/group_request_cancelled.php
  resources/mail/group_user_denied.php
  resources/mail/group_user_denied_owner.php
  resources/mail/user_loginshell.php
  test/functional/AccountDeletionRequestTest.php
  test/functional/LoginShellSetTest.php
  test/functional/NewUserTest.php
  test/functional/PIMemberRequestTest.php
  test/functional/PageLoadTest.php
  test/functional/PiBecomeRequestTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/PiMemberDenyTest.php
  test/functional/PiRemoveUserTest.php
  test/functional/SSHKeyAddTest.php
  test/phpunit-bootstrap.php
  workers/update-ldap-cache.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

more types
  resources/lib/UnityUser.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

more types (#345)
  resources/lib/UnityUser.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

Allow user join by PI email instead of pi_group
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  webroot/panel/new_account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

qualified user group
  README.md
  defaults/config.ini.default
  resources/lib/UnityLDAP.php
  resources/lib/UnityUser.php
  test/functional/NewUserTest.php
  webroot/admin/user-mgmt.php
  workers/update-ldap-cache.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

qualified user group (#347)
  README.md
  defaults/config.ini.default
  resources/lib/UnityLDAP.php
  resources/lib/UnityUser.php
  test/functional/NewUserTest.php
  webroot/admin/user-mgmt.php
  workers/update-ldap-cache.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

Path conditions:
  phpcbf: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
)$

  phpcs: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
)$

  php-l: any of: \.php$
  assert-UnityHTTPD-used: any of: \.php$, but not: (?x)^(
    resources/lib/UnityHTTPD\.php$|
    workers/.*|
)$

  assert-utils-used: any of: \.php$, but not: resources/lib/utils.php
