Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

.pre-commit-config.yaml:

# pre-commit automatically excludes submodules
# exclude: |
#   (?x)^(
#       test/.*|
#   )$

repos:
  # auto formatters (no work required) #############################################################
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        # https://github.com/prettier/plugin-php/issues/2430
        exclude: workers/.*

  - repo: local
    hooks:
      - id: phpcbf
        name: PHP Code Beautifier and Fixer
        entry: ./vendor/bin/phpcbf
        args: [--standard=./.phpcs-ruleset.xml, --colors]
        language: system
        files: \.php$
        # exclude pure PHP files
        exclude: |
          (?x)^(
              test/.*|
              workers/.*|
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/lib/.*|
          )$

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        # exclude impure PHP files
        exclude: |
          (?x)^(
              composer\.json|
              composer\.lock|
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/templates/.*|
              webroot/.*|
          )$

  # linters (work required) ########################################################################
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-xml
      - id: check-added-large-files
      - id: check-executables-have-shebangs

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: phpcs
        name: PHP CodeSniffer
        entry: ./vendor/bin/phpcs
        language: system
        files: \.php$
        args: [--standard=./.phpcs-ruleset.xml, --colors]
        # exclude pure PHP files
        exclude: |
          (?x)^(
              test/.*|
              workers/.*|
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/lib/.*|
          )$
      - id: php-l
        name: php -l
        entry: php
        language: system
        files: \.php$
        args: [-l]
      - id: assert-UnityHTTPD-used
        name: Assert UnityHTTPD functions are used
        entry: bash ./test/assert-UnityHTTPD-used.bash
        language: system
        files: \.php$
        exclude: |
          (?x)^(
              resources/lib/UnityHTTPD\.php|
              workers/.*|
          )$
      - id: assert-utils-used
        name: Assert utils are used
        entry: bash ./test/assert-utils-used.bash
        language: system
        files: \.php$
        exclude: ^resources/lib/utils\.php$
      - id: assert-exceptions-used
        name: Assert exceptions are used
        entry: bash ./test/assert-exceptions-used.bash
        language: system
        files: ^resources/.*\.php$
        exclude: ^resources/lib/UnityHTTPD\.php$
      - id: assert-forbidden-used
        name: Assert forbidden() is used
        entry: bash ./test/assert-forbidden-used.bash
        language: system
        files: ^webroot/admin/.*\.php$

fix json stringify
  webroot/js/messages.js
Due: none

add error handlers to ajax calls
  webroot/admin/content.php
  webroot/js/modal.js
  webroot/js/tables.js
  webroot/panel/modal/new_key.php
  webroot/panel/modal/new_pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

display responseText
  webroot/admin/content.php
  webroot/js/modal.js
  webroot/js/tables.js
  webroot/panel/modal/new_pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

refactor
  webroot/panel/modal/new_key.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

remove old console.log
  webroot/panel/modal/new_pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

update error handler
  webroot/panel/modal/new_key.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

render html error output from ajax
  webroot/js/messages.js
Due: none

use append instead of dedicated output div
  webroot/panel/modal/new_key.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

remove old modalBody
  webroot/js/tables.js
Due: none

add button to clear all messages (#418)
  resources/templates/footer.php
  resources/templates/header.php
  webroot/css/messages.css
  webroot/js/messages.js
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add error handlers to ajax calls (#419)
  webroot/admin/content.php
  webroot/js/modal.js
  webroot/js/tables.js
  webroot/panel/modal/new_key.php
  webroot/panel/modal/new_pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

more friendly message on invalid CSRF token (#416)
  resources/lib/UnityHTTPD.php
Due: php-l, assert-utils-used

level 1
  phpstan.neon
Due: none

ignore undefined variables in mail templates
  phpstan.neon
Due: none

Variable always exists and is not nullable.
  resources/lib/UnityHTTPD.php
Due: php-l, assert-utils-used

phpstan level 1 (#421)
  phpstan.neon
  resources/lib/UnityHTTPD.php
Due: php-l, assert-utils-used

level 2
  phpstan.neon
Due: none

make sure property exists
  resources/lib/UnityHTTPD.php
Due: php-l, assert-utils-used

level 2 (#422)
  phpstan.neon
  resources/lib/UnityHTTPD.php
Due: php-l, assert-utils-used

level 3
  phpstan.neon
Due: none

fix getHomeDir
  resources/lib/UnityUser.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

level 3 (#423)
  phpstan.neon
  resources/lib/UnityUser.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

level 4
  phpstan.neon
Due: none

fix issues
  resources/lib/PosixGroup.php
  resources/lib/UnityGroup.php
  resources/lib/UnityHTTPD.php
  resources/lib/UnityMailer.php
  resources/lib/UnityUser.php
  resources/lib/UnityWebhook.php
  test/functional/PIBecomeApproveTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/RegisterUserTest.php
  test/unit/CSRFTokenTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

ignore errors
  phpstan.neon
Due: none

ignore phpstan bug
  phpstan.neon
Due: none

put back subject
  resources/lib/UnityWebhook.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

make use of subject
  resources/lib/UnityWebhook.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

ignore $Subject never written
  phpstan.neon
Due: none

explain ignored rules
  phpstan.neon
Due: none

phpstan level 4 (#424)
  phpstan.neon
  resources/lib/PosixGroup.php
  resources/lib/UnityGroup.php
  resources/lib/UnityHTTPD.php
  resources/lib/UnityMailer.php
  resources/lib/UnityUser.php
  resources/lib/UnityWebhook.php
  test/functional/PIBecomeApproveTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/RegisterUserTest.php
  test/unit/CSRFTokenTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

phpstan for webroot
  phpstan.neon
  webroot/admin/ajax/get_group_members.php
  webroot/admin/ajax/get_page_contents.php
  webroot/admin/user-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

fix complaints
  webroot/admin/pi-mgmt.php
  webroot/panel/groups.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

ignore dead code
  webroot/panel/groups.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

getUserFromPost
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

swap title and message
  test/functional/PIMemberRequestTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

caps
  test/functional/PIMemberRequestTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

getPostData getQueryParameter return string
  resources/lib/UnityHTTPD.php
Due: php-l, assert-utils-used

put back break
  webroot/admin/user-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used
