Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf-pure, phpcbf-impure, phpcs-pure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

phpcbf-pure:
  name: PHP Code Beautifier and Fixer (pure PHP files)
  entry: ./vendor/bin/phpcbf
  args:
  - --standard=./.phpcs-ruleset-pure.xml
  - --colors
  language: system

phpcbf-impure:
  name: PHP Code Beautifier and Fixer (mixed PHP/HTML files)
  entry: ./vendor/bin/phpcbf
  args:
  - --standard=./.phpcs-ruleset-impure.xml
  - --colors
  language: system

phpcs-pure:
  name: PHP Code Sniffer (pure PHP files)
  entry: ./vendor/bin/phpcs
  args:
  - --standard=./.phpcs-ruleset-pure.xml
  - --colors
  - -s
  language: system

phpcs-impure:
  name: PHP Code Sniffer (mixed PHP/HTML files)
  entry: ./vendor/bin/phpcs
  args:
  - --standard=./.phpcs-ruleset-impure.xml
  - --colors
  - -s
  language: system

php-l:
  name: php -l
  entry: php
  language: system
  args:
  - -l

assert-UnityHTTPD-used:
  name: Assert UnityHTTPD functions are used
  entry: bash ./test/assert-UnityHTTPD-used.bash
  language: system

assert-utils-used:
  name: Assert utils are used
  entry: bash ./test/assert-utils-used.bash
  language: system

assert-exceptions-used:
  name: Assert exceptions are used
  entry: bash ./test/assert-exceptions-used.bash
  language: system

assert-forbidden-used:
  name: Assert forbidden() is used
  entry: bash ./test/assert-forbidden-used.bash
  language: system

disband, reinstate PI groups (#560)
  LDAP.md
  README.md
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  resources/lib/UnityOrg.php
  resources/lib/UnityUser.php
  resources/mail/group_disabled.php
  resources/mail/group_reenabled.php
  test/functional/PIBecomeApproveTest.php
  test/functional/PIDisableTest.php
  test/functional/RegisterUserTest.php
  test/phpunit-bootstrap.php
  tools/docker-dev/identity/Dockerfile
  tools/docker-dev/identity/bootstrap.ldif
  tools/docker-dev/identity/unity-cluster-schema.ldif
  webroot/admin/pi-mgmt.php
  webroot/panel/modal/new_pi.php
  webroot/panel/pi.php
  workers/group_user_request_owner_reminder.php
  workers/update-qualified-users-group.php
Due: phpcbf-pure, phpcbf-impure, phpcs-pure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

remove unused imports using php-cs-fixer (#562)
  .gitignore
  .php-cs-fixer.php
  .pre-commit-config.yaml
  composer.json
  composer.lock
  resources/init.php
  resources/lib/PosixGroup.php
  resources/lib/UnityGithub.php
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  resources/lib/UnitySSO.php
  resources/lib/UnityUser.php
  test/functional/LeaveGroupTest.php
  test/functional/PIMemberApproveTest.php
  test/functional/PIMemberRequestTest.php
  test/functional/WorkerRemoveUsersFromGroupTest.php
  test/phpunit-bootstrap.php
  test/unit/UtilsTest.php
  webroot/admin/user-mgmt.php
  webroot/panel/groups.php
  workers/unity-course.php
Due: phpcbf-pure, phpcbf-impure, phpcs-pure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

allow user to manage any PI group with equal owner mail
  resources/lib/UnityLDAP.php
  resources/templates/header.php
  webroot/panel/pi.php
Due: phpcbf-pure, phpcbf-impure, phpcs-pure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add tests
  test/functional/PageLoadTest.php
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used

fix bugs
  resources/lib/utils.php
  resources/templates/header.php
Due: phpcbf-pure, phpcbf-impure, phpcs-pure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

rename test
  test/functional/PageLoadTest.php
Due: php-l, assert-UnityHTTPD-used

fix tests
  test/functional/PageLoadTest.php
Due: php-l, assert-UnityHTTPD-used

add label to errorLog data
  resources/templates/header.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

newline
  resources/templates/header.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

cache GIDs in cookie
  resources/templates/header.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

handle garbage cookie
  resources/templates/header.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

exclude owner from member list, not $USER
  webroot/panel/pi.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used

change test case to another course name
  test/functional/WorkerUnityCourseTest.php
Due: php-l, assert-UnityHTTPD-used

don't use uid-specific cookie name
  resources/templates/header.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

fix bug
  resources/templates/header.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

style
  resources/templates/header.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

dummy course group owner is qualified
  tools/docker-dev/identity/bootstrap.ldif
Due: none

=== null
  resources/templates/header.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove unnecessary parentheses
  resources/templates/header.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

first class callable
  resources/lib/UnityLDAP.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

handle case where user does not exist
  resources/templates/header.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

please phpstan, use uid-specific cookie
  resources/templates/header.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

specify cookie path
  resources/templates/header.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

shorten navbar link
  resources/templates/header.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

navbar link overflow hidden
  webroot/css/navbar.css
Due: none

edge case nonexistent group
  test/functional/PageLoadTest.php
  webroot/panel/pi.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used

rename variable
  resources/templates/header.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add assertions for clarity
  test/functional/PageLoadTest.php
Due: php-l, assert-UnityHTTPD-used

change the course worker to use teacher mail
  tools/docker-dev/identity/bootstrap.ldif
  workers/unity-course.php
Due: php-l, assert-utils-used

add course to ldap
  tools/docker-dev/identity/bootstrap.ldif
Due: none

avoid cookie pollution
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used

add developer documentation
  CONTRIBUTING.md
Due: none

PI become another PI 2
  resources/lib/UnityLDAP.php
  resources/lib/utils.php
  test/functional/PageLoadTest.php
  test/functional/WorkerUnityCourseTest.php
  tools/docker-dev/identity/bootstrap.ldif
  webroot/css/navbar.css
  webroot/panel/pi.php
  workers/unity-course.php
Due: phpcbf-pure, phpcbf-impure, phpcs-pure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

fix form
  webroot/panel/pi.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used

adjust wording in PI group disable message
  webroot/panel/pi.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used

fix _json_decode default argument value
  resources/lib/utils.php
Due: phpcbf-pure, phpcs-pure, php-l, assert-UnityHTTPD-used, assert-exceptions-used

fix navbar overflow
  webroot/css/navbar.css
Due: none

show owner in member list
  webroot/panel/pi.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used

use owner instead of $USER
  webroot/panel/pi.php
Due: phpcbf-impure, phpcs-impure, php-l, assert-UnityHTTPD-used, assert-utils-used

Path conditions:
  phpcbf-pure: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/templates/.*|
    resources/mail/.*|
    webroot/.*|
    \.php-cs-fixer\.dist\.php|
)$

  phpcbf-impure: any of: (?x)^(
    resources/templates/.*\.php|
    resources/mail/.*|
    webroot/.*\.php|
)$
, but not: (?x)^(
    resources/mail/user_flag_.*\.php|
)$

  phpcs-pure: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/templates/.*|
    resources/mail/.*|
    webroot/.*|
    \.php-cs-fixer\.dist\.php|
)$

  phpcs-impure: any of: (?x)^(
    resources/templates/.*\.php|
    resources/mail/.*\.php|
    webroot/.*\.php|
)$
, but not: (?x)^(
    resources/mail/user_flag_.*\.php|
)$

  php-l: any of: \.php$
  assert-UnityHTTPD-used: any of: \.php$, but not: (?x)^(
    resources/lib/UnityHTTPD\.php|
    workers/.*|
)$

  assert-utils-used: any of: \.php$, but not: (?x)^(
    ^resources/lib/utils\.php$|
    ^test/.*\.php$|
)$

  assert-exceptions-used: any of: ^resources/.*\.php$, but not: ^resources/lib/UnityHTTPD\.php$
  assert-forbidden-used: any of: ^webroot/admin/.*\.php$
