Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

phpcbf:
  name: PHP Code Beautifier and Fixer
  entry: ./vendor/bin/phpcbf
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors
  language: system

phpcs:
  name: PHP CodeSniffer
  entry: ./vendor/bin/phpcs
  language: system
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors

php-l:
  name: php -l
  entry: php
  language: system
  args:
  - -l

assert-UnityHTTPD-used:
  name: Assert UnityHTTPD functions are used
  entry: bash ./test/assert-UnityHTTPD-used.bash
  language: system

assert-utils-used:
  name: Assert utils are used
  entry: bash ./test/assert-utils-used.bash
  language: system

assert-exceptions-used:
  name: Assert exceptions are used
  entry: bash ./test/assert-exceptions-used.bash
  language: system

assert-forbidden-used:
  name: Assert forbidden() is used
  entry: bash ./test/assert-forbidden-used.bash
  language: system

rename var
  webroot/panel/groups.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

phpstan for webroot (#426)
  phpstan.neon
  resources/lib/UnityHTTPD.php
  test/functional/PIMemberRequestTest.php
  webroot/admin/ajax/get_group_members.php
  webroot/admin/ajax/get_page_contents.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/panel/groups.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

rename argument
  resources/lib/UnityHTTPD.php
Due: php-l, assert-utils-used

"tos" input should never be unspecified
  webroot/panel/account.php
  webroot/panel/groups.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

"tos" input should never be unspecified (#431)
  webroot/panel/account.php
  webroot/panel/groups.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

remove unnecessary assertions from getPostData
  resources/lib/UnityHTTPD.php
Due: php-l, assert-utils-used

separate mandatory and optional query parameter getters
  resources/lib/UnityHTTPD.php
  webroot/api/content/index.php
  webroot/js/ajax/ssh_generate.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

use getPostData everywhere
  resources/templates/header.php
  webroot/admin/content.php
  webroot/admin/notices.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/panel/account.php
  webroot/panel/groups.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

comment
  resources/lib/UnityHTTPD.php
Due: php-l, assert-utils-used

make optional post data as well, remove unnecessary check
  resources/lib/UnityHTTPD.php
Due: php-l, assert-utils-used

optional
  resources/templates/header.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove getQueryParameter
  webroot/admin/ajax/get_group_members.php
  webroot/admin/ajax/get_page_contents.php
  webroot/api/content/index.php
  webroot/js/ajax/ssh_generate.php
  webroot/panel/ajax/get_group_members.php
  webroot/panel/modal/pi_search.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

remove all getPostData getQueryParameter
  resources/lib/UnityHTTPD.php
  webroot/admin/pi-mgmt.php
  webroot/js/ajax/ssh_validate.php
  webroot/panel/account.php
  webroot/panel/ajax/delete_message.php
  webroot/panel/groups.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

Update webroot/js/ajax/ssh_generate.php
  webroot/js/ajax/ssh_generate.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

Update webroot/admin/content.php
  webroot/admin/content.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

str2int -> digits2int
  resources/lib/UnityLDAP.php
  resources/lib/utils.php
  webroot/api/content/index.php
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

gettype -> get_class
  resources/lib/UnityHTTPD.php
Due: php-l, assert-utils-used

add workers for user flags
  workers/get-user-flags.php
  workers/set-user-flag.php
Due: php-l, assert-utils-used

tweak output style
  workers/set-user-flag.php
Due: php-l, assert-utils-used

remove newlines
  workers/get-user-flags.php
  workers/set-user-flag.php
Due: php-l, assert-utils-used

ensure print statements end with newline
  workers/get-user-flags.php
  workers/set-user-flag.php
Due: php-l, assert-utils-used

replace getAllPIGroupOwnerAttributes with getAllPIGroupOwnerGIDs + getUsersAttributes
  resources/lib/UnityLDAP.php
  webroot/admin/pi-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

kwarg
  webroot/admin/pi-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

replace getAllPIGroupOwnerAttributes with (getAllPIGroupOwnerGIDs + getUsersAttributes) (#435)
  resources/lib/UnityLDAP.php
  webroot/admin/pi-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

fix bug with default values
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

fix bug with default values (#436)
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

use <th> instead of <tr class='key'>
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/css/tables.css
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

use <th> instead of <tr class='key'> (#437)
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/css/tables.css
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

remove bad curly brackets
  webroot/panel/groups.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

remove bad curly brackets (#439)
  webroot/panel/groups.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

copilot escape from mail templates
  resources/mail/account_deletion_request_admin.php
  resources/mail/account_deletion_request_cancelled_admin.php
  resources/mail/group_disband.php
  resources/mail/group_join_request_cancelled.php
  resources/mail/group_request_admin.php
  resources/mail/group_request_cancelled.php
  resources/mail/group_user_added.php
  resources/mail/group_user_added_owner.php
  resources/mail/group_user_denied.php
  resources/mail/group_user_denied_owner.php
  resources/mail/group_user_removed.php
  resources/mail/group_user_removed_owner.php
  resources/mail/group_user_request.php
  resources/mail/group_user_request_owner.php
  resources/mail/user_flag_added.php
  resources/mail/user_flag_added_admin.php
  resources/mail/user_flag_removed_admin.php
  resources/mail/user_loginshell.php
  resources/mail/user_sshkey.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

reorder
  webroot/admin/pi-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

consistently call it gecos
  webroot/admin/ajax/get_group_members.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

mailto urlencode
  webroot/admin/ajax/get_group_members.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/panel/ajax/get_group_members.php
  webroot/panel/groups.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

htmlspecialchars
  webroot/admin/ajax/get_group_members.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

rename vars
  webroot/admin/ajax/get_group_members.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

dont use escaped value as array key
  webroot/admin/user-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

missed a spot
  webroot/panel/groups.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

don't use <th> in account.php
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

add cache busting
  defaults/config.ini.default
  resources/templates/footer.php
  resources/templates/header.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

Path conditions:
  phpcbf: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/lib/.*|
)$

  phpcs: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/lib/.*|
)$

  php-l: any of: \.php$
  assert-UnityHTTPD-used: any of: \.php$, but not: (?x)^(
    resources/lib/UnityHTTPD\.php|
    workers/.*|
)$

  assert-utils-used: any of: \.php$, but not: ^resources/lib/utils\.php$
  assert-exceptions-used: any of: ^resources/.*\.php$, but not: ^resources/lib/UnityHTTPD\.php$
  assert-forbidden-used: any of: ^webroot/admin/.*\.php$
