Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

phpcbf:
  name: PHP Code Beautifier and Fixer
  entry: ./vendor/bin/phpcbf
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors
  language: system

phpcs:
  name: PHP CodeSniffer
  entry: ./vendor/bin/phpcs
  language: system
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors

php-l:
  name: php -l
  entry: php
  language: system
  args:
  - -l

assert-UnityHTTPD-used:
  name: Assert UnityHTTPD functions are used
  entry: bash ./test/assert-UnityHTTPD-used.bash
  language: system

assert-utils-used:
  name: Assert utils are used
  entry: bash ./test/assert-utils-used.bash
  language: system

assert-exceptions-used:
  name: Assert exceptions are used
  entry: bash ./test/assert-exceptions-used.bash
  language: system

assert-forbidden-used:
  name: Assert forbidden() is used
  entry: bash ./test/assert-forbidden-used.bash
  language: system

comment
  resources/lib/UnityHTTPD.php
Due: php-l, assert-utils-used

make optional post data as well, remove unnecessary check
  resources/lib/UnityHTTPD.php
Due: php-l, assert-utils-used

remove all getPostData getQueryParameter
  resources/lib/UnityHTTPD.php
  webroot/admin/pi-mgmt.php
  webroot/js/ajax/ssh_validate.php
  webroot/panel/account.php
  webroot/panel/ajax/delete_message.php
  webroot/panel/groups.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

Update webroot/js/ajax/ssh_generate.php
  webroot/js/ajax/ssh_generate.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

remove getQueryParameter
  webroot/admin/ajax/get_group_members.php
  webroot/admin/ajax/get_page_contents.php
  webroot/api/content/index.php
  webroot/js/ajax/ssh_generate.php
  webroot/panel/ajax/get_group_members.php
  webroot/panel/modal/pi_search.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

store operator info in session
  resources/init.php
  resources/lib/UnityGroup.php
  resources/lib/UnitySQL.php
  resources/lib/UnityUser.php
  test/phpunit-bootstrap.php
  webroot/admin/pi-mgmt.php
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

missed a spot
  resources/lib/UnityGroup.php
  webroot/admin/pi-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

missed more spots
  webroot/admin/content.php
  webroot/admin/notices.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

store operator info in session (#476)
  resources/init.php
  resources/lib/UnityGroup.php
  resources/lib/UnitySQL.php
  resources/lib/UnityUser.php
  test/phpunit-bootstrap.php
  webroot/admin/content.php
  webroot/admin/notices.php
  webroot/admin/pi-mgmt.php
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

remove unused function
  resources/lib/UnityOrg.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove unused variables
  resources/lib/UnityOrg.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove unused import
  resources/lib/UnityOrg.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove arguments
  resources/lib/UnityLDAP.php
  resources/lib/UnityUser.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

fix bug
  test/unit/UnitySSOTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

hard code sso test variables
  test/phpunit-bootstrap.php
  test/unit/UnitySSOTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

hard code variable in test
  test/functional/RegisterUserTest.php
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

wip
  composer.json
  composer.lock
  test/functional/AccountDeletionRequestTest.php
  test/functional/DeleteMessageTest.php
  test/functional/LoginShellSetTest.php
  test/functional/PIBecomeApproveTest.php
  test/functional/PIMemberRequestTest.php
  test/functional/PageLoadTest.php
  test/functional/PiBecomeRequestTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/PiMemberDenyTest.php
  test/functional/PiRemoveUserTest.php
  test/functional/RegisterUserTest.php
  test/functional/SSHKeyAddTest.php
  test/functional/SSHKeyDeleteTest.php
  test/functional/ViewAsUserTest.php
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

fix bug
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

fix bugs
  test/custom_user_mappings/test.csv
  test/functional/AccountDeletionRequestTest.php
  test/functional/DeleteMessageTest.php
  test/functional/LoginShellSetTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/RegisterUserTest.php
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

remove user Normal2
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

refactor tests (#479)
  composer.json
  composer.lock
  test/custom_user_mappings/test.csv
  test/functional/AccountDeletionRequestTest.php
  test/functional/DeleteMessageTest.php
  test/functional/LoginShellSetTest.php
  test/functional/PIBecomeApproveTest.php
  test/functional/PIMemberRequestTest.php
  test/functional/PageLoadTest.php
  test/functional/PiBecomeRequestTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/PiMemberDenyTest.php
  test/functional/PiRemoveUserTest.php
  test/functional/RegisterUserTest.php
  test/functional/SSHKeyAddTest.php
  test/functional/SSHKeyDeleteTest.php
  test/functional/ViewAsUserTest.php
  test/phpunit-bootstrap.php
  test/unit/UnitySSOTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

test case housekeeping
  test/functional/RegisterUserTest.php
  test/unit/UnitySSOTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

test case housekeeping (#481)
  test/functional/RegisterUserTest.php
  test/unit/UnitySSOTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

refactor tests 3
  CONTRIBUTING.md
  test/functional/AccountDeletionRequestTest.php
  test/functional/PIBecomeApproveTest.php
  test/functional/PIMemberRequestTest.php
  test/functional/PageLoadTest.php
  test/functional/PiBecomeRequestTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/PiMemberDenyTest.php
  test/functional/PiRemoveUserTest.php
  test/functional/SSHKeyDeleteTest.php
  test/functional/ViewAsUserTest.php
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

enable validation
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

splat
  test/functional/SSHKeyDeleteTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

replace "Normal" user with "Blank"
  CONTRIBUTING.md
  test/functional/LoginShellSetTest.php
  test/functional/PageLoadTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/PiMemberDenyTest.php
  test/functional/ViewAsUserTest.php
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

replace "Unqualified" user with "Blank", validation optional
  test/functional/PIBecomeApproveTest.php
  test/functional/PiMemberApproveTest.php
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

disable validation
  test/functional/PiMemberApproveTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

remove (requesting by mail) from PIMemberApproveTest
  test/functional/PiMemberApproveTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

remove unused function, add cleanup
  test/functional/PiMemberApproveTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

rewrite PIMemberRequestTest
  test/functional/PIMemberRequestTest.php
  test/functional/PiMemberApproveTest.php
  test/phpunit-bootstrap.php
  tools/docker-dev/sql/bootstrap-users.sql
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

refactor tests 3 (#482)
  CONTRIBUTING.md
  test/functional/AccountDeletionRequestTest.php
  test/functional/LoginShellSetTest.php
  test/functional/PIBecomeApproveTest.php
  test/functional/PIMemberRequestTest.php
  test/functional/PageLoadTest.php
  test/functional/PiBecomeRequestTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/PiMemberDenyTest.php
  test/functional/PiRemoveUserTest.php
  test/functional/SSHKeyDeleteTest.php
  test/functional/ViewAsUserTest.php
  test/phpunit-bootstrap.php
  tools/docker-dev/sql/bootstrap-users.sql
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

rewrite test
  test/functional/PiMemberDenyTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

typo
  test/functional/PiMemberDenyTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

fix "admin"
  CONTRIBUTING.md
  test/functional/PiMemberApproveTest.php
  test/functional/PiMemberDenyTest.php
  test/phpunit-bootstrap.php
  tools/docker-dev/identity/bootstrap.ldif
  tools/docker-dev/web/unity-apache.conf
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

replace closure with call_user_func
  test/functional/PiMemberApproveTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

self::class
  test/functional/PiMemberApproveTest.php
  test/functional/PiMemberDenyTest.php
  test/functional/SSHKeyAddTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

Path conditions:
  phpcbf: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/lib/.*|
)$

  phpcs: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/lib/.*|
)$

  php-l: any of: \.php$
  assert-UnityHTTPD-used: any of: \.php$, but not: (?x)^(
    resources/lib/UnityHTTPD\.php|
    workers/.*|
)$

  assert-utils-used: any of: \.php$, but not: ^resources/lib/utils\.php$
  assert-exceptions-used: any of: ^resources/.*\.php$, but not: ^resources/lib/UnityHTTPD\.php$
  assert-forbidden-used: any of: ^webroot/admin/.*\.php$
