Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

phpcbf:
  name: PHP Code Beautifier and Fixer
  entry: ./vendor/bin/phpcbf
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors
  language: system

phpcs:
  name: PHP CodeSniffer
  entry: ./vendor/bin/phpcs
  language: system
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors

php-l:
  name: php -l
  entry: php
  language: system
  args:
  - -l

assert-UnityHTTPD-used:
  name: Assert UnityHTTPD functions are used
  entry: bash ./test/assert-UnityHTTPD-used.bash
  language: system

assert-utils-used:
  name: Assert utils are used
  entry: bash ./test/assert-utils-used.bash
  language: system

assert-exceptions-used:
  name: Assert exceptions are used
  entry: bash ./test/assert-exceptions-used.bash
  language: system

assert-forbidden-used:
  name: Assert forbidden() is used
  entry: bash ./test/assert-forbidden-used.bash
  language: system

junk
  package.json
  resources/templates/footer.php
  resources/templates/header.php
  webroot/admin/content.php
  webroot/admin/notices.php
  webroot/js/global-early.js
  webroot/js/global-late.js
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

async
  webroot/admin/content.php
  webroot/admin/notices.php
  webroot/js/global-early.js
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

move messages to global-late
  resources/templates/footer.php
  resources/templates/header.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

revert apache site changes
  tools/docker-dev/web/unity-apache.conf
Due: none

comment
  .gitignore
Due: none

remove css files not needed
  package.json
  resources/templates/header.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

reorder list
  resources/templates/footer.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

add newline
  tools/docker-dev/web/unity-apache.conf
Due: none

put back unintentionally removed code
  webroot/admin/notices.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

fix variable name
  webroot/admin/notices.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

self-host JS instead of CDN (#465)
  .gitignore
  package-lock.json
  package.json
  resources/templates/footer.php
  resources/templates/header.php
  tools/docker-dev/web/unity-apache.conf
  webroot/admin/content.php
  webroot/admin/notices.php
  webroot/js/global-early.js
  webroot/js/global-late.js
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

enable the Title plugin in CKEditor for page contents
  tools/docker-dev/sql/bootstrap.sql
  webroot/admin/content.php
  webroot/js/global-early.js
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

Update webroot/js/global-early.js
  webroot/js/global-early.js
Due: none

enable the Title plugin in CKEditor for page contents (#467)
  tools/docker-dev/sql/bootstrap.sql
  webroot/admin/content.php
  webroot/js/global-early.js
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

Updated the web portal to make it more accessable.
  defaults/config.ini.default
  resources/templates/header.php
  webroot/admin/content.php
  webroot/admin/notices.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/css/global.css
  webroot/panel/account.php
  webroot/panel/groups.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

Updated the web portal to make it more accessable. (#464)
  defaults/config.ini.default
  resources/templates/header.php
  webroot/admin/content.php
  webroot/admin/notices.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/css/global.css
  webroot/panel/account.php
  webroot/panel/groups.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

update installation instructions
  README.md
Due: none

refactor scripts
  package.json
  resources/templates/footer.php
  resources/templates/header.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

ckeditor is not minified
  package.json
  resources/templates/header.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

load jquery first
  resources/templates/header.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

put back modal where it was
  resources/templates/footer.php
  resources/templates/header.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

refactor scripts (#468)
  package.json
  resources/templates/footer.php
  resources/templates/header.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

fix gitignore
  .gitignore
Due: none

replace custom tables with datatables.net
  .gitignore
  package-lock.json
  package.json
  resources/lib/UnityLDAP.php
  resources/templates/footer.php
  resources/templates/header.php
  webroot/admin/ajax/get_group_members.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/css/filters.css
  webroot/css/tables.css
  webroot/js/ckeditor5.umd.js
  webroot/js/filter.js
  webroot/js/sort.js
  webroot/js/tables.js
  webroot/panel/ajax/get_group_members.php
  webroot/panel/groups.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

whitespace
  resources/templates/header.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove duplicate modal
  resources/templates/footer.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove empty echo
  webroot/panel/groups.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

fix gitignore
  .gitignore
  webroot/js/ckeditor5.umd.js
Due: none

rewrite SSH key logic
  defaults/config.ini.default
  resources/lib/UnityUser.php
  resources/lib/utils.php
  test/functional/SSHKeyAddTest.php
  test/functional/SSHKeyDeleteTest.php
  test/phpunit-bootstrap.php
  test/unit/CSRFTokenTest.php
  test/unit/UtilsTest.php
  webroot/js/ajax/ssh_generate.php
  webroot/js/ajax/ssh_validate.php
  webroot/panel/account.php
  webroot/panel/modal/new_key.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

delete key by value instead of by index
  resources/lib/UnityUser.php
  test/functional/SSHKeyDeleteTest.php
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

fixup phpstan
  phpstan.neon
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

fix tests
  test/functional/SSHKeyDeleteTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

phpopenldaper write-through
  resources/lib/PosixGroup.php
  resources/lib/UnityGroup.php
  resources/lib/UnityOrg.php
  resources/lib/UnityUser.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

separate mandatory and optional query parameter getters
  resources/lib/UnityHTTPD.php
  webroot/api/content/index.php
  webroot/js/ajax/ssh_generate.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

optional
  resources/templates/header.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

use getPostData everywhere
  resources/templates/header.php
  webroot/admin/content.php
  webroot/admin/notices.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/panel/account.php
  webroot/panel/groups.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

Update webroot/admin/content.php
  webroot/admin/content.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

Path conditions:
  phpcbf: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/lib/.*|
)$

  phpcs: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/lib/.*|
)$

  php-l: any of: \.php$
  assert-UnityHTTPD-used: any of: \.php$, but not: (?x)^(
    resources/lib/UnityHTTPD\.php|
    workers/.*|
)$

  assert-utils-used: any of: \.php$, but not: ^resources/lib/utils\.php$
  assert-exceptions-used: any of: ^resources/.*\.php$, but not: ^resources/lib/UnityHTTPD\.php$
  assert-forbidden-used: any of: ^webroot/admin/.*\.php$
