Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

.pre-commit-config.yaml:

# pre-commit automatically excludes submodules
# exclude: |
#   (?x)^(
#       test/.*|
#   )$

repos:
  # auto formatters (no work required) #############################################################
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        # https://github.com/prettier/plugin-php/issues/2430
        exclude: workers/.*

  - repo: local
    hooks:
      - id: phpcbf
        name: PHP Code Beautifier and Fixer
        entry: ./vendor/bin/phpcbf
        args: [--standard=./.phpcs-ruleset.xml, --colors]
        language: system
        files: \.php$
        # exclude pure PHP files
        exclude: |
          (?x)^(
              test/.*|
              workers/.*|
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/lib/.*|
          )$

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        # exclude impure PHP files
        exclude: |
          (?x)^(
              composer\.json|
              composer\.lock|
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/templates/.*|
              webroot/.*|
          )$

  # linters (work required) ########################################################################
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-xml
      - id: check-added-large-files
      - id: check-executables-have-shebangs

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: phpcs
        name: PHP CodeSniffer
        entry: ./vendor/bin/phpcs
        language: system
        files: \.php$
        args: [--standard=./.phpcs-ruleset.xml, --colors]
        # exclude pure PHP files
        exclude: |
          (?x)^(
              test/.*|
              workers/.*|
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/lib/.*|
          )$
      - id: php-l
        name: php -l
        entry: php
        language: system
        files: \.php$
        args: [-l]
      - id: assert-UnityHTTPD-used
        name: Assert UnityHTTPD functions are used
        entry: bash ./test/assert-UnityHTTPD-used.bash
        language: system
        files: \.php$
        exclude: |
          (?x)^(
              resources/lib/UnityHTTPD\.php|
              workers/.*|
          )$
      - id: assert-utils-used
        name: Assert utils are used
        entry: bash ./test/assert-utils-used.bash
        language: system
        files: \.php$
        exclude: ^resources/lib/utils\.php$
      - id: assert-exceptions-used
        name: Assert exceptions are used
        entry: bash ./test/assert-exceptions-used.bash
        language: system
        files: ^resources/.*\.php$
        exclude: ^resources/lib/UnityHTTPD\.php$
      - id: assert-forbidden-used
        name: Assert forbidden() is used
        entry: bash ./test/assert-forbidden-used.bash
        language: system
        files: ^webroot/admin/.*\.php$

Update webroot/admin/pi-mgmt.php
  webroot/admin/pi-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

list dependency in readme.md
  README.md
Due: none

put back ajax
  resources/lib/UnityLDAP.php
  webroot/admin/ajax/get_group_members.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/panel/groups.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

remove ajax data type
  webroot/admin/pi-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

limit which columns are searchable
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/panel/groups.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

avoid use of columns.data option
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/panel/groups.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

get GID from column without .data()
  webroot/admin/pi-mgmt.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

render mailto links
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/js/global-early.js
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

enforce qualified user group (#519)
  LDAP.md
  README.md
  phpstan.neon
  resources/init.php
  resources/lib/PosixGroup.php
  resources/lib/UnityGroup.php
  resources/lib/UnityUser.php
  resources/mail/user_flag_added.php
  resources/mail/user_flag_removed.php
  resources/mail/user_flag_removed_admin.php
  test/Template.php
  test/functional/LeaveGroupTest.php
  test/functional/PIBecomeApproveTest.php
  test/functional/PIRemoveUserTest.php
  test/functional/WorkerUpdateQualifiedUsersGroupTest.php
  test/phpunit-bootstrap.php
  tools/docker-dev/identity/bootstrap.ldif
  workers/update-qualified-users-group.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

ghost, locked, idlelocked
  .pre-commit-config.yaml
  LDAP.md
  defaults/config.ini.default
  resources/init.php
  resources/lib/UnityLDAP.php
  resources/mail/user_flag_added.php
  resources/mail/user_flag_added_admin.php
  resources/mail/user_flag_removed.php
  resources/mail/user_flag_removed_admin.php
  test/functional/IdleUnlockTest.php
  test/functional/PageLoadTest.php
  test/functional/RegisterUserTest.php
  test/functional/ViewAsUserTest.php
  test/phpunit-bootstrap.php
  tools/docker-dev/identity/bootstrap.ldif
  webroot/panel/new_account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

whitespace
  defaults/config.ini.default
Due: none

remove more unused functions
  resources/lib/UnityLDAP.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove unused import
  resources/lib/UnityOrg.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove unused variables
  resources/lib/UnityOrg.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove arguments
  resources/lib/UnityLDAP.php
  resources/lib/UnityUser.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove unused function
  resources/lib/UnityOrg.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

phpstan ignore
  resources/lib/UnityLDAP.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove unused functions (#478)
  resources/lib/UnityLDAP.php
  resources/lib/UnityOrg.php
  resources/lib/UnityUser.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

replace custom tables with datatables.net (#456)
  .gitignore
  README.md
  package-lock.json
  package.json
  resources/lib/UnityLDAP.php
  resources/templates/footer.php
  resources/templates/header.php
  webroot/admin/ajax/get_group_members.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/css/filters.css
  webroot/css/tables.css
  webroot/js/filter.js
  webroot/js/global-early.js
  webroot/js/sort.js
  webroot/js/tables.js
  webroot/panel/ajax/get_group_members.php
  webroot/panel/groups.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

remove pages
  README.md
  resources/lib/UnitySQL.php
  resources/templates/header.php
  test/functional/PageLoadTest.php
  tools/docker-dev/sql/bootstrap.sql
  webroot/admin/content.php
  webroot/index.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

only ask for login when not logged in
  webroot/index.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

remove more stuff
  webroot/admin/ajax/get_page_contents.php
  webroot/api/content/index.php
  webroot/panel/support.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

remove broken login prompt
  webroot/index.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

allow header.php, footer.php to be overridden, add template home.php
  .gitignore
  deployment/mail_overrides/README.md
  deployment/templates_overrides/README.md
  phpstan.neon
  resources/init.php
  resources/lib/UnityMailer.php
  resources/lib/utils.php
  resources/templates/home.php
  webroot/admin/notices.php
  webroot/admin/pi-mgmt.php
  webroot/admin/user-mgmt.php
  webroot/index.php
  webroot/panel/account.php
  webroot/panel/groups.php
  webroot/panel/new_account.php
  webroot/panel/pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

add migration instructions
  README.md
Due: none

missed a spot
  resources/templates/header.php
  test/functional/PageLoadTest.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

update migration instructions
  README.md
Due: none

tell user to log in if not logged in
  resources/templates/home.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

same paragraph
  resources/templates/home.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

style
  webroot/panel/modal/new_pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

tweak strtolowers
  webroot/panel/ajax/pi_search.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

no results
  webroot/panel/modal/new_pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

add cache for pi_search.php using $_SESSION
  webroot/panel/ajax/pi_search.php
  webroot/panel/modal/new_pi.php
  webroot/panel/modal/pi_search.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

remove unused variable
  webroot/panel/modal/new_pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

add comment
  webroot/panel/modal/new_pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

update placeholder text
  webroot/panel/modal/new_pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

use variable
  webroot/panel/modal/new_pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

const
  webroot/panel/modal/new_pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

remove empty()
  webroot/panel/ajax/pi_search.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used
