Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

phpcbf:
  name: PHP Code Beautifier and Fixer
  entry: ./vendor/bin/phpcbf
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors
  language: system

prettier (php):
  name: prettier (php)
  entry: npx
  args:
  - prettier
  - --plugin=@prettier/plugin-php
  - --php-version=8.3
  - --write
  language: system

phpcs:
  name: PHP CodeSniffer
  entry: ./vendor/bin/phpcs
  language: system
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors

php-l:
  name: php -l
  entry: php
  language: system
  args:
  - -l

assert-UnityHTTPD-used:
  name: Assert UnityHTTPD functions are used
  entry: bash ./test/assert-UnityHTTPD-used.bash
  language: system

assert-utils-used:
  name: Assert utils are used
  entry: bash ./test/assert-utils-used.bash
  language: system

assert-exceptions-used:
  name: Assert exceptions are used
  entry: bash ./test/assert-exceptions-used.bash
  language: system

mailToPIGID: Don't chain calls that may fail
  resources/lib/UnityGroup.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

groups.php: Store modalErrors to display on reload
  webroot/panel/groups.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

groups.php: Test variable set before using
  webroot/panel/groups.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

getPIOwnerFromEmail -> getUidFromEmail
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

mailToPIGID -> ownerMail2GID
  resources/lib/UnityGroup.php
  webroot/panel/groups.php
  webroot/panel/new_account.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

Allow joining PI group by PI email address (#350)
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  webroot/panel/groups.php
  webroot/panel/new_account.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

test PI membership requests using mail
  test/functional/NewUserTest.php
  test/functional/PIMemberRequestTest.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

test PI membership requests using mail (#351)
  test/functional/NewUserTest.php
  test/functional/PIMemberRequestTest.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

documentation
  defaults/config.ini.default
Due: none

throw and catch exception
  resources/autoload.php
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  resources/lib/exceptions/EntryNotFoundException.php
  test/phpunit-bootstrap.php
  webroot/panel/groups.php
  webroot/panel/new_account.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

assert modal error
  test/functional/PIMemberRequestTest.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

throw exceptions in `OwnerMail2GID` (#352)
  resources/autoload.php
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  resources/lib/exceptions/EntryNotFoundException.php
  test/functional/PIMemberRequestTest.php
  test/phpunit-bootstrap.php
  webroot/panel/groups.php
  webroot/panel/new_account.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

require ToS for requesting PI group membership in groups.php
  test/functional/PIMemberRequestTest.php
  webroot/panel/groups.php
  webroot/panel/modal/new_pi.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

cleanup
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

cleanup (#354)
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

missed one
  test/functional/PiMemberApproveTest.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

Update webroot/panel/modal/new_pi.php
  webroot/panel/modal/new_pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

indentation
  webroot/panel/modal/new_pi.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

require ToS for requesting PI group membership in groups.php (#353)
  test/functional/PIMemberRequestTest.php
  test/functional/PiMemberApproveTest.php
  webroot/panel/groups.php
  webroot/panel/modal/new_pi.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

setup error handler to make (undefined array key) fatal
  defaults/config.ini.default
  deployment/overrides/phpunit/config/config.ini
  resources/init.php
  resources/lib/UnityHTTPD.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

new convention
  .pre-commit-config.yaml
  CONTRIBUTING.md
  test/assert-no-assertTrue.bash
Due: none

no loop
  test/assert-no-assertTrue.bash
Due: none

exclude tests from utils check
  .pre-commit-config.yaml
Due: none

no assertTrue
  test/functional/AccountDeletionRequestTest.php
  test/functional/InvalidEPPNTest.php
  test/functional/NewUserTest.php
  test/functional/PIMemberRequestTest.php
  test/functional/PageLoadTest.php
  test/functional/PiBecomeRequestTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/PiMemberDenyTest.php
  test/functional/PiRemoveUserTest.php
  test/functional/ViewAsUserTest.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

add phpunit markup script
  CONTRIBUTING.md
  test/phpunit-markup.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

fix function names
  resources/lib/UnityLDAP.php
  webroot/admin/user-mgmt.php
Due: phpcbf, prettier (php), phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

update markup script
  test/phpunit-markup.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

strict LDAP
  resources/lib/UnityLDAP.php
  workers/update-ldap-cache.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

more default_values args
  resources/lib/UnityLDAP.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

optional
  resources/lib/UnityLDAP.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

strict LDAP (#359)
  resources/lib/UnityLDAP.php
  workers/update-ldap-cache.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

move test functions
  test/functional/NewUserTest.php
  test/phpunit-bootstrap.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

move test functions (#360)
  test/functional/NewUserTest.php
  test/phpunit-bootstrap.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

improve array assertions
  test/functional/PIMemberRequestTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/PiMemberDenyTest.php
  test/phpunit-bootstrap.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

improve array assertions (#362)
  test/functional/PIMemberRequestTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/PiMemberDenyTest.php
  test/phpunit-bootstrap.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used

fix redis before append or remove cache array
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  resources/lib/UnityOrg.php
  resources/lib/UnityRedis.php
  resources/lib/UnityUser.php
  test/phpunit-bootstrap.php
  workers/update-ldap-cache.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

rewrite
  resources/lib/UnityRedis.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

fix bug
  resources/lib/UnityRedis.php
Due: prettier (php), php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

Path conditions:
  phpcbf: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/lib/.*|
)$

  prettier (php): any of: \.php$, but not: (?x)^(
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/templates/.*|
    webroot/.*|
)$

  phpcs: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/lib/.*|
)$

  php-l: any of: \.php$
  assert-UnityHTTPD-used: any of: \.php$, but not: (?x)^(
    resources/lib/UnityHTTPD\.php|
    workers/.*|
)$

  assert-utils-used: any of: \.php$, but not: ^resources/lib/utils\.php$
  assert-exceptions-used: any of: ^resources/.*\.php$, but not: ^resources/lib/UnityHTTPD\.php$
