Repository UnityHPC/unity-web-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

phpcbf:
  name: PHP Code Beautifier and Fixer
  entry: ./vendor/bin/phpcbf
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors
  language: system

phpcs:
  name: PHP CodeSniffer
  entry: ./vendor/bin/phpcs
  language: system
  args:
  - --standard=./.phpcs-ruleset.xml
  - --colors

php-l:
  name: php -l
  entry: php
  language: system
  args:
  - -l

assert-UnityHTTPD-used:
  name: Assert UnityHTTPD functions are used
  entry: bash ./test/assert-UnityHTTPD-used.bash
  language: system

assert-utils-used:
  name: Assert utils are used
  entry: bash ./test/assert-utils-used.bash
  language: system

assert-exceptions-used:
  name: Assert exceptions are used
  entry: bash ./test/assert-exceptions-used.bash
  language: system

assert-forbidden-used:
  name: Assert forbidden() is used
  entry: bash ./test/assert-forbidden-used.bash
  language: system

added a z-index to the header (#512)
  webroot/css/navbar.css
Due: none

respect $send_mail argument
  resources/lib/UnityGroup.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

optimize, prettify UnityLDAP->getAllPIGroups()
  resources/lib/UnityLDAP.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

update readme
  README.md
Due: none

setup init.php for workers
  test/functional/WorkerRemoveUsersFromGroupTest.php
  test/phpunit-bootstrap.php
  workers/clear-audit-log.php
  workers/group_user_request_owner_reminder.php
  workers/init.php
  workers/remove-users-from-group.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

update docblock
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

update test
  test/functional/WorkerRemoveUsersFromGroupTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

validate false
  test/functional/WorkerRemoveUsersFromGroupTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

tweak exit code
  workers/remove-users-from-group.php
Due: php-l, assert-utils-used

add init file for workers, write tests for workers (#366)
  test/functional/WorkerRemoveUsersFromGroupTest.php
  test/phpunit-bootstrap.php
  workers/clear-audit-log.php
  workers/group_user_request_owner_reminder.php
  workers/init.php
  workers/remove-users-from-group.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

disable exception handler for workers
  deployment/overrides/worker/config/config.ini
  resources/lib/UnityHTTPD.php
Due: php-l, assert-utils-used

add more tests
  test/functional/WorkerRemoveUsersFromGroupTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

remove $enforce_PRG
  test/functional/DeleteMessageTest.php
  test/phpunit-bootstrap.php
  webroot/panel/ajax/delete_message.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

die with exit code
  resources/lib/UnityHTTPD.php
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

rework navbar, header
  resources/templates/header.php
  webroot/css/global.css
  webroot/css/navbar.css
  webroot/js/global-late.js
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

revert header
  resources/templates/header.php
  webroot/css/navbar.css
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

simplify error handling (#514)
  deployment/overrides/worker/config/config.ini
  resources/lib/UnityHTTPD.php
  test/functional/DeleteMessageTest.php
  test/phpunit-bootstrap.php
  webroot/panel/ajax/delete_message.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

install garden
  composer.json
  composer.lock
Due: none

use garden for remove-users-from-group.php
  workers/remove-users-from-group.php
Due: php-l, assert-utils-used

fix garden
  workers/remove-users-from-group.php
Due: php-l, assert-utils-used

garden allows too many arguments
  test/functional/WorkerRemoveUsersFromGroupTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

install garden for making CLIs (#518)
  composer.json
  composer.lock
  test/functional/WorkerRemoveUsersFromGroupTest.php
  workers/remove-users-from-group.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

implement logic behind user flags
  .pre-commit-config.yaml
  LDAP.md
  README.md
  phpstan.neon
  resources/init.php
  resources/lib/PosixGroup.php
  resources/lib/UnityGroup.php
  resources/lib/UnityLDAP.php
  resources/lib/UnityOrg.php
  resources/lib/UnityUser.php
  resources/mail/group_reinstate.php
  resources/mail/user_flag_removed_admin.php
  test/Template.php
  test/functional/IdleUnlockTest.php
  test/functional/LeaveGroupTest.php
  test/functional/PIBecomeApproveTest.php
  test/functional/PageLoadTest.php
  test/functional/PiDefunctTest.php
  test/functional/PiDisbandTest.php
  test/functional/PiMemberApproveTest.php
  test/functional/PiRemoveUserTest.php
  test/functional/RegisterUserTest.php
  test/functional/ViewAsUserTest.php
  test/functional/WorkerUpdateQualifiedUsersGroupTest.php
  test/phpunit-bootstrap.php
  tools/docker-dev/identity/Dockerfile
  tools/docker-dev/identity/bootstrap.ldif
  tools/docker-dev/identity/unity-cluster-schema.ldif
  webroot/admin/pi-mgmt.php
  webroot/panel/modal/pi_search.php
  webroot/panel/new_account.php
  webroot/panel/pi.php
  workers/group_user_request_owner_reminder.php
  workers/update-qualified-users-group.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used, assert-forbidden-used

add users for new test cases
  test/phpunit-bootstrap.php
  tools/docker-dev/identity/bootstrap.ldif
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

update package-lock.json
  package-lock.json
Due: none

band aid testing bug
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

add LDAP entry for test case
  tools/docker-dev/identity/bootstrap.ldif
Due: none

import course creator
  .gitignore
  deployment/overrides/course-creator/config/config.ini
  workers/unity-course.php
Due: php-l, assert-utils-used

use worker init file
  workers/unity-course.php
Due: php-l, assert-utils-used

write test
  test/functional/PIBecomeApproveTest.php
  test/functional/RegisterUserTest.php
  test/functional/WorkerRemoveUsersFromGroupTest.php
  test/functional/WorkerUnityCourseTest.php
  test/phpunit-bootstrap.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

cleanup tempfile
  test/functional/WorkerUnityCourseTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

remove phpstan ignore
  phpstan.neon
Due: none

fix test
  test/functional/RegisterUserTest.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

import course creator worker (#523)
  .gitignore
  deployment/overrides/course-creator/config/config.ini
  phpstan.neon
  test/functional/PIBecomeApproveTest.php
  test/functional/RegisterUserTest.php
  test/functional/WorkerRemoveUsersFromGroupTest.php
  test/functional/WorkerUnityCourseTest.php
  test/phpunit-bootstrap.php
  workers/unity-course.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used

allow multiple groups for one user flag
  README.md
  defaults/config.ini.default
  resources/lib/UnityLDAP.php
  resources/lib/UnityUser.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

remove comments from email templates
  resources/mail/account_deletion_request_admin.php
  resources/mail/group_created.php
  resources/mail/group_denied.php
  resources/mail/group_disband.php
  resources/mail/group_request.php
  resources/mail/group_request_admin.php
  resources/mail/group_user_added.php
  resources/mail/group_user_added_owner.php
  resources/mail/group_user_denied.php
  resources/mail/group_user_denied_owner.php
  resources/mail/group_user_removed.php
  resources/mail/group_user_removed_owner.php
  resources/mail/group_user_request.php
  resources/mail/group_user_request_owner.php
  resources/mail/user_loginshell.php
  resources/mail/user_sshkey.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

tweak death message
  resources/lib/UnityHTTPD.php
Due: php-l, assert-utils-used

remove bad comment
  resources/lib/UnityGroup.php
Due: php-l, assert-UnityHTTPD-used, assert-utils-used, assert-exceptions-used

missed a spot
  webroot/admin/content.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used, assert-forbidden-used

update account.php post behavior
  webroot/panel/account.php
Due: phpcbf, phpcs, php-l, assert-UnityHTTPD-used, assert-utils-used

Path conditions:
  phpcbf: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/lib/.*|
)$

  phpcs: any of: \.php$, but not: (?x)^(
    test/.*|
    workers/.*|
    node_modules/.*|
    resources/lib/phpopenldaper/.*|
    vendor/.*|
    resources/lib/.*|
)$

  php-l: any of: \.php$
  assert-UnityHTTPD-used: any of: \.php$, but not: (?x)^(
    resources/lib/UnityHTTPD\.php|
    workers/.*|
)$

  assert-utils-used: any of: \.php$, but not: ^resources/lib/utils\.php$
  assert-exceptions-used: any of: ^resources/.*\.php$, but not: ^resources/lib/UnityHTTPD\.php$
  assert-forbidden-used: any of: ^webroot/admin/.*\.php$
